.donation-box {
  position: relative;

  &.is-loading {
	  form {
      opacity: 0.4;
			pointer-events: none;
		}
	}

	&__loader {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	&.is-loading &__loader {
		display: block;
	}
}
