@mixin klaro-modal() {
  background-color: var(--background);
  color: inherit;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  max-height: 98%;
  overflow: auto;
  width: 100%;
  max-width: calc(100% - 24px);
  margin: 13px auto 0;
  z-index: 1001;

  @include media('>=m') {
    max-width: 710px;
  }
}

.klaro {
  $btn-margin-right: 1rem;
  $modal-padding: 32px 48px 24px 24px;

  &.cm-as-context-notice {
    background: var(--primary-light-5);

    @include distance('padding-top', 'medium');
    @include distance('padding-bottom', 'medium');

    .is-theme-dark & {
      background: var(--primary-dark-2);
    }

    [data-name=youtube] & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
    }
  }

  //Common styles for all notices
  .cookie-modal,
  .context-notice,
  .cookie-notice {
    @import 'klaro-switch';

    a {
      color: var(--primary-light-2);
      text-decoration: none;
    }

    p,
    h1,
    h2,
    ul,
    li {
      display: block;
      margin-top: 1rem;
      //line-height: 1.25;
    }

    .cm-link {
      margin-right: 0.5rem;
      vertical-align: middle;
    }

    .cm-btn {
      display: inline-block;
      font-weight: 500;
      border: 2px solid $primary;
      border-radius: 3px;
      padding: 12px 24px;
      font-family: $sans;
      text-align: center;
      color: $primary;
      background-color: transparent;
      cursor: pointer;
      width: auto;

      @include distance('margin-bottom', 'mini');
      @include distance('margin-top', 'mini');

      margin-right: 1rem;

      &:last-child {
        margin-right: auto;
      }

      &:hover {
        color: $background;
        background-color: $primary;
      }

      &:focus {
        box-shadow: 0 0 0 2px rgba($support, 0.3);
        outline: none;
      }

      &[disabled=disabled],
      &[disabled],
      &:disabled {
        background-color: transparent;
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .context-notice {
    @include distance('padding', 'mini');

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 1.25;

    [data-name=youtube] & {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      flex-wrap: nowrap;
    }

    .cm-btn {
      padding: 6px 20px;
    }

    p {
      display: block;
      flex-grow: 0;
      text-align: center;
      padding-top: 0;
      margin-top: 0;
      width: 100%;
    }
  }

  .cookie-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 1000;

    &.cm-embedded {
      position: relative;
      height: inherit;
      width: inherit;
      left: inherit;
      right: inherit;
      z-index: 0;

      .cm-modal.cm-klaro {
        position: relative;
        transform: none;
      }
    }

    .cm-bg {
      background: var(--primary);
      opacity: 0.95;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;

      .is-theme-dark & {
        background: var(--primary-dark-1);
      }
    }

    .cm-modal {
      &.cm-klaro {
        @include klaro-modal();

        border-top: 4px solid var(--secondary);
      }

      .hide {
        border-style: none;
        background: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;

        svg {
          transform: scale(1.2, 1.2);
          stroke: currentColor;
        }
      }

      .cm-footer {
        background: var(--primary-light-4);
        padding: $modal-padding;

        .is-theme-dark & {
          background: var(--primary-light-1);
        }

        &-buttons {
          display: flex;
          flex-flow: row;
          justify-content: space-between;

          @include media('<s') {
            display: block;
          }

          .cm-btn {
            flex: 1 1 auto;
          }
        }

        .cm-powered-by {
          font-size: 0.8em;
          padding-top: 4px;
          text-align: right;
          padding-right: 8px;
        }
      }

      .cm-header {
        padding: $modal-padding;

        h1 {
          margin: 0;
          font-size: 1.5rem;
          display: block;

          &.title {
            padding-right: 20px;
          }
        }
      }

      .cm-body {
        border-top: 1px solid var(--primary-light-3);
        //border-bottom: 1px solid var(--primary-light-3);
        padding: $modal-padding;

        ul {
          display: block;
        }

        span {
          display: inline-block;
          width: auto;
        }

        ul.cm-services,
        ul.cm-purposes {
          padding: 0;
          margin: 0;

          li.cm-purpose {
            .cm-services {
              .cm-caret {
                color: var(--primary-light-3);
              }

              .cm-content {
                display: none;

                &.expanded {
                  margin-top: 10px;
                  display: block;
                }
              }
            }
          }

          li.cm-service,
          li.cm-purpose {
            position: relative;
            vertical-align: middle;
            padding-left: 60px;
            min-height: 40px;

            &:first-child {
              margin-top: 0;
            }

            p {
              margin-top: 0;
            }

            p.purposes {
              color: var(--primary-light-2);
              font-size: 0.875rem;
            }

            &.cm-toggle-all {
              border-top: 1px solid var(--primary-light-3);
              padding-top: 16px;
            }

            span.cm-list-title {
              font-weight: 500;
            }

            span.cm-opt-out,
            span.cm-required {
              //@include var(color, dark2);
              padding-left: 0.2em;
              font-size: 0.825rem;
            }
          }
        }
      }
    }
  }

  .cookie-notice:not(.cookie-modal-notice) {
    background-color: var(--background);
    border-left: 4px solid $primary;
    box-shadow: 0 4px 12px 0 rgba(#000, 0.1);
    padding: 12px 24px;
    z-index: 999;
    position: fixed;
    width: 100%;
    width: calc(100% - 24px);
    max-width: 600px;
    bottom: 20px;
    right: 20px;

    .is-theme-dark & {
      box-shadow: 0 4px 12px 0 rgba(#fff, 0.1);
    }

    &.cn-embedded {
      position: relative;
      height: inherit;
      width: inherit;
      left: inherit;
      right: inherit;
      bottom: inherit;
      z-index: 0;

      .cn-body {
        padding-top: 0.5em;
      }
    }

    .cn-body {
      padding: 12px 24px 24px 24px;

      p {
        margin-bottom: 0.5em;
      }

      p.cn-changes {
        text-decoration: underline;
      }

      .cn-learn-more {
        display: inline-block;
        flex-grow: 1;
        color: var(--primary);

        &:hover {
          color: var(--primary-dark-2);
        }

        .is-theme-dark &:hover {
          color: $text-white-hover;
        }
      }

      .cn-buttons {
        display: inline-block;
        margin-top: -0.5em;

        button.cm-btn {
          margin-top: 0.5rem;
          margin-right: $btn-margin-right;
          padding: 6px 20px;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .cn-ok {
        // we add a margin that cancels out unless the items are wrapped
        // in which case it will add some spacing between them
        margin-top: -0.5em;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        //justify-content: right;
        align-items: baseline;

        a,
        div {
          margin-top: 0.5em;
        }
      }
    }
  }

  .cookie-modal-notice {
    @include klaro-modal();

    padding: 1em;
    padding-top: 0.2em;

    .cn-ok {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 1em;
    }
  }

  .cookie-notice-hidden {
    display: none !important;
  }
}

[data-type=placeholder][data-name=youtube] {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: percentage(9/16);
  }
}
