.cm-switch-container {
  display: block;
  position: relative;
  padding: 10px;
  padding-left: 66px;
  line-height: 20px;
  vertical-align: middle;
  min-height: 40px;

  &:last-child {
    border-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }
}

.cm-switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
}

.cm-list-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 50px;
  height: 30px;
}

//Default state
.cm-list-input + .cm-list-label .slider {
  //Track
  &::before {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--primary-light-4);
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.2s ease;
  }

  //Tip
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 26px;
    width: 26px;
    border: 2px solid var(--primary-light-2);
    border-radius: 50%;
    background-color: var(--primary-light-5);
    transition: all 0.2s ease;

    .is-theme-dark & {
      border-color: var(--primary-light-3);
      background-color: var(--primary-dark-2);
    }
  }
}

//Active
.cm-list-input:checked + .cm-list-label .slider {
  &::before {
    background-color: var(--primary);
  }

  &::after {
    background-color: var(--primary-light-2);
    transform: translate(24px);

    .is-theme-dark & {
      border-color: var(--primary);
    }
  }
}

//Focus
.cm-list-input:focus + .cm-list-label .slider {
  &::after {
    box-shadow: 0 0 0 2px var(--primary-light-4);
  }
}

.cm-list-input.half-checked:checked + .cm-list-label .slider {
  opacity: 0.6;

  &::after {
    transform: translateX(12px);
  }
}

.cm-list-input.only-required + .cm-list-label .slider {
  opacity: 0.6;

  &::after {
    transform: translateX(12px);
  }
}

.cm-list-input.required:checked + .cm-list-label .slider {
  opacity: 0.6;
  cursor: not-allowed;
}

.cm-list-title {
  font-weight: 500;
}

.cm-list-description {
  padding-top: 4px;
}

.cm-list-label {
  .cm-switch {
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  .slider {
    display: block;
    width: 50px;
    position: absolute;
    height: 26px;
    cursor: pointer;
  }

  //Toggle track
  .slider::before {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--primary-light-4);
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.2s ease;
  }

  input:checked + .slider::before {
    background-color: var(--primary);
  }

  //Toggle tip
  .slider::after {
    content: "";
    position: absolute;
    top: 0;
    height: 26px;
    width: 26px;
    border: 2px solid var(--primary-light-2);
    border-radius: 50%;
    background-color: var(--primary-light-5);
    transition: all 0.2s ease;
  }

  input:checked + .slider::after {
    background: var(--primary-light-2);
    transform: translate(24px);
  }

  input.half-checked .slider::after {
    transform: translate(12px);
  }
}
