.linear-progress {
  background: whiten($primary, 4);
  height: 4px;
  position: relative;
  overflow: hidden;
  animation: start 0.3s ease-in;

  &__bar {
    position: absolute;
    background: $primary;
    transition: transform 0.2s linear;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;

    &:first-child {
      animation: progressLinearMovement 2.75s infinite;
      animation-delay: 0;
    }

    &:last-child {
      left: -100%;
      animation: progressLinearMovement 2.75s infinite;
      animation-delay: 0.7s;
    }
  }
}

@keyframes progressLinearMovement {
  0% {
    left: -100%;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}
