.share {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  line-height: 1;

  &__label {
    display: inline-block;
    margin-right: 8px;
  }

  &__btn {
    padding: 4px;
    margin: 0 4px;

    &.js-native-share-btn {
      display: none;
    }
  }

  &.is-native-share {
    cursor: pointer;

    a {
      display: none;
    }

    .js-native-share-btn {
      display: inline-block;
    }
  }
}
