.youtube-player {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  background: var(--primary-dark-2);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-dark-4);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 3;
    cursor: pointer;
  }

  &:hover::before {
    opacity: 0.4;
  }

  &::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='width: 40px; height: 40px; fill:none;stroke:#{inlinesvg($white)};stroke-miterlimit:10;stroke-width:32px'/><path d='M216.32,334.44,330.77,265.3a10.89,10.89,0,0,0,0-18.6L216.32,177.56A10.78,10.78,0,0,0,200,186.87V325.13A10.78,10.78,0,0,0,216.32,334.44Z' style='fill:#{inlinesvg($white)}'/></svg>");
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
    cursor: pointer;
  }

  &.is-loaded::before,
  &.is-loaded::after {
    content: none;
  }

  img,
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  img {
    z-index: 2;
  }

  &.is-loaded {
    &::before,
    &::after,
    img {
      display: none;
      content: none;
    }
  }
}
