.audio-dashboard {
  .linear-progress {
    visibility: hidden;
  }

  &.is-loading {
    opacity: 0.5;
    pointer-events: none;
  }

  &.is-loading .linear-progress {
    visibility: visible;
  }

  &__item {
    display: block;
    border-bottom: 1px solid var(--primary-light-4);

    &:hover {
      color: var(--primary-light-2);

      html.is-theme-dark {
        color: $text-white-hover;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &.is-current {
      pointer-events: none;
      color: var(--primary-light-2);
    }
  }
}

.audio-dashboard-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  max-width: 1000px;
}
