.carousel {
  &--special {
    .carousel__slide {
      width: 100%;
      margin: 0 12px;

      @include media(">=s") {
        width: calc((100% - 24px) / 2);
      }

      @include media(">=l") {
        width: calc((100% - 48px) / 3);
      }
    }
  }

  &--gallery &__slide {
    width: auto;
    margin: 0 6px;
    background-color: var(--primary-dark-4);

    img {
      display: block;
      height: 300px;
      width: auto;
      //min-width: 300px;
      max-width: none;
      margin-left: auto;
      margin-right: auto;
      transition: opacity 0.4s;
      opacity: 0;

      &.flickity-lazyloaded,
      &.flickity-lazyerror {
        opacity: 1;
      }

      @include media(">=m") {
        height: 400px;
      }

      @include media('>=xl') {
        height: 582px;
      }
    }

    figcaption {
      color: $white;
      display: block;
      width: 100%;
      padding: 6px;
      font-size: 0.75rem;
    }
  }

  &__slider.flickity-enabled &__slide figcaption {
    position: absolute;
    bottom: 0;
    background: inherit;
    opacity: 0.95;
  }
}
