.donation-section {
  counter-reset: funds;

  &__image {
    @include responsive-media-wrapper(16,9);
  }

  &__box {
    padding: 1rem 1rem 0.75rem 4.5rem;
    position: relative;

    &::before {
      counter-increment: funds;
      content: counter(funds);
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
      font-size: 60px;
      font-weight: 500;
      line-height: 22px;
      text-align: center;
    }
  }

  &__first-col {
    order: 2;

    @include media('>=m') {
      order: 1;
    }
  }

  &__second-col {
    order: 1;

    @include media('>=m') {
      order: 2;
    }
  }

  &__offset-content {
    @include media('>=m') {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 1rem;
    }
  }

  &__blue-box {
    background: $primary;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: $serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;

    html.is-theme-dark & {
      background-color: $eum-primary;
    }

    @include media('>=m') {
      font-size: 1.75rem;
    }
  }

  &__white-box {
    --background: #{$white};

    html.is-theme-dark & {
      --background: #{sass-blacken($eum-primary, 2)};
    }

    padding: 1rem;
    background-color: var(--background);
  }

  &__white-section {
    background-color: var(--background);
  }
}
