.history-carousel {
  position: relative;

  &__slider {
    padding-bottom: 40px;
    background: linear-gradient(transparent, transparent 30%, blacken($primary, 2) 30%, blacken($primary, 2) 100%);
  }

  &__slide {
    position: relative;
    width: 100%;
    width: calc(100% - 24px);
    max-width: 740px;
    margin: 0 12px;

    &--full {
      width: 100%;
      max-width: none;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .flickity-prev-next-button {
    transform: none;
    top: 0;
    background-color: transparent;
    border: 1px solid $primary;
    width: 30px;
    height: 30px;
    color: $primary;

    .flickity-button-icon {
      position: absolute;
      left: 25%;
      top: 25%;
      width: 50%;
      height: 50%;
    }

    &.previous {
      left: auto;
      right: 36px;
    }

    &.next {
      right: 0;
    }
  }

  &__controls {
    position: relative;
    padding-right: 90px;
    margin-bottom: 20px;

    @include media('>=m') {
      margin-bottom: 40px;
      padding-right: 120px;
    }
  }

  .range {
    padding-top: 5px;
    height: 35px;
  }

  .range input[type="range"] {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    @mixin track() {
      background-color: whiten($secondary, 4);
    }

    @mixin thumb() {
      background-color: $secondary;
    }

    @mixin progress() {
      background-color: $secondary;
      border-radius: 2px;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-webkit-slider-thumb {
      @include thumb;
    }

    &:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 2px whiten($secondary, 1);
    }

    &::-moz-range-track {
      @include track;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &:focus::-moz-range-thumb {
      box-shadow: 0 0 0 2px whiten($secondary, 1);
    }

    &::-moz-range-progress {
      @include progress;
    }

    &::-ms-track {
      border-color: transparent;
      color: transparent;
      background-color: transparent;
    }

    &::-ms-fill-lower {
      @include progress();
    }

    &::-ms-fill-upper {
      background-color: whiten($secondary, 2);
    }

    &::-ms-thumb {
      @include thumb();
    }

    &:focus::-ms-thumb {
      box-shadow: 0 0 0 2px whiten($secondary, 1);
    }
  }

  &__input-ticks {
    display: block;
    position: relative;
    height: 1rem;

    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      font-weight: 500;
      font-size: 0.75rem;
      top: 0;
      transform: translateX(-50%);
      opacity: 0;
      cursor: pointer;

      &.milestone {
        opacity: 1;
      }

      &:first-child {
        transform: none;
      }

      &:last-child {
        right: 0;
        transform: none;
      }

      @include media('<m') {
        display: none;

        &:first-child,
        &:last-child {
          display: block;
        }
      }
    }
  }
}

.history-carousel-section {
  &__link.invert {
    background-color: blacken($primary, 4);
  }

  & + section {
    background: linear-gradient(blacken($primary, 2), blacken($primary, 2) 60%, transparent 60%, transparent 100%);

    .invert {
      --background: blacken($primary, 4);
    }
  }
}

.ignatius-video {
  &__embed-container {
    border: 2px solid var(--text-color);
  }
}
