.home-vocations {
  background: linear-gradient($primary, $primary 70%, transparent 70%, transparent 100%);

  .is-theme-dark & {
    background: linear-gradient(var(--primary-dark-1), var(--primary-dark-1) 70%, transparent 70%, transparent 100%);
  }
}
