.intro {
  padding-bottom: 2rem;
  overflow: hidden;

  @include media(">=l") {
    padding-bottom: 3rem;
  }

  &__wrapper {
    background-color: var(--primary);
    color: $white;

    html.is-theme-dark & {
      background-color: #{sass-blacken($eum-primary, 1)};
    }
  }

  &__image {
    padding-bottom: 100%;
    width: 100%;

    @include media(">=l") {
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
    }
  }

  .row {
    @include media(">=l") {
      flex-wrap: nowrap;
    }
  }

  .text {
    line-height: 1.666;
    font-size: 1.125rem;
  }

  .special-link {
    color: $secondary;

    &::after {
      background: $secondary;
    }

    &:hover {
      color: whiten($secondary, 2);

      &::after {
        color: whiten($secondary, 2);
        background: whiten($secondary, 2);
      }
    }
  }
}
