.js-news-dynamic-grid {
  .js-news-filters {
    .btn.is-selected {
      color: var(--background);
      background-color: var(--primary);
    }
  }

  .linear-progress {
    visibility: hidden;
  }

  &.is-loading {
    .js-news-articles {
      opacity: 0.5;
    }

    .linear-progress {
      visibility: visible;
    }
  }
}
