.news-media {
  --background: #{sass-blacken($eum-primary, 3)};

  html.is-theme-dark & {
    --background: #{sass-blacken($eum-primary, 4)};
  }

  background-color: var(--background);
  color: white;
}
