.special {
  &--white {
    --tertiary-light-5: #fff;

    html.is-theme-dark & {
      --tertiary-light-5: #{$eum-primary};
    }
  }

  &__btn {
    a {
      @include special-link(false, false, 0.25, 1);

      margin-right: 1.5rem;
    }
  }
}
