.carousel {
  &--stories &__slide {
    @include media(">=xl") {
      width: calc((100% - 60px) / 6);
    }
  }

  &--stories .article__title {
    @include media(">=xl") {
      @include heading(6);

      font-weight: 600;
    }
  }
}
