.topic-grid {
  position: relative;
  padding-top: 4rem;

  &__image {
    @include responsive-media-wrapper(1,1);

    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    @include media(">=s") {
      width: 80%;
      right: -1rem;
    }

    @include media(">=l") {
      right: -3rem;
      width: 60%;
    }
  }

  .topic {
    border: 1px solid transparent;
  }

  .topic--text-small .topic__title {
    @include media('>=m') {
      line-height: 3.5rem;
    }
  }

  .topic__content {
    @include media('<m') {
      padding: 16px;
    }
  }
}

html.is-text-large .topic-grid .topic.topic--text-small {
  .topic__title {
    @include media('<l') {
      font-size: 2.25rem;
    }

    @include media('<m') {
      font-size: 1.5rem;
    }
  }
}
