.video-dashboard {
  &--bottom-overlap {
    padding-bottom: 140px;
  }

  .linear-progress {
    //background: transparent;
    visibility: hidden;
  }

  &.is-loading {
    opacity: 0.5;
    pointer-events: none;
  }

  &.is-loading .linear-progress {
    visibility: visible;
  }

  &__player-title {
    transition: all 0.2s linear;
  }

  &__item {
    display: block;
    transition: all 0.2s linear;
    border-bottom: 1px solid var(--primary-dark-5);

    @include heading(6);

    &:first-child {
      @include media('>=l') {
        margin-top: 0;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &.is-current {
      pointer-events: none;
      cursor: initial;
      color: var(--primary-light-3);
    }
  }
}
