.works {
  &__controls {
    @include media(">=s") {
      display: flex;
      align-items: center;
    }
  }

  &__display-control {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    @include media(">=m") {
      overflow-x: visible;
    }
  }

  &__map {
    --primary: #{$eum-primary};
    --text-color: #{$eum-primary};

    color: var(--text-color);

    html.is-theme-dark & .article__title a:hover {
      color: var(--primary-dark-1);
    }
  }

  &__grid {
    display: none;
    z-index: -1;
  }
}
