
<div class="topic-grid">
  <div class="topic-grid__image">
    <img src="/img/test/topic-grid-1.jpg">
  </div>
  <div class="row row--no-gutter">
    <div class="col-12 col-s-6 m-bottom--none">
      <article class="topic topic--text-small">
        <div class="topic__wrapper">
          <div class="topic__image">
            <img src="/img/con-i-giovani.jpg"/>
          </div>
          <div class="topic__content">
            <header class="topic__header">
              <div class="topic__title">Con i giovani</div>
            </header>
            <p class="topic__text">Perché facciano esperienza viva di Dio, incarnino il Vangelo in una vita autentica, aperta alla speranza, attenta al bene comune.</p>
            <div class="topic__btn">
              <a href="educazione/">Scuole</a><a href="giovani/">Altre proposte</a>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="col-12-col-s-6 m-bottom--none block-on-m">&nbsp;<!-- Spacer--></div>
    <div class="col-12 col-s-6 m-bottom--none">
      <article class="topic topic--text-small topic--secondary">
        <div class="topic__wrapper">
          <div class="topic__image">
            <img src="/img/verso-dio.jpg"/>
          </div>
          <div class="topic__content">
            <header class="topic__header">
              <div class="topic__title">Verso Dio</div>
            </header>
            <p class="topic__text">Immergersi nella relazione con il Signore e gustarla. Riconoscere i semi gettati ed i frutti in maturazione.</p>
            <div class="topic__btn">
              <a href="preghiera/">Preghiera</a>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="col-12 col-s-6 m-bottom--none">
      <div class="row row--no-gutter">
        <div class="col-12 col-s-6 m-bottom--none">
          <article class="topic topic--small">
            <div class="topic__wrapper">
              <div class="topic__image">
                <img src="/img/activities/chiese.jpg"/>
              </div>
              <div class="topic__content">
                <header class="topic__header">
                  <div class="topic__title">Chiese</div>
                </header>
                <div class="topic__btn">
                  <a href="chiese/">Approfondisci</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-s-6 m-bottom--none">
          <article class="topic topic--small topic--tertiary">
            <div class="topic__wrapper">
              <div class="topic__image">
                <img src="/img/activities/cultura.jpg"/>
              </div>
              <div class="topic__content">
                <header class="topic__header">
                  <div class="topic__title">Cultura</div>
                </header>
                <div class="topic__btn">
                  <a href="cultura/">Approfondisci</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-s-6 m-bottom--none">
          <article class="topic topic--small topic--tertiary">
            <div class="topic__wrapper">
              <div class="topic__image">
                <img src="/img/activities/formazione.jpg"/>
              </div>
              <div class="topic__content">
                <header class="topic__header">
                  <div class="topic__title">Formazione</div>
                </header>
                <div class="topic__btn">
                  <a href="formazione/">Approfondisci</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-s-6 m-bottom--none">
          <article class="topic topic--small">
            <div class="topic__wrapper">
              <div class="topic__image">
                <img src="/img/activities/leadership.jpg"/>
              </div>
              <div class="topic__content">
                <header class="topic__header">
                  <div class="topic__title">Leadership</div>
                </header>
                <div class="topic__btn">
                  <a href="leadership/">Approfondisci</a>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="col-12 col-s-6 m-bottom--none">
      <article class="topic topic--text-small topic--tertiary">
        <div class="topic__wrapper">
          <div class="topic__image">
            <img src="/img/esclusi.jpg"/>
          </div>
          <div class="topic__content">
            <header class="topic__header">
              <div class="topic__title">Con gli esclusi</div>
            </header>
            <p class="topic__text">Accogliere ciascuno nella sua unicità e dignità e attivare insieme percorsi di autonomia e responsabilità.</p>
            <div class="topic__btn">
              <a href="sociale/">Sociale</a><a href="missioni/">Missioni</a>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="col-12 col-s-6 m-bottom--none">
      <article class="topic topic--text-small">
        <div class="topic__wrapper">
          <div class="topic__image">
            <img src="/img/activities/cura-del-creato.jpg"/>
          </div>
          <div class="topic__content">
            <header class="topic__header">
              <div class="topic__title">Cura del creato</div>
            </header>
            <p class="topic__text">Promuovere una conversione ecologica per custodire lealmente il creato.</p>
            <div class="topic__btn">
              <a href="cura-del-creato/">Approfondisci</a>
            </div>
          </div>
        </div>
      </article>
    </div>
</div>
