<div class="carousel">
    <h2 class="carousel__title h4">Gli ambiti<br>in cui siamo più attivi</h2>
    <div class="carousel__slider">
        <a href="educazione/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/educazione.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Educazione</div>
              </header>
              <div class="topic__text">Il carisma ignaziano e il suo metodo per formare uomini e donne per gli altri.</div>
            </div>
          </div>
        </a>
        <a href="preghiera/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/preghiera.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Preghiera</div>
              </header>
              <div class="topic__text">Sono 4 le tappe della preghiera ignaziana: sii presente, medita, parla con il Signore, ritrovati.</div>
            </div>
          </div>
        </a>
        <a href="giovani/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/giovani.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Giovani</div>
              </header>
              <div class="topic__text">Percorsi di accompagnamento per aiutare a compiere le scelte importanti della vita.</div>
            </div>
          </div>
        </a>
        <a href="sociale/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/sociale.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Sociale</div>
              </header>
              <div class="topic__text">Accanto a deboli ed esclusi nelle periferie della società per dar loro voce.</div>
            </div>
          </div>
        </a>
        <a href="missioni/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/missioni.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Missioni</div>
              </header>
              <div class="topic__text">Promuoviamo uno sviluppo integrale e sostenibile, a fianco delle comunità locali.</div>
            </div>
          </div>
        </a>
        <a href="chiese/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/chiese.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Chiese</div>
              </header>
              <div class="topic__text">Accanto a ciascuno per promuovere un cammino di riconciliazione e giustizia.</div>
            </div>
          </div>
        </a>
        <a href="formazione/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/formazione.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Formazione</div>
              </header>
              <div class="topic__text">Favorire l'eccellenza avendo come orizzonte lo sviluppo globale della persona.</div>
            </div>
          </div>
        </a>
        <a href="cultura/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/cultura.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Cultura</div>
              </header>
              <div class="topic__text">In dialogo con la società e le domande che oggi abitano il cuore dell’uomo.</div>
            </div>
          </div>
        </a>
        <a href="leadership/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/leadership.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Leadership</div>
              </header>
              <div class="topic__text">Formare alla visione ignaziana della leadership con autentico spirito di servizio.</div>
            </div>
          </div>
        </a>
        <a href="cura-del-creato/" class="topic topic--small carousel__slide">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="/img/activities/cura-del-creato.jpg"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Cura del creato</div>
              </header>
              <div class="topic__text">Promuovere una conversione ecologica per custodire lealmente il creato.</div>
            </div>
          </div>
        </a>
    </div>
</div>
