<div class="audio-dashboard js-audio-playlist">
  <div class="linear-progress">
    <div class="linear-progress__bar"></div>
    <div class="linear-progress__bar"></div>
  </div>
  {% set current=audio[0] %}
  <div class="js-audio-player">
    <div class="h4 js-audio-player-title">{{current.title.rendered}}</div>
    <audio class="m-bottom--small" controls="" style="width:100%" preload="metadata">
      <source src="{{current.source_url}}" type="audio/mp3"></source>
    </audio>
  </div>
  <div class="">
  {% for file in audio %}
  <a class="audio-dashboard__item m-top--mini p-bottom--mini js-audio-item{% if ( loop.index0 == 0 ) %} is-current{% endif%}" href="{{file.source_url}}" rel="noopener">{{ file.category}} - {{file.title}}</a>
  {% endfor %}
  </div>
  <!--<a class="special-link special-link--small m-top--small" href="https://drive.google.com/drive/folders/1twxjyv12BQMdqN6hWHyNp6eI49j20pZP?usp=sharing">Consulta l'archivio audio</a>-->
</div>
<script type="application/javascript">
  (function() {
    var element = document.querySelector('.js-audio-playlist');
    var player = element.querySelector('audio');
    var source = player.querySelector('source');
    var title = element.querySelector('.js-audio-player-title');

    Array.prototype.slice.call(element.querySelectorAll('.js-audio-item')).forEach(function(button) {
      button.addEventListener('click', function(e) {
        e.preventDefault();
        element.classList.add('is-loading');
        source.src = e.target.href;
        player.load();
        title.innerHTML = e.target.text;
        element.querySelector('.js-audio-item.is-current').classList.remove('is-current');
        e.target.classList.add('is-current');
        player.play();
        element.classList.remove('is-loading');
      });
    })
  })();
</script>
