<div class="row p-top--medium">
  {% for blogger in bloggers %}
    <div class="col-12 col-s-6 col-xl-4">
      <div class="blog-post m-bottom--small">
        <div class="blog-post__image-wrapper">
          <figure class="blog-post__image">
            <a class="#"><img src="img/bloggers/{{ blogger.image }}"/></a>
          </figure>
        </div>
        <div class="blog-post__content">
          <div class="blog-post__title"><a href="#">{{ blogger.title }}</a></div>
          <div class="blog-post__date"><a href="#">{{ blogger.date }}</a></div>
          <div class="blog-post__author">{{ blogger.author }}</div>
          <div class="blog-post__topic">{{ blogger.blogName }}</div>
          <a href="#" class="blog-post__link">Leggi</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
