<div class="carousel">
  <div class="carousel__slider">
  <article class="article carousel__slide">
    <div class="article__image article__image--1-1">
      <a href="http://www.gesuitibari.it/index.php?option=com_content&view=category&layout=blog&id=69&Itemid=58">
        <img src="/img/chaplaincies/bari.jpg">
      </a>
    </div>
    <h3 class="article__title">
      <a href="http://www.gesuitibari.it/index.php?option=com_content&view=category&layout=blog&id=69&Itemid=58">Bari</a>
    </h3>
  </article>
  <article class="article carousel__slide">
    <div class="article__image article__image--1-1">
      <a href="https://www.um.edu.mt/chaplaincy">
        <img src="/img/chaplaincies/malta.jpg">
      </a>
    </div>
    <h3 class="article__title">
      <a href="https://www.um.edu.mt/chaplaincy">Malta</a>
    </h3>
  </article>
  <article class="article carousel__slide">
    <div class="article__image article__image--1-1">
      <a href="https://culturaeuniversita.it/">
        <img src="/img/chaplaincies/pisa.jpg">
      </a>
    </div>
    <h3 class="article__title">
      <a href="https://culturaeuniversita.it/">Pisa, San Frediano</a>
    </h3>
  </article>
  <article class="article carousel__slide">
    <div class="article__image article__image--1-1">
      <a href="http://www.pastoraleunirc.org/attivita/">
        <img src="/img/chaplaincies/reggio-calabria.jpg">
      </a>
    </div>
    <h3 class="article__title">
      <a href="http://www.pastoraleunirc.org/attivita/">Reggio Calabria</a>
    </h3>
  </article>
  <article class="article carousel__slide">
    <div class="article__image article__image--1-1">
      <a href="https://cappelladellasapienza.it/">
        <img src="/img/chaplaincies/roma.jpg">
      </a>
    </div>
    <h3 class="article__title">
      <a href="https://cappelladellasapienza.it/">Roma, La Sapienza</a>
    </h3>
  </article>
  </div>
</div>
