<div class="carousel">
  <h2 class="carousel__title">Documenti</h2>
  <div class="carousel__slider">
    <div class="adv carousel__slide">
      <div class="adv__title">
        <a href="">Il racconto del pellegrino</a>
      </div>
      <div class="adv__text text">L'autobiografia di Ignazio di Loyola</div>
      <div class="adv__btn">
        <a href="/dettaglio-lettura/">Leggi</a>
        <a href="#">Scarica .pdf</a>
      </div>
    </div>
    <div class="adv carousel__slide">
      <div class="adv__title">
        <a href="">Esercizi Sprituali</a>
      </div>
      <div class="adv__text text">Libretto degli Esercizi Spirituali di Ignazio di Loyola</div>
      <div class="adv__btn">
        <a href="#">Scarica .pdf</a>
      </div>
    </div>
    <div class="adv carousel__slide">
      <div class="adv__title">
        <a href="">Formula dell'Istituto - 1540</a>
      </div>
      <div class="adv__text text">Formula dell'Istituto della Compagnia di Gesù approvata da Paolo III</div>
      <div class="adv__btn">
        <a href="/dettaglio-lettura/">Leggi</a>
        <a href="#">Scarica .pdf</a>
      </div>
    </div>
    <div class="adv carousel__slide">
      <div class="adv__title">
        <a href="">Formula dell'Istituto - 1550</a>
      </div>
      <div class="adv__text text">Formula dell'Istituto della Compagnia di Gesù approvata da Giulio III</div>
      <div class="adv__btn">
        <a href="/dettaglio-lettura/">Leggi</a>
        <a href="#">Scarica .pdf</a>
      </div>
    </div>
    <div class="adv carousel__slide">
      <div class="adv__title">
        <a href="">Pignatelli, il volto umano di un santo</a>
      </div>
      <div class="adv__text text">Biografia di San Giuseppe Pignatelli SJ (1737-1811)</div>
      <div class="adv__btn">
        <a href="#">Scarica .pdf</a>
      </div>
    </div>
  </div>
</div>
