<div class="special">
  <div class="special__wrapper">
    <div class="special__content">
      <div class="special__content-inner">
        <div class="special__kicker">@everydayjesuits su Instagram</div>
        <h2 class="special__title">
          <a href="https://www.instagram.com/everydayjesuits/">La vita quotidiana dei gesuiti</a>
        </h2>
        <p class="special__text">Everyday Jesuits è una finestra sulla vita della Compagnia, di noi gesuiti, sulla spiritualità ignaziana...e una porta a cui bussare, chiedere e trovare qualcuno che sappia ascoltarti e accompagnarti.</p>
        <div class="special__btn">
          <a href="https://www.instagram.com/everydayjesuits/">Segui @everydayjesuits</a>
        </div>
      </div>
    </div>
    <figure class="special__image">
      <img src="/img/everyday-jesuits-3-2.jpg" alt="">
    </figure>
  </div>
</div>