<section class="primary--darken-2 invert m-top--small p-top--large p-bottom--medium">
  <div class="container container--no-overflow">
    <h2 class="h2">La vita dei gesuiti in formazione</h2>
    <div class="video-dashboard js-youtube-playlist">
      <div class="linear-progress">
        <div class="linear-progress__bar"></div>
        <div class="linear-progress__bar"></div>
      </div>
      <div class="row row--extra-gutter">
      {% for video in formationVideos %}
        {% set i = loop.index0 %}
        {% if (i == 0) %}
          <div class="col-12 col-l-7 col-xl-8">
            {% youtube video.id %}
            <div class="video-dashboard__player-title h2 js-youtube-player-title">{{video.title}}</div>
          </div>
        {% endif %}
        {% if ( i == 0 ) %}
          <div class="col-12 col-l-5 col-xl-4 js-youtube-buttons" style="margin-left: auto;">
        {% endif %}
        {% if ( i < 7 ) %}
          <a href="https://www.youtube.com/watch?v={{video.id}}" data-media-src="https://www.youtube-nocookie.com/embed/{{video.id}}?autoplay=1&rel=0" rel="noindex nofollow" class="video-dashboard__item js-youtube-button m-top--mini p-bottom--small m-bottom--small{% if ( i == 0 ) %} is-current{% endif%}">
            {{video.title | safe }}
          </a>
        {% endif %}
        {% if i == 6 %}
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  <script data-type="application/javascript">
  (function() {
    var element = document.querySelector('.js-youtube-playlist');
    var player = element.querySelector('.js-youtube-player');
    var iframe = player.querySelector('iframe');
    var playerTitle = element.querySelector('.js-youtube-player-title');

    Array.prototype.slice.call(element.querySelectorAll('.js-youtube-button')).forEach(function(btn) {
      btn.addEventListener('click', function(e) {
        e.preventDefault();
        element.classList.add('is-loading');
        element.querySelector('.is-current').classList.remove('is-current');
        btn.classList.add('is-current');
        player.classList.add('is-loaded');
        iframe.src = e.target.dataset.mediaSrc;
        iframe.removeAttribute('data-src');
        playerTitle.innerHTML = e.target.text;
        element.classList.remove('is-loading');
      });
    });
  })();
  </script>
</section>
