<div class="history-carousel carousel js-history-carousel">
  <div class="history-carousel__slider js-history-carousel-slider">
    <div class="container">
      <div class="history-carousel__controls p-bottom--small">
        <div class="range">
          <input type="range" min="0" max="{{events.length - 1 }}" class="history-carousel__input js-history-carousel-input" value="0">
        </div>
          <div class="history-carousel__input-ticks js-history-carousel-ticks" tabindex="-1">
            {% for event in events %}
              <span class="{% if event.isMilestone %}milestone{% endif %}" data-year="{{event.year}}">{{event.year}}</span>
            {% endfor %}
          </div>
      </div>
    </div>
    {% for event in events %}
    <div class="history-event history-carousel__slide js-history-carousel-slide" data-year="{{event.year}}">
      <div class="history-event__content">
        <div class="history-event__date">
          {% if event.year %}
            {{event.year}}{% if event.yearEnd %} - {{event.yearEnd}}{% endif %}
          {% else %}
            {{event.category}}
          {% endif %}
        </div>
        <div class="history-event__title">{{event.title | safe}}</div>
        <div class="history-event__text text">
          {{event.content | truncate(620, true, "[...] (da tagliare)") }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
