<section class="section section--white p-bottom--medium p-top--huge invert">
    <div class="container">
      <div class="special special--ignatian-year">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">500 anni dalla ferita di Pamplona</div>
              <h2 class="special__title">
                <a href="https://ignatius500.global/it/">Anno Ignaziano</a>
              </h2>
              <p class="special__text">"Vedere nuove tutte le cose in Cristo": a 500 anni dalla conversione di Ignazio, un anno di iniziative in tutto il mondo dal 20 maggio 2021 al 31 luglio 2022.</p>
              <div class="special__btn">
                <a href="https://ignatius500.global/it/" rel="noopener external">Visita il sito</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/test/anno-ignaziano.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
