<div class="special special--offset special--white">
  <div class="special__wrapper">
    <div class="special__content">
      <div class="special__content-inner">
        <div class="special__kicker">Il nostro fondatore</div>
        <h2 class="special__title">
          <a href="/storia-di-ignazio/">Ignazio di Loyola<br>il fondatore</a>
        </h2>
        <p class="special__text">A 30 anni Ignazio era un cavaliere della Corte Reale di Spagna. Nella primavera del 1521 una ferita in battaglia cambiò tutto.<br>
        <span class="spacial__quote h5 text--secondary m-left--none p-top--small">"Chi vorrà riformare il mondo cominci da se stesso"</span></p>
        <div class="special__btn">
          <a href="/storia-di-ignazio/">Leggi la storia di Ignazio di Loyola</a>
        </div>
      </div>
    </div>
    <figure class="special__image">
      <img src="/img/ignatius-loyola-special.jpg" alt="">
    </figure>
  </div>
</div>
