{% set video = videos[0] %}

<div class="media-dashboard row">
  <div class="col-12 col-xl-4 m-bottom--small">
    <p style="text-transform:uppercase">Contenuti settimanali scelti per te</p>
    <p class="h5 m-bottom--large">{{video.title}}<p>
    <p style="text-transform:uppercase">Ascolta il podcast</p>
    <div class="media-dashboard__audio js-media-dashboard-audio m-top--mini m-bottom--mini" style="max-width:290px">
      <audio controls="" style="width:100%" preload="metadata">
        <source src="{{audio[0].source_url}}" type="audio/mp3">
      </audio>
    </div>
    <p style="font-weight:500;">{{audio[0].title.rendered}}<p>
  </div>
  <div class="col-12 col-xl-8">
    <div class="media-dashboard__video">
      {% youtube video.id %}
    </div>
  </div>
</div>
