<div class="news-dashboard">
  <div class="row">
    <div class="col-12 col-m-6">
      <h3 class="news-dashboard__title">Ultime notizie</h3>
    </div>
    <div class="col-12 col-l-5 col-m-6" style="margin-left: auto">
      <div class="news-dashboard__selector">
        <a href="news/" class="special-link special-link--small">Esplora tutte le news</a>
        <div class="select-wrapper">
          <select class="styled-input js-news-selector">
            <option value="0">Tutti gli ambiti</option>
            <option value="91">Giovani</option>
            <option value="90">Educazione</option>
            <option value="93">Preghiera</option>
            <option value="89">Sociale</option>
            <option value="86">Missioni</option>
            <option value="92">Chiese</option>
            <option value="88">Cultura</option>
            <option value="84">Formazione</option>
            <option value="94">Leadership</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="linear-progress">
    <div class="linear-progress__bar"></div>
    <div class="linear-progress__bar"></div>
  </div>
  <div class="row js-news-articles">
    {% for i in range (0,7) %}
      {% set article = news[i] %}
      {% if (i == 0) %}
        <div class="col-12 col-m-6">
          <article class="article{% if article.hasVideo %} has-video{% endif %}">
            <figure class="article__image">
              <a href="/dettaglio-news/">
                <img src="{{article.image}}" sizes="(min-width: 1600px) 692px, (min-width: 1200px) 558px, (min-width:1000px) 438px, (min-width:760px) 344px, (min-width:564px) 50vw, (max-width:563px) 100vw, 356px">
              </a>
            </figure>
            <div class="article__meta">
              <span class="article__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
              </span>
              <div class="article__kicker">
                <a href="/dettaglio-news/">{{ article.topic }}</a>
              </div>
              <time class="article__date">11.10.2018</time>
            </div>
            <h2 class="article__title article__title--large">
              <a href="/dettaglio-news/">{{article.title | safe }}</a>
            </h2>
            <div class="article__text">
              {{ article.excerpt | striptags | safe }}
            </div>
          </article>
        </div>
      {% endif %}
      {% if ( i == 1 ) %}
        <div class="col-12 col-m-5" style="margin-left: auto;">
      {% endif %}
      {% if ( i > 1 and i < 7 ) %}
        <article class="article m-bottom--medium">
        <div class="article__meta">
          <span class="article__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
          </span>
          <div class="article__kicker">
            <a href="/dettaglio-categoria/">{{ article.topic }}</a>
          </div>
          <time class="article__date">11.10.2018</time>
        </div>
        <h1 class="article__title">
          <a href="#">{{article.title | safe }}</a>
        </h1>
      </article>
      {% endif %}
      {% if i == 6 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
