<div class="row">
  <div class="col-xl-4 col-xs-6 col-12 m-bottom--medium">
    <div class="adv adv--stretched">
      <div class="adv__title">
        <a href="https://getupandwalk.gesuiti.it/">Al mattino, la buona notizia</a>
      </div>
      <div class="adv__text">Get Up and Walk è il vangelo quotidiano commentato con il metodo della spiritualità ignaziana, per "cercare e trovare Dio in ogni cosa"</div>
      <div class="adv__btn">
        <a href="https://getupandwalk.gesuiti.it/">Approfondisci</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-xs-6 col-12 m-bottom--medium">
    <div class="adv adv--stretched">
      <div class="adv__title">
        <a href="https://pray-as-you-go.org/home/">Pregare in cammino</a>
      </div>
      <div class="adv__text">Pray As You Go è la preghiera quotidiana in podcast audio per chi è in viaggio, disponibile online o su smartphone.</div>
      <div class="adv__btn">
        <a href="https://pray-as-you-go.org/home/">Approfondisci</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-xs-6 col-12 m-bottom--medium">
    <div class="adv adv--stretched">
      <div class="adv__title">
        <a href="https://clicktopray.org/">Pregare con il Papa</a>
      </div>
      <div class="adv__text">Click To Pray è il portale della Rete Mondiale di Preghiera secondo le intenzioni del Papa, ogni giorno, in rete con la comunità dei fedeli</div>
      <div class="adv__btn">
        <a href="https://clicktopray.org/">Approfondisci</a>
      </div>
    </div>
  </div>
</div>
