<div class="row">
  <div class="col-12 col-m-7">
    <h2 class="h2">Archivio Storico</h2>
    <p class="text text--lead">L'Archivio di Provincia, interamente ristrutturato nel 2019, conserva i fondi di cinque ex-Province del territorio italiano e custodisce la memoria storica delle comunità e opere della Compagnia in Italia.</p>
    <a href="https://archiviostorico.gesuiti.it/" class="special-link">Visita il sito dell'Archivio</a>
  </div>
  <div class="col-12 col-m-4" style="margin-left: auto;">
    <img class="m-top--medium" src="/img/archivio-storico.jpg" alt="">
  </div>
</div>
