
<div class="carousel">
  <div class="carousel__title">Letture consigliate</div>
  <div class="carousel__slider">
    {% for reading in readings %}
      <article class="reading reading--stretched carousel__slide">
        <figure class="reading__image">
          <a href="/dettaglio-lettura/">
          {% if reading.image %}
            <img src="{{reading.image}}"/>
          {% else %}
            <svg class="ihs-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><use xlink:href="#ihs-svg"></use></svg>
          {% endif %}
          </a>
        </figure>
        <div class="reading__content">
          <h2 class="reading__title">
            <a href="/dettaglio-lettura/">{{ reading.title | safe }}</a>
          </h2>
          {% if reading.author %}
            <div class="reading__author">{{ reading.author | safe }}</div>
          {% endif %}
          {% if reading.publisher %}
            <div class="reading__publisher">{{ reading.publisher | safe }}</div>
          {% endif %}
          {% if reading.subtitle %}
            <div class="reading__text">{{ reading.text | safe }}</div>
          {% endif %}
        </div>
      </article>
    {% endfor %}
</div>
