<div class="special special--half">
  <div class="special__wrapper">
      <div class="special__content">
        <div class="special__content-inner">
            <div class="special__kicker">La Compagnia di Gesù</div>
            <h2 class="special__title">Un fuoco che accende altri fuochi</h2>
            <p class="special__text">Dai primi sette gesuiti radunatisi intorno ad Ignazio, in 500 anni la Compagnia si è diffusa nei cinque continenti per aiutare ciascuno a trovare Dio nella propria vita e riconciliarsi con Lui.</p>
            <div class="special__btn">
            <a href="/storia-della-compagnia/">Scopri la storia dei gesuiti</a>
            </div>
        </div>
      </div>
      <figure class="special__image">
        <img src="/img/society-fire.jpg" alt="">
      </figure>
  </div>
</div>
