<div class="special special--half">
  <div class="special__wrapper">
    <div class="special__content">
      <div class="special__content-inner">
        <div class="special__kicker">Un ordine religioso sacerdotale</div>
        <h2 class="special__title">
          <a href="/la-compagnia-di-gesu/">La Compagnia di Gesù</a>
        </h2>
        <p class="special__text">Nel 1540 Ignazio di Loyola fondò la Compagnia di Gesù per aiutare gli altri a cercare e trovare Dio nella propria vita. Dai primi 10 compagni, oggi i gesuiti sono più di 16 mila in 100 paesi. Ogni gesuita è chiamato a vivere i voti di obbedienza, per il bene degli altri, castità, relazioni gratuite, e povertà, puntando all’essenziale.</p>
        <div class="special__btn">
          <a href="/la-compagnia-di-gesu/">Scopri di più sulla Compagnia</a>
          <a href="/storia-della-compagnia/">Scopri la storia dei gesuiti</a>
        </div>
      </div>
    </div>
    <figure class="special__image">
      <img src="/img/compagnia-di-gesu.jpg" alt="">
    </figure>
  </div>
</div>
