<div class="carousel">
  <div class="carousel__slider">
  {% for story in stories %}
    {% if loop.index < 12 %}
      <article class="article carousel__slide">
        <div class="article__image article__image--1-1">
          <a href="/dettaglio-storia/">
            {% if story.image %}
              <img src="/img/stories/{{story.image}}">
            {% else %}
              <img src="https://via.placeholder.com/660x440/?text=Jesuit+pic">
            {% endif %}
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">
            {{ story.author }}
          </div>
        </div>
        <h2 class="article__title article__title--small">
          <a href="/dettaglio-storia/">{{ story.title }}</a>
        </h2>
        <div class="article__text">
          {% if story.summary %}
            {{ story.summary | striptags( true ) }}
          {% else %}
            {{ story.content | striptags( true ) | truncate( 180 ) }}
          {% endif %}
        </div>
      </article>
    {% endif %}
  {% endfor %}
  </div>
</div>
