<div class="carousel carousel--stories">
  <h2 class="carousel__title">Storie di vocazione</h2>
  <div class="carousel__slider">
    {% for story in stories %}
      {% if loop.index < 11 %}
      <article class="article carousel__slide">
        <div class="article__image article__image--1-1">
          <a href="/dettaglio-storia/">
            {% if story.image %}
              <img src="/img/stories/{{story.image}}">
            {% else %}
              <img src="https://via.placeholder.com/660x440/?text=Jesuit+pic">
            {% endif %}
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">
            {{ story.author }}
          </div>
        </div>
        <div class="article__title article__title--small">
          <a href="/dettaglio-storia/">{{ story.title }}</a>
        </div>
        <div class="article__btn">
          <a href="/dettaglio-storia/">Approfondisci</a>
        </div>
      </article>
      {% endif  %}
    {% endfor %}
  </div>
</div>
