<section class="section section--white p-bottom--small p-top--medium">
  <div class="container">
    <div class="h4 text--center">Diventare gesuita</div>
    <div class="row p-top--small">
      <div class="col-xl-3 col-xs-6 col-12 m-bottom--medium">
        <div class="adv adv--stretched">
          <div class="adv__title">
            <a href="/diventare-gesuita/">Come riconoscere una chiamata</a>
          </div>
          <div class="adv__text">Ogni essere umano fa esperienza di essere chiamato dal Signore. Scopri come riconoscere la tua vocazione.</div>
          <div class="adv__btn">
            <a href="/diventare-gesuita/">Approfondisci</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-xs-6 col-12 m-bottom--medium">
        <div class="adv adv--stretched">
          <div class="adv__title">
            <a href="/cosa-ci-caratterizza/">Perché proprio la Compagnia</a>
          </div>
          <div class="adv__text">
            <p>Nella Chiesa esistono molti istituti e ordini religiosi. Ognuno ha un proprio carisma specifico che lo caratterizza.</p>
          </div>
          <div class="adv__btn">
            <a href="/cosa-ci-caratterizza/">Approfondisci</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-xs-6 col-12 m-bottom--medium">
        <div class="adv adv--stretched">
          <div class="adv__title">
            <a href="/diventare-gesuita/">Requisiti per entrare in Compagnia</a>
          </div>
          <div class="adv__text">No, non serve una laurea, come molti pensano. Non ci sono requisiti veri e propri che devi avere. Solo alcune attitudini.</div>
          <div class="adv__btn">
            <a href="/diventare-gesuita/">Approfondisci</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-xs-6 col-12 m-bottom--medium">
        <div class="adv adv--stretched">
          <div class="adv__title">
            <a href="#">I passi del cammino vocazionale</a>
          </div>
          <div class="adv__text">Se vuoi fare un cammino di discernimento vocazionale per entrare in Compagnia, ci sono alcuni passi da fare con ordine.</div>
          <div class="adv__btn">
            <a href="/i-passi-da-fare/">Approfondisci</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
