<div class="works js-works-section">
  <div class="works__controls p-bottom--small">
    <div class="works__location-control" style="max-width: 300px;">
      <label class="styled-label styled-label--small" style="text-transform:uppercase;">Scegli una regione</label>
      <select class="works__location-input styled-input js-location-filter">
        <option value="all">Tutte</option>
        <option value="abruzzo">Abruzzo</option>
        <option value="albania">Albania</option>
        <option value="campania">Campania</option>
        <option value="calabria">Calabria</option>
        <option value="emilia-romagna">Emilia Romagna</option>
        <option value="friuli-venezia-giulia">Friuli Venezia Giulia</option>
        <option value="lazio">Lazio</option>
        <option value="liguria">Liguria</option>
        <option value="lombardia">Lombardia</option>
        <option value="malta">Malta</option>
        <option value="piemonte">Piemonte</option>
        <option value="puglia">Puglia</option>
        <option value="romania">Romania</option>
        <option value="sardegna">Sardegna</option>
        <option value="sicilia">Sicilia</option>
        <option value="trentino-alto-adige">Trentino Alto Adige</option>
        <option value="toscana">Toscana</option>
        <option value="veneto">Veneto</option>
      </select>
    </div>
    <div class="works__display-control js-display-controls" style="margin-left:auto;">
      <div class="tabs">
        <div class="tabs__controls" role="tablist">
          <button class="tabs__control is-tab-selected" role="tab" data-value="map">
            <svg xmlns='http://www.w3.org/2000/svg' class='icon' viewBox='0 0 512 512'><path d='M313.27 124.64L198.73 51.36a32 32 0 00-29.28.35L56.51 127.49A16 16 0 0048 141.63v295.8a16 16 0 0023.49 14.14l97.82-63.79a32 32 0 0129.5-.24l111.86 73a32 32 0 0029.27-.11l115.43-75.94a16 16 0 008.63-14.2V74.57a16 16 0 00-23.49-14.14l-98 63.86a32 32 0 01-29.24.35zM328 128v336M184 48v336' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/></svg>
            Mappa
          </button>
          <button class="tabs__control" role="tab" data-value="grid">
            <svg xmlns='http://www.w3.org/2000/svg' class='icon' viewBox='0 0 512 512'><rect x='48' y='48' width='176' height='176' rx='20' ry='20' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/><rect x='288' y='48' width='176' height='176' rx='20' ry='20' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/><rect x='48' y='288' width='176' height='176' rx='20' ry='20' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/><rect x='288' y='288' width='176' height='176' rx='20' ry='20' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/></svg>
            Griglia
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="works__map js-map-display">
    <div id="map" style="height: 500px" data-name="google-maps"></div>
  </div>
  <div class="works__grid js-grid-display">
    <div class="row row--extra-gutter">
    {% for work in works %}
      <div class="article col-12 col-s-6 col-m-4 m-bottom--large js-work-item" data-location="{{ work.region | replace(' ', '-') | lower }}" data-lat="{{ work.lat }}" data-lng="{{ work.lng }}">
        <div class="article__meta">
          <div class="article__kicker">{{work.scope}}</div>
        </div>
        <div class="article__title">
          {% if work.url%}
          <a href="{{work.url}}">{{work.name}}</a>
          {% else %}
          {{work.name}}
          {% endif %}
        </div>
        <div class="article__text">
          {{work.address}}
        </div>
        {% if work.url%}
        <div class="article__btn">
          <a href="{{work.url}}">Vai al sito</a>
        </div>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markerclustererplus/2.1.4/markerclusterer.min.js"></script>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIBCOiY1uulYReRNrtfS8dTgc7gxiFE0E&amp;callback=initWorksSection"></script>
  <script>
      window.initWorksSection = function () {
        var worksSection = document.querySelector('.js-works-section');
        var locationFilter = worksSection.querySelector('.js-location-filter');
        var displayControls = worksSection.querySelector('.js-display-controls');
        var mapDisplay = worksSection.querySelector('.js-map-display');
        var gridDisplay = worksSection.querySelector('.js-grid-display');
        var workElements = worksSection.querySelectorAll('.js-work-item');
        var currentDisplay = 'map';
        var actualMarkers = [];
        var markerClustererStore;
        var MapInfoWindow;

        function clearMarkers() {
          actualMarkers.forEach(function (marker) {
            marker.setMap(null);
          })
          actualMarkers = [];
          markerClustererStore.clearMarkers();
        }

        function setMarkers(map, filter) {
          var els = Array.prototype.slice.call(workElements);

          if ( filter && 'all' !== filter ) {
            els = els.filter(function(el) {
              return el.getAttribute('data-location') == filter;
            })
          }

          var oms = new OverlappingMarkerSpiderfier(map, {
            markersWontMove: true,
            markersWontHide: true,
            basicFormatEvents: true
          });

          var bounds = new google.maps.LatLngBounds();

          var markers = els.map(function(el) {
            var marker = new google.maps.Marker({
              position: {
                lat: parseFloat( el.getAttribute('data-lat') ),
                lng: parseFloat( el.getAttribute('data-lng') ),
              },
            });

            bounds.extend(marker.position);

            actualMarkers.push(marker);

            var content = '<div class="article article--summary p--mini">'+ el.innerHTML +'</div>';

            google.maps.event.addListener(marker, 'spider_click', function(e) {  // 'spider_click', not plain 'click'
              MapInfoWindow.setContent(content);
              MapInfoWindow.open(map, marker);
            });
            oms.addMarker(marker);

            return marker;
          });

          map.setCenter(bounds.getCenter());
          map.fitBounds(bounds);

          markerClustererStore = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          markerClustererStore.setMaxZoom(12);
        }


        //Init location filter - grid
        locationFilter.addEventListener('change', function(e) {
          Array.prototype.slice.call(workElements).forEach(function(item) {
            if (e.target.value === 'all' || e.target.value === item.getAttribute('data-location')) {
              item.style.display = '';
            } else {
              item.style.display = 'none';
            }
          });
        });

        var script = document.createElement('script');
        script.onload = function () {
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 41.8957822, lng: 12.4790342},
            zoom: 5
          });

          //Init once
          MapInfoWindow = new google.maps.InfoWindow();

          setMarkers(map);

          //Init location filter - map
          locationFilter.addEventListener('change', function(e) {
            var filter = e.target.value;
            clearMarkers();
            filter === 'all' ? setMarkers(map) : setMarkers(map, filter);
          });

          //Init display toggle
          Array.prototype.slice.call(displayControls.querySelectorAll('button')).forEach( function(btn) {
            btn.addEventListener('click', function(e) {
                var newValue = btn.getAttribute('data-value');
                if ( currentDisplay != newValue ) {
                displayControls.querySelector('button.is-tab-selected').classList.remove('is-tab-selected');
                btn.classList.add('is-tab-selected');

                if ( newValue == 'map' ) {
                  mapDisplay.style.display = 'block';
                  gridDisplay.style.display = 'none';

                  //Update map only when visible
                  clearMarkers();
                  setMarkers(map, locationFilter.value);
                } else {
                  mapDisplay.style.display = 'none';
                  gridDisplay.style.display = 'block';
                }
                currentDisplay = newValue;
              }
            });
          });
        };
        script.src = 'https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js';
        document.head.appendChild(script);
      }
    </script>
</div>
