<div class="row">
	{% for i in range (0,6) %}
    {% set event = youthEvents.events[i] %}
		<div class="col-12 col-xs-6 col-l-4">
				<a href="{{ event.url }}" class="topic topic--small">
					<div class="topic__wrapper">
						<div class="topic__image">
							<img src="{{ event.image.sizes.large.url }}"/>
						</div>
						<div class="topic__content">
							<div class="topic__kicker">{{ event.start_date_details.day }}.{{ event.start_date_details.month }} - {{ event.end_date_details.day }}.{{ event.end_date_details.month }} {{ event.end_date_details.year }}</div>
							<header class="topic__header">
								<div class="topic__title">{{ event.title | safe }}</div>
							</header>
							<div class="topic__text">
								<!--<p class="m-bottom--micro">{{ event.categories[0].name | safe }}</p>-->
								{% if '' != event.venue %}
								<p class="m-bottom--micro">{{ event.venue.venue | safe }}{% if event.venue.city %}, {{ event.venue.city | safe }}{% endif %}</p>
								{% endif %}
							<div>
						</div>
					</div>
				</a>
		</div>
	{% endfor %}
</div>