
<div class="row">
  <article class="article col-12 col-s-6 col-l-3">
    <div class="article__image article__image--1-1">
      <img src="/img/selva-temp.jpg">
    </div>
    <h3 class="article__title">
      <a href="https://www.gesuiti-selva.it/index/">Corsi di Selva di Val Gardena</a>
    </h3>
    <div class="article__text">
      Un cocktail di amicizia, relazioni, stile di servizio, riflessione, preghiera ed escursioni nella magica cornice delle Dolomiti
    </div>
    <div class="article__btn">
      <a href="https://www.gesuiti-selva.it/index/">Vai al sito</a>
    </div>
  </article>
  <article class="article col-12 col-s-6 col-l-3">
    <div class="article__image article__image--1-1">
      <img src="/img/lms.jpg">
    </div>
    <h3 class="article__title">
      <a href="https://cvxlms.it/">Lega Missionaria Studenti</a>
    </h3>
    <div class="article__text">
      Movimento giovanile che promuove lo sviluppo e il rispetto delle culture. Dal 2010 è la sezione giovanile delle Comunità di Vita Cristiana (CVX)
    </div>
    <div class="article__btn">
      <a href="https://cvxlms.it/">Vai al sito</a>
    </div>
  </article>
  <article class="article col-12 col-s-6 col-l-3">
    <div class="article__image article__image--1-1">
      <img src="/img/san-giacomo-temp.jpg">
    </div>
    <h3 class="article__title">
      <a href="https://www.settimanebibliche.it/">San Giacomo d'Entracque</a>
    </h3>
    <div class="article__text">
      Un'esperienza per gustare la bellezza della Parola, liberi da schemi precostituiti, i gesuiti e una équipe di giovani laici offrono un’opportunità di scoperta della Bibbia.
    </div>
    <div class="article__btn">
      <a href="https://www.settimanebibliche.it/">Vai al sito</a>
    </div>
  </article>
  <article class="article col-12 col-s-6 col-l-3">
    <div class="article__image article__image--1-1">
      <img src="/img/pietre-vive.jpg">
    </div>
    <h3 class="article__title">
      <a href="http://www.pietre-vive.org/">Pietre Vive</a>
    </h3>
    <div class="article__text">
      Gruppo internazionale di giovani che annunciano Cristo e la bellezza della fede attraverso l’architettura e l’arte religiosa.
    </div>
    <div class="article__btn">
      <a href="http://www.pietre-vive.org/">Vai al sito</a>
    </div>
  </article>
</div>
