<div class="kicker text--secondary m-top--small m-bottom--mini" style="text-transform:uppercase;">Per approfondire</div>
<article class="reading m-bottom--large">
  <div class="reading__content">
    <h2 class="reading__title">
      <a href="/dettaglio-lettura/">Architettura e arte dei Gesuiti</a>
    </h2>
    <div class="reading__author">M. Parizzi</div>
    <div class="reading__publisher">Mondadori</div>
  </div>
</article>
<article class="reading">
  <div class="reading__content">
    <h2 class="reading__title">
      <a href="/dettaglio-lettura/">Pauperismo architettonico e architettura gesuitica</a>
    </h2>
    <div class="reading__author">Giovanni Sale</div>
    <div class="reading__publisher">Jaca Book</div>
    <div class="reading__text">Dalle chiese ad aula al Gesù di Roma</div>
  </div>
</article>
