<div class="highlight">
  <div class="highlight__wrapper">
    <div class="highlight__image">
      <a href="/storia-di-ignazio/">
        <img src="/img/logo-ej-temp.jpg" alt="">
      </a>
    </div>
    <div class="highlight__kicker">Instagram</div>
    <h4 class="highlight__title">
      <a href="/storia-di-ignazio/">Everyday Jesuits: la vita quotidiana dei gesuiti</a>
    </h4>
    <p class="highlight__text">
      Una finestra sulla vita della Compagnia, di noi gesuiti, sulla spiritualità ignaziana...e una porta a cui bussare, chiedere e trovare qualcuno che sappia ascoltarti e accompagnarti.
    </p>
    <div class="highlight__btn">
      <a href="/storia-di-ignazio/">Seguici su Instagram</a>
    </div>
  </div>
</div>
