<div class="highlight">
  <div class="highlight__wrapper">
    <div class="highlight__image">
      <a href="/storia-di-ignazio/">
        <img src="/img/ignatius-loyola-square.jpg" alt="">
      </a>
    </div>
    <div class="highlight__kicker">Il nostro fondatore</div>
    <h4 class="highlight__title">
      <a href="/storia-di-ignazio/">Ignazio di Loyola, il fondatore</a>
    </h4>
    <p class="highlight__text">
      <span class="h6 text--secondary">"Chi vorrà riformare il mondo cominci da se stesso"</span>
    </p>
    <div class="highlight__btn">
      <a href="/storia-di-ignazio/">La storia di Ignazio di Loyola</a>
    </div>
  </div>
</div>
