{% set story = stories | random %}

<article class="highlight">
  <div class="highlight__wrapper">
    <div class="highlight__image">
      <a href="/dettaglio-storia/">
        {% if story.image %}
          <img src="/img/stories/{{story.image}}">
        {% else %}
          <img src="https://via.placeholder.com/660x440/?text=Jesuit+pic">
        {% endif %}
      </a>
    </div>
    <div class="highlight__kicker" style="text-transform:uppercase">{{ story.author }}</div>
    <h4 class="highlight__title"><a href="/dettaglio-storia/">{{ story.title }}</a></h4>
    {% if story.summary %}
    <div class="highlight__text">
      {{ story.summary | safe }}
    </div>
    <div class="highlight__btn">
      <a href="/dettaglio-storia/">Approfondisci</a>
    </div>
    {% endif %}
  </div>
</article>
