<h3 class="h5">Esercizi, corsi ed eventi</h3>
<div class="adv m-bottom--small">
  <div class="adv__kicker kicker text--secondary">
    24.3 - 30.3 2019<br>EESS Residenziali
  </div>
  <div class="adv__title">
    <a href="">Alcuni incontri con Gesù nei Vangeli</a>
  </div>
  <div class="adv__text" style="font-weight:400;">
    Dove<br>
    <strong>Sicilia, Villa "La Nuza" Altavilla Milicia (PA)</strong><br>
    A chi è rivolto<br>
    <strong>Tutti</strong><br>
    a cura di<br>
    <strong>sr. Gabriella Mian AdGB ed equipe</strong><br>
  </div>
  <div class="adv__btn">
    <a href="">Approfondisci</a>
  </div>
</div>
<div class="adv m-bottom--small">
  <div class="adv__kicker kicker text--secondary">
    24.3 - 30.3 2019<br>EESS Residenziali
  </div>
  <div class="adv__title">
    <a href="">Alcuni incontri con Gesù nei Vangeli</a>
  </div>
  <div class="adv__text" style="font-weight:400;">
    Dove<br>
    <strong>Sicilia, Villa "La Nuza" Altavilla Milicia (PA)</strong><br>
    A chi è rivolto<br>
    <strong>Tutti</strong><br>
    a cura di<br>
    <strong>sr. Gabriella Mian AdGB ed equipe</strong><br>
  </div>
  <div class="adv__btn">
    <a href="">Approfondisci</a>
  </div>
</div>
<a class="special-link special-link--small">Guarda il calendario dei corsi</a>
