html.is-theme-dark {
  body {
    --background: #{sass-blacken($eum-primary, 3)};
    --primary: #fff;
    --text-color: #{$text-white};

    background-color: var(--background);
  }

  * {
    &::selection {
      color: #{sass-blacken($eum-primary, 3)};
      background-color: #{$white};
    }
  }

  .btn {
    &--ghost {
      &:hover {
        color: $text-white-hover;
      }

      &.btn--secondary:hover {
        color: #{sass-whiten($eum-secondary, 1)};
      }

      &.btn--tertiary:hover {
        color: #{sass-whiten($eum-tertiary, 1)};
      }
    }
  }

  .eum-styled-form select,
  select.styled-input {
    background-image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' fill='#{inlinesvg(#fff)}' viewBox='0 0 512 512'><path d='M128 192l128 128 128-128z'/></svg>");
  }

  .main-header {
    background-color: #{sass-blacken($eum-primary, 1)};

    &__placeholder {
      --primary: #{sass-blacken($eum-primary, 1)};
    }
  }

  .overlay::after {
    background-color: var(--primary-dark-3);
  }

  .special {
    --background: #{sass-blacken($eum-tertiary, 2)};
    --tertiary-light-5: #{sass-blacken($eum-tertiary, 2)};

    &__title a:hover {
      color: $text-white-hover;
    }

    &__btn {
      color: $text-white;
    }
  }

  .eum-header {
    --background: #{$eum-primary};
    --text-color: #fff;

    color: var(--text-color);

    .secondary-menu a:hover {
      color: $text-white-hover;
    }

    &-countries.is-dropdown-open {
      --background: #{sass-blacken($eum-primary, 3)};
    }

    &-countries__dropdown-trigger {
      background: inherit;
    }

    &-countries__link:hover {
      color: $text-white-hover;
    }
  }

  .eum-footer,
  .eum-footer-bar {
    background-color: var(--primary-dark-2);
  }

  .eum-styled-content a {
    color: var(--primary-light-3);

    &:hover {
      color: #{sass-whiten($eum-primary, 1)};
    }
  }

  .article__title a:hover,
  .adv__title a:hover,
  .reading__title a:hover {
    color: $text-white-hover;
  }

  .featured {
    --primary: #{$eum-primary};

    &__btn a {
      color: var(--text-color);

      &::after {
        background: var(--text-color);
      }
    }
  }

  .hero {
    --primary: #{sass-blacken($eum-primary, 1)};

    &__special-box {
      background-color: #00476b;
      border-top-color: var(--text-color);
    }
  }

  .highlight {
    --background: #{$eum-primary};

    color: var(--text-color);

    &__wrapper {
      background-color: var(--background);
    }

    &__title a:hover {
      color: $text-white-hover;
    }
  }

  .history-event {
    --background: #{$eum-primary};
    --text-color: #fff;
  }

  .modal--search {
    --background: #fff;
    --primary: #00476b;
  }

  .main-footer {
    background-color: #{$eum-primary};
  }

  .nav {
    &__link--nested {
      --primary-dark-1: #{$text-white-hover};
    }
  }

  .reading {
    --primary-light-5: #{sass-blacken($eum-primary, 1)};
  }

  .reading-detail__header-content {
    --background: #{$eum-primary};
  }

  .tag {
    --primary-light-4: var(--primary-light-1);
  }

  .topic {
    --primary: #{$eum-primary};

    &--secondary {
      --primary: #{$eum-secondary};
    }

    &--tertiary {
      --primary: #{$eum-tertiary};
    }

    &__btn a {
      color: $text-color;

      &::after {
        background-color: $text-color;
      }
    }
  }
}
