.eum-header {
  --background: #fff;

  background: var(--background);

  &__left,
  &__right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: inherit;
    align-items: center;
  }

  &__right {
    margin-left: auto;
  }

  .secondary-menu {
    margin-left: -12px;

    li {
      margin: 0 12px;
    }

    a {
      padding: 12px 8px;
      line-height: 1.15;
      vertical-align: middle;

      &:hover {
        color: var(--primary-dark-1);
      }
    }
  }
}
