/* cinzel-regular - latin */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}cinzel-v11-latin-regular.woff2') format('woff2'),
    url('#{$font-path}cinzel-v11-latin-regular.woff') format('woff');
}

/* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}rubik-v12-latin-300.woff2') format('woff2'),
    url('#{$font-path}rubik-v12-latin-300.woff') format('woff');
}

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}rubik-v12-latin-regular.woff2') format('woff2'),
    url('#{$font-path}rubik-v12-latin-regular.woff') format('woff');
}

/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}rubik-v12-latin-500.woff2') format('woff2'),
    url('#{$font-path}rubik-v12-latin-500.woff') format('woff');
}

/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}rubik-v12-latin-700.woff2') format('woff2'),
    url('#{$font-path}rubik-v12-latin-700.woff') format('woff');
}

/* rubik-300italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}rubik-v12-latin-300italic.woff2') format('woff2'),
    url('#{$font-path}rubik-v12-latin-300italic.woff') format('woff');
}

/* rubik-italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}rubik-v12-latin-italic.woff2') format('woff2'),
    url('#{$font-path}rubik-v12-latin-italic.woff') format('woff');
}

/* rubik-500italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}rubik-v12-latin-500italic.woff2') format('woff2'),
    url('#{$font-path}rubik-v12-latin-500italic.woff') format('woff');
}

/* rubik-700italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}rubik-v12-latin-700italic.woff2') format('woff2'),
    url('#{$font-path}rubik-v12-latin-700italic.woff') format('woff');
}

/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}eb-garamond-v15-latin-regular.woff2') format('woff2'),
    url('#{$font-path}eb-garamond-v15-latin-regular.woff') format('woff');
}

/* eb-garamond-500 - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}eb-garamond-v15-latin-500.woff2') format('woff2'),
    url('#{$font-path}eb-garamond-v15-latin-500.woff') format('woff');
}

/* eb-garamond-600 - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}eb-garamond-v15-latin-600.woff2') format('woff2'),
    url('#{$font-path}eb-garamond-v15-latin-600.woff') format('woff');
}

/* eb-garamond-700 - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}eb-garamond-v15-latin-700.woff2') format('woff2'),
    url('#{$font-path}eb-garamond-v15-latin-700.woff') format('woff');
}

/* eb-garamond-italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}eb-garamond-v15-latin-italic.woff2') format('woff2'),
    url('#{$font-path}eb-garamond-v15-latin-italic.woff') format('woff');
}

/* eb-garamond-500italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}eb-garamond-v15-latin-500italic.woff2') format('woff2'),
    url('#{$font-path}eb-garamond-v15-latin-500italic.woff') format('woff');
}

/* eb-garamond-600italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}eb-garamond-v15-latin-600italic.woff2') format('woff2'),
    url('#{$font-path}eb-garamond-v15-latin-600italic.woff') format('woff');
}

/* eb-garamond-700italic - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}eb-garamond-v15-latin-700italic.woff2') format('woff2'),
    url('#{$font-path}eb-garamond-v15-latin-700italic.woff') format('woff');
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('#{$font-path}roboto-mono-v13-latin-regular.woff2') format('woff2'),
    url('#{$font-path}roboto-mono-v13-latin-regular.woff') format('woff');
}

/* roboto-mono-500 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src:
    local(''),
    url('#{$font-path}roboto-mono-v13-latin-500.woff2') format('woff2'),
    url('#{$font-path}roboto-mono-v13-latin-500.woff') format('woff');
}
