.main-header {
  &__brand-title {
    @include media('>=s') {
      font-size: 2.8rem;

      .has-header-sticky & {
        font-size: 2rem;
      }
    }
  }

  &__brand-subtitle {
    display: none;
  }

  &__page-settings {
    display: none;
    flex-wrap: nowrap;
    align-items: center;

    @include media('>=xl') {
      display: flex;
    }
  }

  &__page-settings-mobile {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    @include media('>=xl') {
      display: none;
    }
  }

  &__social {
    order: 0;
    margin-right: auto;
    flex: 1 1 auto;

    @include media('>=xl') {
      order: 2;
    }
  }

  &__language-mobile {
    position: relative;
  }

  .secondary-menu {
    li {
      display: inline-block;
      margin-right: 12px;
    }

    a {
      display: inline-block;
      padding: 12px 6px;
      letter-spacing: 0.06px;
      line-height: 1.15;
      vertical-align: middle;

      &:hover,
      &:active {
        color: $text-white-hover;
      }
    }
  }
}
