.text-size-controls {
  margin: 0 8px;
  padding: 6px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  input {
    display: none;
  }

  label {
    padding: 6px 2px;
    margin: 0 2px;
    cursor: pointer;
    font-size: 1rem;
    //font-weight: 500;
    line-height: 1;

    &.small {
      font-size: 0.75rem;
    }

    &.large {
      font-size: 1.25rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.color-theme-controls {
  margin: 0 8px;
  padding: 6px 0;
}

button.color-theme-toggle {
  padding: 6px 2px;

  &:hover {
    opacity: 0.8;
  }
}
