html {
  &.is-text-small {
    font-size: 12px;

    @include media('>=xxl') {
      font-size: 14px;
    }
  }

  &.is-text-large {
    font-size: 20px;

    @include media('>=xxl') {
      font-size: 24px;
    }

    .featured__content {
      overflow-y: auto;
    }

    .special__content-inner {
      overflow-y: auto;
    }
  }
}

.template-header__breadcrumbs .icon {
  html.is-text-small &,
  html.is-text-large & {
    width: 1.2em;
    height: 1.2em;
  }
}
