.article {

  &.has-video &__image a::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='width: 40px; height: 40px; fill:none;stroke:#{inlinesvg($white)};stroke-miterlimit:10;stroke-width:32px'/><path d='M216.32,334.44,330.77,265.3a10.89,10.89,0,0,0,0-18.6L216.32,177.56A10.78,10.78,0,0,0,200,186.87V325.13A10.78,10.78,0,0,0,216.32,334.44Z' style='fill:#{inlinesvg($white)}'/></svg>");
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__text a {
    color: $support;
    text-decoration: underline;
  }
}
