// Styling of media & text block

.contact-card {
  display: flex;
  align-items: flex-start;

  .wp-block-media-text__media {
    flex: 0 0 90px;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    border-radius: 100%;
    margin-right: 20px;
  }

  .wp-block-media-text__content {
    p:first-of-type {
      margin-top: 0 !important;
    }
  }
}
