.history-event {
  --background: #fff;
  --text-color: #{sass-blacken($eum-primary, 3)};

  position: relative;
  min-height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding: 32px 46px;
  box-shadow: 4px 0 0 $secondary;
  background-color: var(--background);
  color: var(--text-color);

  &__date {
    @include heading(3);

    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-weight: 600;

    &::after {
      display: block;
      content: '';
      width: 80px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $secondary;
    }
  }

  &__image {
    @include responsive-media-wrapper(4,1);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: 0.6;
    }

    display: block;
    width: 100vw;
    position: absolute;
    top: 0;
    left: -50%;
    z-index: -1;
  }
}
