.history-slide {

  &__image-wrapper {
    position: relative;
    display: block;
    margin-bottom: 16px;
  }

  &__image {
    @include responsive-media-wrapper(1,1);
  }

  &__overtext {
    position: absolute;
    bottom: 0;
    left: -5px;
    color: #f5f7fa;
    line-height: 0.65;
    font-size: 8.6vw;
    font-weight: 700;
    white-space: nowrap;

    @include media(">=m") {
      font-size: 2.75rem;
    }
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 500;
  }
}
