.partner {
  @include border-left(whiten($secondary, 1));

  padding-right: 20px;

  &--stretched {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__kicker {
    @include item-kicker($secondary);

    margin-bottom: 8px;
  }

  &__name {
    @include heading(4);

    font-weight: 600;
    letter-spacing: -0.34px;
    margin-bottom: 36px;
  }

  &__logo {
    margin-top: auto;

    img {
      max-height: 60px;
      width: auto;
    }
  }
}
