---
layout: base
---
{% set current_item = '404' %}

  <header class="template-header container">
    <h1 class="template-header__title">
    Nessun contenuto trovato
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <span>404</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <p class="text text--lead">Il contenuto che stavi cercando non esiste o potrebbe essere stato eliminato. Prova a usare la funzione di ricerca in basso, oppure scorri la pagina per iniziare a navigare tra i contenuti del nostro sito.</p>
        <div class="p-top--medium">
          <input class="styled-input" type="text" id="test-text" />
        </div>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data m-bottom--medium">
          <div class="big-data__kicker">
            La Provincia in numeri
          </div>
          <div class="big-data__item">
            <span class="big-data__number">433</span> gesuiti
          </div>
          <div class="big-data__item">
            <span class="big-data__number">38</span> comunità
          </div>
          <div class="big-data__item">
            <span class="big-data__number">41</span> opere, attive nel campo sociale, nella cultura, coi giovani, nelle scuole e negli esercizi spirituali
          </div>
        </div>
        <a class="special-link" href="/chi-siamo/">Scopri chi siamo</a>
      </div>
    </div>
  </section>


  <section class="section p-bottom--large p-top--large">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      {% include 'partials/sections/_vocation-adv.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>