---
layout: base
---
{% set current_category = 'templates' %}
{% set current_item = 'archivio-decreti' %}
{% set current_congregation = 34 %}
  <header class="template-header container">
    <div class="template-header__title">
      Decreti delle Congregazioni Generali
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
        Gesuiti
      </a>
      <a href="/archivio-letture-consigliate/">Letture consigliate</a>
      <span>Decreti delle Congregazioni Generali</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    {% for decree in decrees %}
      {% if decree.number == 1 %}
      <h2 class="decree-archive-title h2">Congregazione Generale {{decree.congregation}}</h2>
      {% endif %}
      <article class="decree">
        <h3 class="decree__title h5" style="font-weight: 500">
          <a href="/dettaglio-lettura/">{{decree.number}}. {{decree.title}}</a>
        </h3>
      </article>
      {% if decree.isLast %}
        <a class="special-link special-link--small" href="#">
          Scarica i decreti della CG{{decree.congregation}} in formato .pdf (300kb)
          <svg class="icon" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 512 512'><title>ionicons-v5-a</title><polyline points='112 268 256 412 400 268' style='fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='256' y1='392' x2='256' y2='100' style='fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
        </a>
      {% endif %}
    {% endfor%}
  </section>

  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
