---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'chiese' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Chiese
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="/cosa-facciamo/">Cosa facciamo</a>
      <span>Chiese</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">Comunità in cammino</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            Nel 1568 viene costruita la prima chiesa a Roma dedicata al "nome di Gesù". Oggi le comunità affidate alla Compagnia sono 21, da Trieste a Catania, Tirana compresa. Siamo tra la gente, accanto a ciascuno per un cammino di riconciliazione e giustizia.
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/chiese.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Arte e spiritualità</h2>
        <p>Nel 1568 i gesuiti costruirono la loro prima chiesa nel centro di Roma e la dedicarono al "Nome di Gesù". Essa fu imitata per secoli in innumerevoli chiese che i gesuiti costruirono in tutto il mondo, divenendo modello dell'architettura gesuitica.</p>
        <p>Tra le caratteristiche salienti delle nostre chiese:</p>
        <ul>
          <li>l'ubicazione centrale nella città,che rispecchia l'intuizione di Ignazio di cercare Dio nel cuore dell'umano;</li>
          <li>la pianta "ad aula" per facilitare l'annuncio della Parola;</li>
          <li>il "trigramma" IHS, abbreviazione del Nome di Gesù che sottolinea la relazione personale con Cristo;</li>
          <li>l'importanza dell'eucaristia (nel contesto della Riforma cattolica);</li>
          <li>la presenza ai lati o nei transetti dei due santi principali della Compagnia come emblemi della centralità dell'istituzione (Sant'Ignazio) e della passione che porta fino agli ultimi confini (San Francesco Saverio),</li>
          <li>lo stile barocco (come arte che coinvolge i "5 sensi" nell'esperienza dell'incontro con Dio).</li>
        </ul>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_art-readings.njk' %}
      </div>
    </div>
  </section>

  <section class="container container--no-overflow p-top--mini">
    <h2 class="h2">Le nostre chiese</h2>
    <div class="church-list p-top--mini">
      <div class="" style="max-width: 300px;">
        <label class="styled-label styled-label--small" style="text-transform:uppercase;">Scegli una città</label>
        <select class="church-list__input styled-input js-church-list-input">
          <option value="all">Tutte</option>
          <option value="alghero">Alghero</option>
          <option value="cagliari">Cagliari</option>
          <option value="catania">Catania</option>
          <option value="cuneo">Cuneo</option>
          <option value="gallarate">Gallarate</option>
          <option value="genova">Genova</option>
          <option value="milano">Milano</option>
          <option value="napoli">Napoli</option>
          <option value="palermo">Palermo</option>
          <option value="pescara">Pescara</option>
          <option value="pisa">Pescara</option>
          <option value="reggio-calabria">Reggio Calabria</option>
          <option value="roma">Roma</option>
          <option value="satu-mare">Satu Mare</option>
          <option value="tirana">Tirana</option>
          <option value="torino">Torino</option>
          <option value="trieste">Trieste</option>
        </select>
      </div>

    <div class="row row--extra-gutter">
      {% for church in works|sort(false, true, 'city') %}
        {% if church.scope == 'Chiese' %}
        <article class="article col-12 col-s-6 col-l-4 js-church-item" data-city="{{ church.city | replace(' ', '-') | lower }}">
          <div class="article__image article__image--1-1">
            <a href="{{ church.url }}">
              {% if church.image %}
                <img src="/img/{{church.image}}">
              {% else %}
                <img src="https://via.placeholder.com/660x440/?text=Ratio+1:1">
              {% endif %}
            </a>
          </div>
          <div class="article__meta">
            <div class="article__kicker">{{ church.city }}</div>
          </div>
          <h3 class="article__title">
            <a href="{{ church.url }}">{{ church.name }}</a>
          </h3>
          <div class="article__text">
            {{ church.address }}<br>
            {{ church.telephone }}
          </div>
        </article>
        {% endif %}
      {% endfor %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>