---
layout: base
---
{% set current_item = 'contatti' %}
  <header class="template-header container">
    <h1 class="template-header__title">
        Contatti
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <span>Contatti</span>
    </div>
  </header>

  <section class="container p-bottom--medium p--top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Provincia d'Italia della Compagnia di Gesù</h2>
        <p>Via degli Astalli 16, 00186 Roma</p>
        <ul>
          <li>+39 06.697001 (centralino)</li>
          <li>info@gesuiti.it</li>
        </ul>
        <h5>Ufficio Comunicazione</h5>
        <p>Laura Galimberti<br>galimberti.l@gesuiti.it</p>
        <h5>Vocazioni</h5>
        <p>P. Andrea Picciau SJ<br>vocazioni@gesuiti.it</p>
        <h5>Prevenzione degli abusi e tutela minori e persone vulnerabili</h5>
        <p>P. Paul Pace SJ<br>tutela@gesuiti.it<a href="/tutela/">Visita la pagina</a></p>
        <h5>Archivio Storico</h5>
        <p>Dott.ssa Maria Macchi<br>archivio.eum@gesuiti.it<br><a href="https://archiviostorico.gesuiti.it/">Vai al sito</a></p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data m-bottom--medium">
          <div class="big-data__kicker">
            La Provincia in numeri
          </div>
          <div class="big-data__item">
            <span class="big-data__number">75</span> Opere, attive nel campo sociale, nella cultura, coi giovani, nelle scuole e negli esercizi spirituali
          </div>
          <div class="big-data__item">
            <span class="big-data__number">45</span> Gesuiti in formazione
          </div>
        </div>
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="container container--no-overflow">
    <div class="row">
      <div class="col-12 col-xl-8 eum-styled-content">
        <h2>Accompagnatori vocazionali</h2>
        <p class="text text--lead">Se desideri parlare con noi per iniziare a discernere la tua vocazione, mettiti in contatto con il promotore vocazionale della tua zona.</p>
      </div>
    </div>
    <div class="row row--extra-gutter p-top--small">
      {% for group in vocationPromoters | slice(3) %}
      <div class="col-12 col-xs-6 col-xl-4">
        {% for zone in group %}
        <p><b>{{ zone.region }}</b></p>
        {% for promoter in zone.promoters %}
          <p class="m-bottom--mini">{{ promoter.name}}<br>
          {{ promoter.email }}</p>
        {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>

