---
layout: base
---
{% set current_parent = 'chi-siamo' %}
{% set current_item = 'cosa-ci-caratterizza' %}

  <header class="template-header container">
    <h1 class="template-header__title">
    Cosa ci caratterizza
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <a href="/la-provincia-euro-mediterranea/">Chi siamo</a>
      <span>Cosa ci caratterizza</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Caratteristiche della Compagnia</h2>
        <p class="text text--lead">Ignazio e i primi compagni volevano un ordine religioso sacerdotale i cui membri fossero completamente dediti e disponibili alla missione apostolica. Per questo, sin dagli inizi, hanno voluto che la Compagnia avesse alcune caratteristiche peculiari che la distinguono tutt’oggi dagli altri ordini religiosi.</p>
        <h3>Il nostro modo di condividere</h3>
        <p>Ignazio ha insistito per ottenere la dispensa dall’obbligo della preghiera in comune: una rivoluzione nel mondo ecclesiale. Per definizione un istituto religioso è caratterizzato dal fatto che i suoi membri si radunano periodicamente per recitare la liturgia delle ore. Il nostro modo di fare comunità invece si basa sulla condivisione spontanea e informale della nostra esperienza spirituale. I momenti conviviali (pranzi, cene e ricreazioni) sono il luogo dove coltiviamo la nostra amicizia, maturano progetti e scambiamo idee.</p>
        <h3>In mezzo alla gente</h3>
        <p>Viviamo in mezzo alla gente. Le nostre case sono spesso situate nel cuore delle città piuttosto che in campagna o in luoghi isolati. Noi le chiamiamo “residenze” perché di fatto non sono conventi o monasteri. Anche internamente assomigliano a normali case, dove ci sono luoghi comuni e camere personali. In genere, lo stile delle nostre abitazioni è semplice e sobrio.</p>
        <h3>Senza un abito specifico</h3>
        <p>Anche il nostro modo di vestire è inusuale: non abbiamo una veste religiosa che ci identifica. A seconda delle circostanze, valutiamo come è più appropriato stare in mezzo alla gente. La nostra missione nasce dall’ascolto attento e discreto del contesto in cui viviamo per trovare dove e come lo Spirito sta agendo nella situazione contingente.</p>
        <h3>L'obbedienza al Papa</h3>
        <p>Alcuni di noi fanno un voto speciale di obbedienza al papa. Avendo lui una visione universale della Chiesa, meglio di altri conosce quali sono le frontiere alle quali è opportuno essere inviati.</p>
        <p>Nel corso delle varie congregazioni generali (il più alto organo di governo della Compagnia), vari Papi sono intervenuti con dei discorsi che sono rimasti nella storia. Qui puoi leggere i più famosi:</p>
        <ul>
          <li><a href="https://w2.vatican.va/content/benedict-xvi/it/speeches/2008/february/documents/hf_ben-xvi_spe_20080221_gesuiti/">Papa Benedetto XVI, in occasione della CG35</a></li>
          <li><a href="https://w2.vatican.va/content/paul-vi/it/speeches/1974/documents/hf_p-vi_spe_19741203_esortazione-compagnia-gesu/">Papa Paolo VI, in occasione della CG32</a></li>
          <li><a href="http://w2.vatican.va/content/francesco/it/speeches/2016/october/documents/papa-francesco_20161024_visita-compagnia-gesu/">Papa Francesco, in occasione della CG36</a></li>
        </ul>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <article class="adv m-bottom--small">
          <div class="adv__kicker kicker text--secondary" style="font-weight: 500;text-transform: uppercase;">Diventare gesuita</div>
          <div class="adv__title">
            <a href="/diventare-gesuita/">Come riconoscere una chiamata</a>
          </div>
          <div class="adv__text text">Ogni essere umano fa esperienza di essere chiamato dal Signore. Scopri come riconoscere la tua vocazione.</div>
          <div class="adv__btn">
            <a href="/diventare-gesuita/">Approfondisci</a>
          </div>
        </article>
        <article class="adv">
          <div class="adv__title">
            <a href="/diventare-gesuita/">Requisiti per entrare in Compagnia</a>
          </div>
          <div class="adv__text text">No, non serve una laurea, come molti pensano. Non ci sono requisiti veri e propri che devi avere. Solo alcune attitudini.</div>
          <div class="adv__btn">
            <a href="/diventare-gesuita/">Approfondisci</a>
          </div>
        </article>
      </div>
    </div>
  </section>


  <section class="section p-bottom--large p-top--large">
    <div class="container">
      {% include 'partials/sections/_society-history-special.njk' %}
    </div>
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      {% include 'partials/sections/_prayer-resources.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
