---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'cosa-facciamo' %}
  <header class="template-header container">
    <h1 class="template-header__title">
        Cosa facciamo
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <span>Cosa facciamo</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    {% include 'partials/sections/_activities-grid.njk' %}
  </section>

  {% include 'partials/sections/_vocation-adv.njk' %}

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>

