---
layout: base
---

  <header class="template-header container">
    <h1 class="template-header__title">
      Cultura
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Cultura</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">In dialogo con il cuore dell'uomo</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            Il sapere è un processo che scaturisce da bisogni e desideri. Andare a fondo nelle questioni non significa trovare una risposta a tutto ma dialogare pazientemente con le domande che abitano il cuore dell’uomo per una nuova comprensione di sè.
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/cultura.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      {% include 'partials/sections/_province-archive.njk' %}
    </div>
  </section>

  <section class="container container--no-overflow p-bottom--medium p-top--medium">
    <h2 class="h2 text--center m-bottom--medium">Le nostre riviste</h2>
    <div class="row row--extra-gutter">
      <div class="article col-12 col-s-6">
        <div class="article__image article__image--16-9">
          <a href="https://www.laciviltacattolica.it/">
            <img src="/img/magazines/civilta-cattolica-1.jpg">
          </a>
        </div>
        <div class="article__title">
          <a href="https://www.laciviltacattolica.it/">La Civiltà Cattolica</a>
        </div>
        <div class="article__text">
          Fondata nel 1850, è la più antica rivista italiana ancora attiva. Oggi è disponibile anche in inglese, francese, cinese e coreano.
        </div>
        <div class="article__btn">
          <a href="https://www.laciviltacattolica.it/">Vai al sito</a>
        </div>
      </div>
      <div class="article col-12 col-s-6">
        <div class="article__image article__image--16-9">
          <a href="https://www.aggiornamentisociali.it/">
            <img src="/img/magazines/aggiornamenti-sociali-1.jpg">
          </a>
        </div>
        <div class="article__title">
          <a href="https://www.aggiornamentisociali.it/">Aggiornamenti Sociali</a>
        </div>
        <div class="article__text">
          Dal 1950 Aggiornamenti Sociali affronta gli snodi cruciali della vita sociale, politica ed ecclesiale articolando fede cristiana e giustizia.
        </div>
        <div class="article__btn">
          <a href="https://www.aggiornamentisociali.it/">Vai al sito</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      <div class="row">
        <div class="col-12 col-m-7">
          <h2 class="h2">Fondazione Carlo Maria Martini</h2>
          <p class="text text--lead">La Fondazione promuove la conoscenza e lo studio della vita e delle opere di Carlo Maria Martini, e tiene vivo lo spirito che ha animato il suo impegno, favorendo l’esperienza e la conoscenza della Parola di Dio nel contesto della cultura contemporanea.</p>
          <a href="https://fondazionecarlomariamartini.it/" class="special-link">Visita il sito della Fondazione</a>
        </div>
        <div class="col-12 col-m-4" style="margin-left: auto;">
          <img class="m-top--mini" src="/img/fondazione-martini.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="container container--no-overflow p-top--mini">
    <h2 class="h3 m-bottom--medium text--center">Centri culturali</h2>
    <div class="row row--extra-gutter">
      <article class="article col-12 col-s-6 col-l-3">
        <div class="article__image article__image--1-1">
          <a href="http://www.stensen.org/">
            <img src="/img/cultural-centers/fondazione-stensen.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Firenze</div>
        </div>
        <h3 class="article__title">
          <a href="http://www.stensen.org/">Fondazione Culturale Nils Stensen</a>
        </h3>
      </article>
      <article class="article col-12 col-s-6 col-l-3">
        <div class="article__image article__image--1-1">
          <a href="http://www.stensen.org/">
            <img src="/img/cultural-centers/san-fedele.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Milano</div>
        </div>
        <h3 class="article__title">
          <a href="http://www.stensen.org/">Centro Culturale San Fedele</a>
        </h3>
      </article>
      <article class="article col-12 col-s-6 col-l-3">
        <div class="article__image article__image--1-1">
          <a href="https://www.fondazionesantignazio.it/">
            <img src="/img/cultural-centers/villa-sant-ignazio.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Trento</div>
        </div>
        <h3 class="article__title">
          <a href="https://www.fondazionesantignazio.it/">Fondazione S. Ignazio</a>
        </h3>
      </article>
      <article class="article col-12 col-s-6 col-l-3">
        <div class="article__image article__image--1-1">
          <a href="https://www.centroveritas.it/">
            <img src="/img/cultural-centers/centro-veritas.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Trieste</div>
        </div>
        <h3 class="article__title">
          <a href="https://www.centroveritas.it/">Centro Culturale Veritas</a>
        </h3>
      </article>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
