---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'cura-del-creato' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Cura del creato
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Cura del creato</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">Ecologia integrale</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            <p>La crisi ambientale colpisce in modo particolare i poveri e i più vulnerabili. I cristiani e le persone di buona volontà devono agire con urgenza. Serve una conversione ecologica per essere custodi leali della nostra meravigliosa casa comune.</p>
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/cura-del-creato.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-carousel.njk' %}
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      <div class="row">
        <div class="col-12 col-m-7">
          <h2 class="h2">Ecojesuit</h2>
          <p class="text text--lead">Dal 2010 Ecojesuit è la rete globale dei gesuiti per l'ecologia. Promuove il dialogo sulla cura della casa comune sostenendo la cooperazione a livello globale e le iniziative delle comunità locali.</p>
          <a href="https://www.ecojesuit.com/" class="special-link">Visita il sito di Ecojesuit</a>
        </div>
        <div class="col-12 col-m-4" style="margin-left: auto;">
          {% youtube 'IWCzCsRdNuY' %}
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
