---
layout: base
---
{% set current_parent = 'templates' %}
{% set current_item = 'dettaglio-news' %}
{% set gallery = [
    {
      src: 'gesuiti-papa.jpg'
    },
    {
      src : 'archivio-storico.jpg',
      caption: 'Archivio Storico della Provincia Euro-Mediterranea della Compagnia di Gesù, inaugurato nel 2019. - Ph. Laura Galimberti'
    },
    {
      src : 'fondazione-martini.jpg'
    },
    {
      src: 'churches/casa-professa-palermo.jpg',
      caption: 'La chiesa di Casa Professa a Palermo. - Ph. Archivio Privato Casa Professa'
    }
  ]
%}

  <header class="template-header container">
    <div class="template-header__title">
      News
    </div>
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
       Gesuiti</a>
      <a href="/news/">News</a>
      <span>Titolo post</span>
    </div>
  </header>

  <article class="article-detail container">
			<header class="article-detail__header">
				<div class="article-detail__meta">
          <time class="article-detail__date">May 28, 2020</time>
          <span class="article-detail__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
          <div class="article-detail__kicker">
            <a class="category" href="/dettaglio-categoria/">EUM Province</a>
            <a class="category" href="/dettaglio-categoria/">Culture</a>
            <a class="category" href="/dettaglio-categoria/">Youth</a>
          </div>
        </div>
				<h1 class="article-detail__title">Titolo su una o due righe lorem ipsum dolor sit amet</h1>
			</header>
			<figure class="article-detail__image" loading="eager">
				<img src="https://d1c233nw6edifh.cloudfront.net/wp-content/uploads/2025/02/tirana-bazar-1098x732.jpg" />
				<figcaption>Lorem ipsum dolor sit amet | Ph. Archivio Centro Astalli</figcaption>
			</figure>
			</div>
			<div class="article-detail__content-wrapper">
				<div class="article-detail__content eum-styled-content">
          <p class="text--lead">More than 210 participants from 25 countries came together “to know,  love and share” in Magis Europe 2019 summer event. The Ignatian program for young adults took place in Lithuania and Latvia from the 23rd&nbsp;till the 31st of July, 2019.</p>

          <div class="carousel carousel--gallery">
            <div class="carousel__slider" data-flickity='{"percentPosition":"false","lazyLoad":2,"dragThreshold":10}'>
              {% for image in gallery %}
                <figure class="carousel__slide">
                  <img loading="lazy" data-flickity-lazyload="/province-templates/img/{{image.src}}" sizes="(min-width: 1600px) 876px, (min-width: 1200px) 772px, (min-width: 1000px) 612px, (min-width: 760px) 736px, (max-width: 759px) 100vw, 876px">
                  {% if image.caption %}
                    <figcaption>{{ image.caption }}</figcaption>
                  {% endif %}
              </figure>
              {% endfor %}
            </div>
          </div>

          <p>This year 2019 marks the 450th anniversary of the Jesuit Mission in
          Lithuania and The Magis Europe 2019 event became one of the key parts of
          this celebration. The program was based on the official theme of the
          anniversary year “To know, love and share”. The event was also linked to
          the world Magis 2019 program and the World Youth Days in Panama.</p>
          <p>Magis Europe in Lithuania and Latvia was divided in two parts: Magis experiments and the Closing Festival.</p>
          <h2>Experiments</h2>
          <p>There were proposed 11 different experiments, grouped in&nbsp;the  categories: Pilgrimage, Ecology, Service, Spirituality, Arts and Culture.</p>
          <p>The <strong>Ecology</strong> experiments invited to focus on the  practical ways of relating Catholic faith with personal ecology through  environmental workshops and education. These experiments were inspired  by the impulses from Pope Francis’ encyclical “Laudato Sii” and his call  to foster inner spiritual ecology.</p>
          <figure class="">
            <!--
            <img src="http://demo.jesuits-eum.media/theme/wp-content/uploads/sites/2/2019/12/MAGIS_2019_Pilgrimage_Experiment_photo_Andras_Kretzer_600.jpg" alt="" class="wp-image-66284" srcset="https://demo.jesuits-eum.media/theme/wp-content/uploads/sites/2/2019/12/MAGIS_2019_Pilgrimage_Experiment_photo_Andras_Kretzer_600.jpg 896w, https://demo.jesuits-eum.media/theme/wp-content/uploads/sites/2/2019/12/MAGIS_2019_Pilgrimage_Experiment_photo_Andras_Kretzer_600-384x216.jpg 384w, https://demo.jesuits-eum.media/theme/wp-content/uploads/sites/2/2019/12/MAGIS_2019_Pilgrimage_Experiment_photo_Andras_Kretzer_600-592x333.jpg 592w" sizes="(max-width:759px) 100vw, (max-width:999px) 748px, (max-width:1199px) 624px, (max-width: 1599px) 784px, 890px" width="896" height="504">
            -->
            {% youtube '5IExbqVs_6Q' %}
          </figure>
          <p>In the three <strong>Pilgrimage</strong>
          experiments young adults not only walked, but also canoed and cycled
          their way through different terrains in Lithuania and Latvia.
          Pilgrimages took place on the way of Santiago de Compostela, as well as
          on the beautiful Lithuanian seaside in Curonian Spit and in the “blue
          lakes land” area in Latvia.</p>
          <p>Participants who chose the category of<strong> Arts and Culture</strong>
          attended Choir, Taizé music, Theater and Food experiments. Young people
          were invited to reach out to God through worship, improvisation and
          even through the preparation of food. An important part of these
          experiments was sharing the fruits of these experiences – music, acting
          performances and food – with others.</p>
          <h2>Closing Festival</h2>
          <p>After the fruitful and moving Magis experiments participants gathered in  Kaunas, Lithuania for the celebration of the Closing Festival. Young  people participated in the <strong>Evening of Reconciliation</strong>  with the Lithuanian Youth Days choir. Next day participants attended  Magis education workshops, Kaunas tours and took part in the choir  Exaudi concert-meditation “The Face of Christ” which is based on the  Spiritual Exercises of St. Ignatius. The evening was dedicated to get a  glimpse and taste of Central American culture through traditional music,  food and drinks. Magis Europe 2019 was closed on the 31st of July with  an uplifting celebration of the Solemnity of St. Ignatius. Also, the  announcement of an invitation to the next Magis event was made – Magis  Europe 2020 will take place in Hungary from the 1st to the 9th of  August. Remember to book these dates in your Magis calendar!</p>
				</div>
				<div class="article-detail__tags">
					Categorie
            <a class="tag tag--small" href="dettaglio-categoria/">Ultimi</a>
            <a class="tag tag--small" href="dettaglio-categoria/">Verso Dio</a>
            <a class="tag tag--small" href="dettaglio-categoria/">Casa comune</a>
            <a class="tag tag--small" href="dettaglio-categoria/">Giovani</a>
				</div>
        {% include 'partials/sections/_social-share.njk' %}
			</div>
		</article>

    <section class="container container--no-overflow p-top--small">
      <div class="h4 m-bottom--medium text--center">Potrebbe interessarti anche</div>
      <div class="row row--extra-gutter">
        {% for article in news %}
        {% if loop.index < 4 %}
        <div class="col-12 col-s-6 col-xl-4">
          <article class="article{% if article.hasVideo %} has-video{% endif %}">
            <figure class="article__image">
              <a href="/dettaglio-news/">
                <img src="{{article.image}}">
              </a>
            </figure>
            <div class="article__meta">
              <span class="article__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
              </span>
              <div class="article__kicker">
                <a href="/dettaglio-news/">{{ article.topic }}</a>
              </div>
              <time class="article__date">11.10.2018</time>
            </div>
            <h2 class="article__title">
              <a href="/dettaglio-news/">{{article.title | safe }}</a>
            </h2>
            <div class="article__text">
              {{article.excerpt | striptags | safe | truncate(95)}}
            </div>
          </article>
        </div>
        {% endif %}
      {% endfor %}
      </div>
  </section>
