---
layout: base
---
{% set current_parent = 'varie' %}
{% set current_item = 'dettaglio-storia' %}

  <header class="template-header container">
    <div class="template-header__title">
      Letture consigliate
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="storie-di-vocazione/">Letture consigliate</a>
      <span>Titolo lettura</span>
    </div>
  </header>

  <article class="reading-detail container">
    <header class="reading-detail__header">
      <h2 class="reading-detail__author">Paolo Bizzeti, Sara Selmi, Sebastiano Nerozzi</h2>
      <div class="reading-detail__header-wrapper">
        <div class="reading-detail__header-content">
          <h1 class="reading-detail__title h1">Desiderare e scegliere</h1>
          <h2 class="reading-detail__subtitle h3">Un percorso spirituale con Ignazio di Loyola</h2>
          <div class="reading-detail__meta">
            <div class="reading-detail__meta-item">Casa editrice <b>EDB</b></div>
            <div class="reading-detail__meta-item">a cura di <b>Paolo Bizzeti</b></div>
          </div>
        </div>
        <figure class="reading-detail__image">
          <img src="https://demo.jesuits-eum.media/eum/wp-content/uploads/sites/4/2020/06/desiderare-e-scegliere-un-percorso-spirituale-con-ignazio-loyola.jpg" alt="" sizes="(max-width:564px) 100vw, (max-width:999px) 200px, (max-width:1199px) 360px, (max-width:1199px) 440px, 480px" loading="eager" width="480" height="320">
        </figure>
      </div>
    </header>

    <div class="row">
      <div class="reading-detail__content eum-styled-content col-12 col-xl-8">
        <p>Dal dialogo e dal confronto tra un vescovo e una coppia di sposi, accomunati da anni di amicizia e di fede condivisa, nasce questa catechesi cristiana per gli uomini e le donne di oggi.</p>
        <p>È un percorso che risponde alla moderna sensibilità laicale e si ispira alla Bibbia e agli Esercizi di sant’Ignazio di Loyola, fondatore della Compagnia di Gesù. Evitando sia soluzioni indiscutibili e preconfezionate, sia lo spontaneismo del «fai da te», la spiritualità viene qui presentata non come il regno dei devoti, ma come la dimensione che offre un senso all’uomo di oggi.</p>
        <p>Il discernimento dei propri desideri, l’ascolto contemplativo della parola di Dio nelle circostanze della nostra vita, la partecipazione alla vita della Chiesa, sono la via per cercare e vivere la propria vocazione di uomini e donne capaci di amare.</p>
      </div>
      <div class="reading-detail__sidebar col-12 col-xl-3">
        <div class="h6 h--sans m-bottom--small">
          Other readings
        </div>
        <div class="row">
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="/dettaglio-lettura/">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__title">
                <a href="/dettaglio-lettura/">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="/dettaglio-lettura/">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="/dettaglio-lettura/">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </article>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>

