---
layout: base
---
{% set current_parent = 'varie' %}
{% set current_item = 'dettaglio-storia' %}
  <header class="template-header container">
    <div class="template-header__title">
      Storie di vocazione
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="storie-di-vocazione/">Storie di vocazione</a>
      <span>Post title</span>
    </div>
  </header>

  <article class="reading-detail reading-detail--story container">
    <header class="reading-detail__header">
      <h2 class="reading-detail__author">Ronny Alessio SJ</h2>
      <div class="reading-detail__header-wrapper">
        <div class="reading-detail__header-content">
          <h1 class="reading-detail__title h1">Da ingegnere a sacerdote: quel “delta” passo dopo passo</h1>
          <p class="reading-detail__summary text text--lead">È stata una suora ad indirizzarmi da un gesuita per l’esperienza della direzione spirituale. Un tempo di discernimento, un taglio importante a molti aspetti della mia vita.</p>
        </div>
        <figure class="reading-detail__image">
          <img src="/img/stories/guido-ruta.jpg" alt="" sizes="(max-width:564px) 100vw, (max-width:999px) 200px, (max-width:1199px) 360px, (max-width:1199px) 440px, 480px" loading="eager" width="480" height="320">
        </figure>
      </div>
    </header>

    <div class="row">
      <div class="reading-detail__content eum-styled-content col-12 col-xl-8">
        <p>Ho aperto la porta piano piano. La prima volta verso i 9 anni, ascoltando in parrocchia la testimonianza di un giovane seminarista. Mi piaceva lo stile di Gesù, soprattutto quell’ intessere autentiche relazioni di amicizia. Poi alti e bassi, inseguendo quel che mi piaceva, fino a quando il mio viceparroco mi ha rivolto un invito ad un campo di servizio, quando ero&nbsp;animatore dell’Azione Cattolica nel mio paese, Romano D’Ezzellino,&nbsp;in provincia di Vicenza.</p>
        <h2>A Barbiana, nel Mugello</h2>
        <p>Avevo appena conseguito la maturità all’Istituto professionale, ero un tornitore e fresatore pronto per entrare nel mondo dell’azienda. Lì a Barbiana ho iniziato a leggere le lettere di don Lorenzo. Su quelle colline per la prima volta ho pensato e deciso di proseguire gli studi in ingegneria per cercare degli strumenti per essere di aiuto a me e agli altri.&nbsp;</p>
        <h2>Tappe importanti</h2>
        <p>Tre le esperienze che mi hanno aiutato a crescere: la permanenza al collegio “don Nicola Mazza”, dove ho allargato i confini del mio mondo, incontrando ragazzi provenienti dal Brasile, dalla Georgia, dall’Africa impegnati in studi diversi. Un’opera per ragazze adolescenti provenienti da famiglie difficili. Vi lavoravano le suore elisabettine, le stesse dell’asilo che ho frequentato da piccolo e a cui devo molto. Lì ha iniziato a prendere forma quel sogno abbozzato ai tempi di Barbiana: vivere nel quotidiano la concretezza del Vangelo. Fu proprio una suora elisabettina ad indirizzarmi da un gesuita, p. Luigi Saggin, per vivere l’esperienza della direzione spirituale. Un tempo di discernimento, un taglio importante a molti aspetti della mia vita.&nbsp;</p>
        <h2>Comprendere la propria strada</h2>
        <p>Volevo capire se essere sacerdote era la mia vocazione. Ho lasciato Padova per iniziare a lavorare a Lonigo proseguendo la direzione spirituale con p. Tata. Ho conosciuto persone capaci di vera e gratuita amicizia. Un giorno andando per l’ennesima volta al Centro Giovanile di Padova, ho trovato di fronte alla cappella del Centro una fotocopia di una lettera di p. Arrupe. Il p. Generale metteva duramente in discussione la Compagnia, il suo modo di procedere, parole che mi hanno dato una profonda consolazione.&nbsp;</p>
        <h2>Inizia l’affidamento</h2>
        <p>Quel 17 novembre del 2002, quando sono entrato in noviziato, ho sperimentato il viaggio più lungo della mia vita. Mia mamma e mio fratello si fermavano ad ogni distributore per vedere se cambiavo idea. In quel viaggio ho cercato di fidarmi, di andare lontano, provare a mettere in discussione i miei schemi. Per questo sono rimasto di “sasso” quando, in Spagna a Madrid, sul punto di terminare i miei studi di Teologia, il Provinciale mi ha chiesto di seguire un progetto a Padova, prendendo la licenza in Liturgia, per poi essere destinato in Albania.&nbsp;</p>
<p>Due anni speciali perché lo studio è stata la mia risorsa per la prima volta! Ho conosciuto persone e discipline nuove, inizio a percepire una rinnovata visione del mondo. Cambia anche la mia esperienza di affidamento, meno condizionato. Dovevo arrivare in Albania 2014 per poi fare il direttore della Scuola verso il 2017 ma nel 2014 stesso inizio il mio servizio da direttore senza sapere la lingua e senza aver mai lavorato in un ufficio scolastico. Nel 2019 la richiesta del Provinciale a seguire lo sviluppo del Piano Apostolico. Le sorprese continuano di giorno in giorno, tanto più in questo tempo. Ho imparato a riconoscere la differenza tra i miei e i Suoi piani, a pazientare ed attendere.&nbsp;</p>
      </div>
      <div class="reading-detail__sidebar col-12 col-xl-3">
        <div class="h6 h--sans m-bottom--small">
          Other readings
        </div>
        <div class="row">
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="/dettaglio-lettura/">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__title">
                <a href="/dettaglio-lettura/">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="/dettaglio-lettura/">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="/dettaglio-lettura/">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </article>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_readings-carousel.njk' %}
  </section>
