---
layout: base
---
{% set current_parent = 'templates' %}
{% set current_item = 'article-archive' %}

  <header class="template-header container">
    <div class="template-header__title">
      News
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
        Gesuiti</a>
      <a href="news/">News</a>
      <span>Categoria</span>
    </div>
  </header>

  <div class="container container--no-overflow p-top--small">
    <div class="row row--extra-gutter">
      {% for article in news %}
      <div class="col-12 col-s-6 col-xl-4">
        <article class="article{% if article.hasVideo %} has-video{% endif %}">
          <figure class="article__image">
            <a href="/dettaglio-news/">
              <img src="{{article.image}}">
            </a>
          </figure>
          <div class="article__meta">
            <span class="article__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
            <div class="article__kicker">
              <a href="/dettaglio-news/">{{ article.topic }}</a>
            </div>
            <time class="article__date">11.10.2018</time>
          </div>
          <h2 class="article__title">
            <a href="/dettaglio-news/">{{article.title | safe }}</a>
          </h2>
          <div class="article__text">
            {{article.excerpt | striptags | safe | truncate(95)}}
          </div>
        </article>
      </div>
    {% endfor %}
    </div>
  </div>
