---
layout: base
---
{% set current_parent = 'diventare-gesuita' %}
{% set current_item = 'diventare-gesuita' %}


  <header class="template-header container">
    <h1 class="template-header__title">
    Il nostro stile
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <span>Diventare gesuita</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content eum-styled-content--smaller-headings">
        <p class="text text--lead">È difficile descrivere un unico profilo, perché l’enorme differenza tra i gesuiti rende difficile una sintesi unica. Questa è una possibile rappresentazione, che nella vita concreta assume la sua originalità, quale frutto del carisma ignaziano e dell’esistenza di ciascuno di noi.</p>
        <h2>Appassionati del Vangelo</h2>
        <p>Chiamati a seguire Gesù Cristo da vicino, fin dalla fondazione siamo ovunque al servizio della missione della Chiesa come fratelli e sacerdoti, perché “il mondo è la nostra casa”, come diceva J. Nadal, uno dei primi gesuiti: l’annuncio di Cristo morto e risorto è al centro di ogni intenzione, attività e operazione (cfr. <a href="https://drive.google.com/file/d/1kuUo-I4s9thxQa9sNrFQ0zBAJUHh-ISU/view?usp=sharing">Esercizi spirituali 46</a>).</p>
        <h2>Liberi e disponibili in Cristo</h2>
        <p>Rinunciando a usare i beni di questo mondo come se fossero nostri e mettendo i nostri talenti, le nostre energie e tutta la nostra libertà a servizio del Vangelo, contribuiamo a fare del Regno a cui aspiriamo una realtà presente qui e ora. Inoltre, il quarto voto di obbedienza al Papa sulle missioni esprime lo specifico della Compagnia: una totale disponibilità a servire la Chiesa dovunque il Papa ci mandi (cfr. <a href="https://gesuiti.it/decreti-cg/lobbedienza-nella-vita-della-compagnia-di-gesu/">Congregazione Generale 35, decreto 4</a>).</p>
        <h2>Servitori del Signore nella Chiesa</h2>
        <p>Siamo uomini della Chiesa e nella Chiesa per il mondo. Ad essa ognuno di noi offre tutta la disponibilità per realizzare la missione universale di Cristo. Con la Chiesa siamo chiamati a camminare e nella Chiesa continuamente ci interroghiamo sul contributo specifico che possiamo apportare.</p>
        <h2>Membra di un corpo</h2>
        <p>Fin dalle origini, come frutto del discernimento di Ignazio e dei primi Compagni, siamo un “corpo apostolico”. Come parte di esso, serviamo insieme ad altri per un unico obiettivo: la maggior gloria di Dio. Orientati alla missione, siamo diversi, ma insieme; strutturati, ma agili; ancorati al tesoro della nostra tradizione ignaziana e creativi per rispondere ai bisogni del tempo facciamo del nostro meglio per essere sempre più efficaci.</p>
        <p>Per il decennio in corso, come Compagni di Gesù abbiamo deciso di orientare la nostra missione verso quattro priorità che abbiamo chiamato le <a href="https://www.jesuits.global/it/uap/">“Preferenze Apostoliche Universali” (PAU)</a>. Esse delineano ulteriormente anche la nostra identità come uomini che desiderano camminare insieme ai poveri, indicando il cammino verso Dio, prendendosi cura della casa comune, per creare con i giovani un futuro di Speranza.</p>
        <a class="special-link special-link--small m-t--none" href="https://vocations.jesuits.global/it/">Scopri di più</a>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_everyday-jesuits.njk' %}
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_everyday-jesuits-special.njk' %}
    </div>
  </section>

  <section class="section p-bottom--medium p-top--large">
    <div class="container">
      <h2 class="h4 text--center m-bottom--medium">Prossimi eventi per giovani (o Esercizi?)</h2>
      {% include 'partials/sections/_youth-events-grid.njk' %}
      <div class="text--center">
        <a href="https://magis-eum.org/" class="special-link">Scopri le attività per giovani</a>
      </div>
    </div>
  </section>

  <!--
  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      <div class="special special--half">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Come viviamo i voti</div>
              <h2 class="special__title">Obbedienza, castità e povertà</h2>
              <p class="special__text">Ogni membro, sacerdote o fratello che sia, è chiamato a onorare i tre voti di povertà, castità e obbedienza. Tre chiavi fondamentali per comprendere il nostro rapporto con il mondo.</p>
              <div class="special__btn">
                <a href="vivere-i-voti/">Il nostro modo di vivere i voti</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/vivere-i-voti-2.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  --> 
  <!-- 
  <section class="container p-top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Riconoscere una chiamata</h2>
        <p class="text text--lead">Ogni essere umano fa esperienza di essere chiamato dal Signore. Scopri come riconoscere la tua vocazione.</p>
        <h3>Chiamato alla vita</h3>
        <p>Il Signore parla continuamente al tuo cuore e lo infiamma di entusiasmo per il mondo. Il primo segno che indica un cuore toccato dalla grazia di Dio è l’apertura alla vita. Ti accorgi che la tua vita non è solo un fatto biologico, bensì un atto d’amore, un gesto fatto unicamente per te.</p>
        <p>Scopri che tu esisti perché sei creato per essere amato e per amare. L’unico destino già scritto è questo. Quando questa consapevolezza ti raggiunge, cambia il tuo sguardo su te e sul mondo. Ti accorgi che vai bene così come sei e che ogni persona intorno a te diventa degna di essere amata. E non puoi più rimanere indifferente al grido di aiuto dell’umanità.</p>
        <h3>Chiamato lì dove sei più fragile</h3>
        <p>Il peccato consiste nel vivere come se non fossi figlio, ma semplicemente un essere gettato nel mondo, a caso. Ci sono molti motivi che ti inducono a sentirti lontano da Dio: le circostanze della vita, le cose che capitano, le relazioni che non funzionano. Ti senti solo, indifeso, inadeguato, indegno. Il peccato è una ferita aperta che ti spinge a chiuderti in te stesso, a recuperare un briciolo di dignità giudicando gli altri, a perdere la fiducia e la speranza che le cose possano cambiare. E se vivi nella diffidenza, dovendoti continuamente difendere, come puoi pensare di essere libero?</p>
        <h3>Chiamato con un nome di grazia</h3>
        <p>È proprio lì che il Signore viene a cercarti. Il tuo peccato diventa il luogo privilegiato per conoscere il suo amore nella sua forma più alta: il perdono. Quando hai il coraggio e l’umiltà di riconoscere il tuo peccato, tocchi con mano la tua umanità: essere “uomo” vuol dire innanzitutto essere amato sempre, anche quando sbagli. E, contemporaneamente, conosci il vero volto di Dio.</p>
        <p>In quel momento, la parola che Dio pronuncia sulla tua vita non è un giudizio, ma il tuo nome di grazia. Il tuo nome di grazia esprime la volontà di Dio su di te, il suo modo di guardarti, il tuo modo di essere amore nel mondo a nome suo.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
    </div>
  </section>
  -->

  <section class="p-bottom--medium p-top--huge">
    <div class="container">
      <div class="special special--offset special--white">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Diventare gesuita</div>
              <h2 class="special__title"><a href="/diventare-gesuita/">I passi da fare</a></h2>
              <p class="special__text">Se pensi che la Compagnia sia una strada possibile, ecco alcune indicazioni utili per il discernimento.</p>
              <div class="special__btn">
                <a href="i-passi-da-fare/">Scopri le tappe per diventare gesuita</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/cammino.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>

