---
layout: base
---
{% set current_parent = 'diventare-gesuita' %}
{% set current_item = 'diventare-gesuita' %}
  <header class="template-header container">
    <h1 class="template-header__title">
    Diventare gesuita
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <span>Diventare gesuita</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Cosa serve per entrare in Compagnia</h2>
        <p class="text text--lead">Ogni essere umano fa esperienza di essere chiamato dal Signore.<br>Ecco alcuni suggerimenti per riconoscere la tua vocazione.</p>
        <h3>Riconoscersi peccatori perdonati</h3>
        <p>La definizione migliore che descrive chi sono i gesuiti è questa: uomini che sanno di essere peccatori toccati dalla misericordia di Dio. È un’esperienza straordinaria, perché cambia la percezione del mondo intorno a te. Non hai più bisogno di giustificarti, di dimostrare, di difenderti. Quando sei perdonato, sai che Lui si prende cura di te in ogni situazione. Ecco il requisito che serve per diventare gesuita: essere peccatore con il desiderio di metterti di fronte a Dio con il tuo peccato, per vedere come Lui lo accoglie, lo perdona e lo utilizza per costruire in modo creativo il suo regno in mezzo alla gente.</p>
        <h3>Libertà interiore</h3>
        <p>La libertà deriva dal mettere continuamente ordine nella tua vita. Così puoi abitare il mondo, senza la preoccupazione di pensare a te stesso, sentendoti libero di amare tutto ciò che ti circonda. Questa libertà alimenta la nostra intelligenza, la nostra curiosità, il nostro desiderio di giustizia e di riconciliazione. È una libertà che recuperiamo continuamente attraverso gli esercizi spirituali.</p>
        <p>Per essere dei nostri occorre coltivare questa disposizione interiore e lasciarsi mettere continuamente in discussione.</p>
        <h3>Apertura e disponibilità</h3>
        <p>La Compagnia è un gruppo di persone che vivono insieme, radunate in comunità e accomunate dal fatto di essere religiosi. È necessario che tu sia disposto ad abbracciare uno stile di vita sobrio, cordiale e ordinato. Sarai continuamente immerso in un mondo di relazioni a diversi livelli. Occorre che tu sappia mantenerti aperto e disponibile, capace di sopportare stress e frustrazioni. Per questo al momento dell’ingresso chiediamo a ogni candidato di fare una valutazione psicologica della personalità.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_upcoming-exercises.njk' %}
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      <div class="special special--half">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Come viviamo i voti</div>
              <h2 class="special__title">Obbedienza, castità e povertà</h2>
              <p class="special__text">Ogni membro, sacerdote o fratello che sia, è chiamato a onorare i tre voti di povertà, castità e obbedienza. Tre chiavi fondamentali per comprendere il nostro rapporto con il mondo.</p>
              <div class="special__btn">
                <a href="vivere-i-voti/">Il nostro modo di vivere i voti</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/vivere-i-voti-2.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Riconoscere una chiamata</h2>
        <p class="text text--lead">Ogni essere umano fa esperienza di essere chiamato dal Signore. Scopri come riconoscere la tua vocazione.</p>
        <h3>Chiamato alla vita</h3>
        <p>Il Signore parla continuamente al tuo cuore e lo infiamma di entusiasmo per il mondo. Il primo segno che indica un cuore toccato dalla grazia di Dio è l’apertura alla vita. Ti accorgi che la tua vita non è solo un fatto biologico, bensì un atto d’amore, un gesto fatto unicamente per te.</p>
        <p>Scopri che tu esisti perché sei creato per essere amato e per amare. L’unico destino già scritto è questo. Quando questa consapevolezza ti raggiunge, cambia il tuo sguardo su te e sul mondo. Ti accorgi che vai bene così come sei e che ogni persona intorno a te diventa degna di essere amata. E non puoi più rimanere indifferente al grido di aiuto dell’umanità.</p>
        <h3>Chiamato lì dove sei più fragile</h3>
        <p>Il peccato consiste nel vivere come se non fossi figlio, ma semplicemente un essere gettato nel mondo, a caso. Ci sono molti motivi che ti inducono a sentirti lontano da Dio: le circostanze della vita, le cose che capitano, le relazioni che non funzionano. Ti senti solo, indifeso, inadeguato, indegno. Il peccato è una ferita aperta che ti spinge a chiuderti in te stesso, a recuperare un briciolo di dignità giudicando gli altri, a perdere la fiducia e la speranza che le cose possano cambiare. E se vivi nella diffidenza, dovendoti continuamente difendere, come puoi pensare di essere libero?</p>
        <h3>Chiamato con un nome di grazia</h3>
        <p>È proprio lì che il Signore viene a cercarti. Il tuo peccato diventa il luogo privilegiato per conoscere il suo amore nella sua forma più alta: il perdono. Quando hai il coraggio e l’umiltà di riconoscere il tuo peccato, tocchi con mano la tua umanità: essere “uomo” vuol dire innanzitutto essere amato sempre, anche quando sbagli. E, contemporaneamente, conosci il vero volto di Dio.</p>
        <p>In quel momento, la parola che Dio pronuncia sulla tua vita non è un giudizio, ma il tuo nome di grazia. Il tuo nome di grazia esprime la volontà di Dio su di te, il suo modo di guardarti, il tuo modo di essere amore nel mondo a nome suo.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
    </div>
  </section>

  <section class="p-bottom--medium p-top--huge">
    <div class="container">
      <div class="special special--offset special--white">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Diventare gesuita</div>
              <h2 class="special__title"><a href="/diventare-gesuita/">I passi da fare</a></h2>
              <p class="special__text">Se pensi che la Compagnia sia una strada possibile, ecco alcune indicazioni utili per il discernimento.</p>
              <div class="special__btn">
                <a href="i-passi-da-fare/">Scopri le tappe per diventare gesuita</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/cammino.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
