---
layout: base
---
{% set current_item = 'donazioni' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Sostienici con una donazione
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <span>Donazioni</span>
    </div>
  </header>

  <section class="container donation-section m-bottom--large">
    <div class="donation-section__image">
      <img src="/img/donazioni.jpg" alt="">
    </div>
    <div class="row">
      <div class="col-12 col-m-6 donation-section__first-col">
        <p class="text text--lead">Puoi scegliere di dare il tuo contributo indicando nella causale:</p>
        <div class="donation-section__box">
          <p class="text">Fondo per la <b>Formazione dei giovani gesuiti</b>, con tappe in varie parti del mondo</p>
        </div>
        <div class="donation-section__box">
          <p class="text">Fondo della Previdenza, per <b>sostenere i gesuiti più anziani o bisognosi</b> di cure sanitarie specifiche</p>
        </div>
        <div class="donation-section__box">
          <p class="text">Fondo delle <b>Opere</b>, per accompagnare le diverse iniziative promosse nella Provincia: attività sociali e per i poveri, collegi, chiese, centri culturali, attività per i giovani, sostegno alle reti e ai coordinamenti promossi dalla Provincia</p>
        </div>
        <div class="donation-section__box">
          <p class="text">Fondo per le Fondazioni, per <b>nuove realtà da avviare</b>, costruzioni da intraprendere o spese particolarmente rilevanti non sostenibili dalle singole comunità e opere.</p>
        </div>
      </div>
      <div class="col-12 col-m-6 donation-section__second-col" style="position: relative">
        <div class="donation-section__offset-content">
          <div class="donation-section__blue-box">Puoi offrire il tuo contributo alle attività dei gesuiti in Albania, Italia, Malta e Romania.</div>
          <div class="donation-section__white-box donation-box">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <p class="styled-label styled-label--small">Seleziona un importo</p>
              <div class="row">
                <div class="col-6 col-m-3"><button type="button" data-value="25" class="btn btn--full">€ 25</button></div>
                <div class="col-6 col-m-3"><button type="button" data-value="50" class="btn btn--full">€ 50</button></div>
                <div class="col-6 col-m-3"><button type="button" data-value="100" class="btn btn--full">€ 100</button></div>
                <div class="col-6 col-m-3"><button type="button" data-value="250" class="btn btn--full">€ 250</button></div>
              </div>
              <label for="" class="styled-label styled-label--small">Oppure specifica l'importo della donazione</label>
              <input type="number" class="styled-input" min="1" step="any" value="50" name="amount">
              <label for="" class="styled-label styled-label--small">Seleziona un fondo a cui destinare la tua donazione</label>
              <div class="select-wrapper">
                <select class="styled-input">
                  <option value="" selected>Dove la necessità è maggiore</option>
                  <option value="1">Formazione</option>
                  <option value="2">Anziani</option>
                  <option value="3">Opere</option>
                  <option value="4">Nuove realtà</option>
                </select>
              </div>
              <input type="submit" class="btn btn--primary btn--full" value="Dona ora">
            </form>
            <p class="text text--micro text--center m--none eum-styled-content">
              Cliccando sul pulsante "Dona ora" verrai reindirizzato al sito di Nexi Payments. I tuoi dati personali e finanziari verranno trattati esclusivamente per portare a termine la donazione, e verranno conservati secondo le prescrizioni della vigente normativa in materia fiscale.<br>
              Per saperne di più puoi consultare la nostra <a href="privacy-e-cookies/">informativa sul trattamento dei dati personali</a>.
            </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-top--small">
      <div class="col-12 col-m-6">
        <h3 class="h5">Bonifico Bancario</h3>
        <p class="text">
          <b>Banca Popolare di Sondrio</b> <br>
          Ag. 11 di Roma <br>
          Via Carlo Alberto 6/A – 00185 Roma <br>
          IBAN: <b>IT66 H056 9603 2000 0001 0483 X17</b> <br>
        </p>
        <p class="text">
          Conto intestato a: <br>
          Provincia d'Italia della Compagnia di Gesù<br>
          Via degli Astalli, 16 - 00186 Roma
        </p>
      </div>
      <div class="col-12 col-m-6">
        <h3 class="h5">Addebito diretto sul conto</h3>
        <p class="text">
          Recandoti presso la tua filiale e fornendo le nostre coordinate bancarie, puoi istituire un <b>addebito con cadenza mensile</b> e di importo fisso.</p>
        </p>
        <p class="text">
          In questo modo potrai offrire un sostegno stabile e costante all'attività dei gesuiti in Albania, Italia, Malta e Romania.
        </p>
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  {% include 'partials/sections/_vocation-adv.njk' %}

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>

