---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'educazione' %}
  <header class="template-header container">
    <div class="template-header__title-wrapper">
      <h1 class="template-header__title">
        Educazione
      </h1>
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Educazione</span>
    </div>
  </header>

  <section class="container">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">Uomini e donne per gli altri</h2>
        <div class="featured__bottom">
          <p class="featured__text">La Fondazione “Gesuiti Educazione” è una rete di scuole ed opere educative dei gesuiti EUM Mette il plurisecolare carisma educativo della Compagnia a servizio delle sfide del mondo per aiutare la Chiesa e l’intera società.</p>
          <div class="featured__btn">
            <a href="https://educazione.gesuiti.it/">Il sito della fondazione</a>
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/educazione.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Il metodo ignaziano</h2>
        <p class="text text--lead">Il progetto educativo espresso dalla <i>Ratio Studiorum</i> si caratterizza in cinque momenti che interagiscono e comunicano tra loro in una successione ciclica.</p>
        <h3>Contesto</h3>
        <p>Rappresenta la situazione attuale e reale dello studente, sulla base del suo “vissuto”. È punto di partenza della <i>cura personalis</i>, dell’attenzione al singolo individuo nella sua unicità, base per un apprendimento personalizzato e significativo. All’interno della scuola, è rappresentato dalla realtà della classe e del singolo alunno, con riferimento ai dati storico-culturali, territoriali, familiari e personali.</p>
        <h3>Esperienza</h3>
        <p>È l’entrare nel mondo, negli avvenimenti, il "gustare le cose interiormente": esperienza emotiva ed intellettiva, che motiva alla conoscenza e consente di mettere in atto le potenzialità, risposta alla vita e ai bisogni. Il docente crea le condizioni in cui gli alunni costruiscono e organizzano il materiale della loro esperienza personale per raccogliere e aumentare ciò che già comprendono come fatti, valori, concezioni, intuizioni.</p>
        <h3>Riflessione</h3>
        <p>L’alunno entra in profondità nel senso di ciò che ha appreso, lo elabora, analizza, confronta, approfondisce, trasforma in tappa di crescita della sua vita. Il docente accompagna e aiuta a formarsi un punto di vista, una coscienza personale e a considerare gli eventi con spirito critico, per passare dal sapere all’azione.</p>
        <h3>Azione</h3>
        <p>"L'amore si manifesta nelle opere, non nelle parole". L’azione è una crescita interiore che ha come fondamento un'esperienza e le sue manifestazioni esterne. Può riguardare scelte interiori personali ed esteriori. L’apprendimento ha una relazione con la propria vita e porta ad acquisire una visione positiva delle cose, per la promozione di fede e giustizia. L’azione porta al “saper fare e saper essere”, alle “competenze di vita”.</p>
        <h3>Valutazione</h3>
        <p>Una “rilettura” attraverso cui l’alunno è guidato a prendere coscienza del cammino compiuto, autovalutarsi, acquisire la responsabilità del proprio processo di crescita, individuando ulteriori obiettivi migliorativi. Il docente incoraggia lo studente rilevandone i progressi, proponendo nuovi punti di vista, offrendo informazioni e suggerendo prospettive diverse, per una nuova base di contesto su cui innestare un nuovo percorso di apprendimento.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data m-bottom--medium">
          <div class="big-data__kicker">
            Le scuole in numeri
          </div>
          <div class="big-data__item">
            <span class="big-data__number">11</span> istituti
          </div>
          <div class="big-data__item">
            <span class="big-data__number">6400</span> alunni
          </div>
          <div class="big-data__item">
            <span class="big-data__number">977</span> personale docente e non docente
          </div>
        </div>
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
    </div>
  </section>

  <section class="section p-bottom--large p-top--small p-bottom--huge">
    <div class="container">
      <div class="special special--offset">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Le scuole dei gesuiti</div>
              <h2 class="special__title">
                <a href="https://drive.google.com/file/d/1h3aoYBpNtIAvtrY65XbbEfV_PrjB_Ank/view?usp=sharing">Una tradizione viva nel XXI secolo</a>
              </h2>
              <p class="special__text">Un documento del 2019 definisce le principali caratteristiche delle scuole ignaziane oggi, con particolare attenzione alla creazione di un ambiente sereno e salubre per tutti.</p>
              <div class="special__btn">
                <a href="https://drive.google.com/file/d/1h3aoYBpNtIAvtrY65XbbEfV_PrjB_Ank/view?usp=sharing">Scarica il documento (4 mb)</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/living-tradition-temp.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--white p-top--small p-bottom--large">
    <div class="container">
      <h2 class="h2 m-bottom--large">Istituti aderenti</h2>
      <div class="row">
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Milano, Genova, Roma</div>
              <div class="partner__name">
                <a href="https://www.feyalegria.org/en/">Istituti Fe y alegrìa</a>
              </div>
              <a href="https://www.feyalegria.org/en/" class="partner__logo">
                <img src="/img/schools/fe-y-alegria.jpg" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Milano</div>
              <div class="partner__name">
                <a href="http://centroschuster.it/">Centro Schuster</a>
              </div>
              <a href="http://centroschuster.it/" class="partner__logo">
                <img src="/img/schools/centro-schuster.jpg" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Torino</div>
              <div class="partner__name">
                <a href="https://istitutosociale.it/">Istituto Sociale</a>
              </div>
              <a href="https://istitutosociale.it/" class="partner__logo">
                <img src="/img/schools/sociale.jpg" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Napoli</div>
              <div class="partner__name">
                <a href="http://www.istitutopontano.it/">Istituto Pontano</a>
              </div>
              <a href="http://www.istitutopontano.it/" class="partner__logo">
                <img src="/img/schools/pontano.jpg" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Scutari</div>
              <div class="partner__name">
                <a href="https://meshkalla.edu.al/">Istituto Pjeter Meshkalla</a>
              </div>
              <a href="https://meshkalla.edu.al/" class="partner__logo">
                <img src="/img/schools/meshkalla.jpg" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Roma</div>
              <div class="partner__name">
                <a href="https://www.istitutomassimo.it">Istituto Massimo</a>
              </div>
              <a href="https://www.istitutomassimo.it" class="partner__logo">
                <img src="/img/schools/massimo.jpg" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Milano</div>
              <div class="partner__name">
                <a href="https://www.leonexiii.it/">Istituto Leone XIII</a>
              </div>
              <a href="https://www.leonexiii.it/" class="partner__logo">
                <img src="/img/schools/leone.png" alt="">
              </a>
          </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Palermo</div>
              <div class="partner__name">
                <a href="https://www.gonzagapalermo.it">Istituto Gonzaga</a>
              </div>
              <a href="https://www.gonzagapalermo.it" class="partner__logo">
                <img src="/img/schools/gonzaga.png" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Messina</div>
              <div class="partner__name">
                <a href="http://www.collegiosignazio.it/wp/">Collegio Sant'Ignazio</a>
              </div>
              <a href="http://www.collegiosignazio.it/wp/" class="partner__logo">
                <img src="/img/schools/ignatianum.jpg" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Malta</div>
              <div class="partner__name">
                <a href="www.saintaloysius.edu.mt">St. Aloysius College</a>
              </div>
              <a href="www.saintaloysius.edu.mt" class="partner__logo">
                <img src="/img/schools/sac.jpg" alt="">
              </a>
            </div>
        </div>
        <div class="col-12 col-s-6 col-m-4 col-l-3 m-bottom--large">
          <div class="partner partner--stretched">
              <div class="partner__kicker">Milano</div>
              <div class="partner__name">
                <a href="https://leonexiiisport.it/">Leone XIII Sport</a>
              </div>
              <a href="https://leonexiiisport.it/" class="partner__logo">
                <img src="/img/schools/leone.png" alt="">
              </a>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
