---
layout: base
---
{% set current_item = 'faq' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Domande frequenti
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <span>Domande frequenti</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <div class="accordion" id="faq-accordion">
          {% for item in faq %}
          <div class="accordion__element">
            <div class="accordion__title">{{item.title}}</div>
            <div class="accordion__collapse">
              <div class="accordion__content">{{item.content}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data m-bottom--medium">
          <div class="big-data__kicker">
            La Provincia in numeri
          </div>
          <div class="big-data__item">
            <span class="big-data__number">75</span> Opere, attive nel campo sociale, nella cultura, coi giovani, nelle scuole e negli esercizi spirituali
          </div>
          <div class="big-data__item">
            <span class="big-data__number">45</span> Gesuiti in formazione
          </div>
        </div>
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  {% include 'partials/sections/_vocation-adv.njk' %}

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>