---
layout: base
---
{% set current_category = 'templates' %}
{% set current_item = 'archivio-decreti' %}
{% set current_congregation = 34 %}

  <section class="hero">
    <div class="container">
      <header class="hero__header">
        <div class="hero__kicker">
          Focus
        </div>
        <h1 class="hero__title">
          Gesuiti e politica: le scuole di formazione
         </h1>
      </header>
      <figure class="hero__image">
        <img src="https://picsum.photos/1332/888" alt="">
      </figure>
      <div class="hero__special-box">
        <p class="hero__special-box-text">La crisi politica? Chiede un cambiamento di rotta. Curare le comunità non con un nuovo partito ma un nuovo metodo, che connetta le buone pratiche. Così dal 2009 ad oggi sono tre le esperienze avviate dai gesuiti a Roma, Palermo e Milano.
Il sogno: generare il cambiamento. </p>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium">
    <div class="row row--center">
      <div class="col-12 col-m-7 col--center eum-styled-content" style="margin:auto;">
        <h3>Comunità di connessioni - Roma</h3>
        <p>Comunità di connessioni nasce nel 2009 a Roma come associazione impegnata ad approfondire i temi della vita sociale e politica alla luce della Dottrina sociale della Chiesa e dei princìpi della Costituzione, che fondano e promuovono la dignità della persona.</p>
        <p>Apartitica, plurale, fa del dialogo e del confronto gli strumenti di lavoro. Propone percorsi di formazione politica, dialoghi spirituali tra professionisti, cura un magazine online e collabora con diverse testate, lavora per commissioni connettendo esperienze tra amministratori a livello locale, propone ritiri spirituali annuali e offre formazione ad imprese e amministrazioni, collabora con la Fondazione vaticana Fratelli Tutti. A coordinare la proposta è p. Francesco Occhetta.</p>
        <p>Il percorso formativo “formpol” offre ogni anno cinque incontri con ministri, docenti ed esponenti dell’associazionismo e un evento istituzionale. Volti e metodo ne hanno fatto una comunità, ricca di connessioni per collegare i punti virtuosi di esperienze. Oltre mille le persone coinvolte in questi anni.</p>
        <h3>Palermo - GenerAzioni</h3>
        <p>Si chiama “GenerAzioni” il cammino proposto a Palermo dall’Istituto di Formazione Politica “Pedro Arrupe”, nel solco della scuola ideata da p. Bartolomeo Sorge nel 1986. Un cantiere intergenerazionale per leader di comunità, impegnati nella rigenerazione dei territori, in grado di individuare problematiche ed opportunità. Circa 40 le persone coinvolte nel 2023. Hanno dai 18 ai 55 anni, tutte con esperienze di impegno civile. Innovazione sociale, terzo settore, cittadinanza attiva, impegno diretto in politica sono alcuni dei risvolti concreti emersi. “É una casa in cui abitano coloro che intendono operare nel sociale e impegnasi nella polis per dare nuova vita” spiega p. Gianni Notari. “Dinanzi alla crisi della politica riteniamo che occorra invertire la rotta. Siamo convinti che sia necessario uscire dalla dimensione privata e dalle personali autoreferenzialità per volgerci alla costruzione delle comunità”.</p>
        <h3>Milano - I Care Lab</h3>
        <p>Promosso da Aggiornamenti Sociali, rivista e think tank dei gesuiti italiani, nasce a Milano “I Care Lab”, Sei gli incontri proposti a cadenza mensile: dalle motivazioni personali alle difficoltà in campo, alle comunità generative, con testimoni, giochi, simulazioni, momenti di condivisione e scambio.
Trenta i giovani dai 21 ai 35 anni che vi hanno preso parte provenienti da Lombaria, Liguria e Toscana.
“Una risposta positiva che ci ha incoraggiato ad andare avanti” spiega p. Giuseppe Riggio, responsabile della proposta. “Coltiviamo un sogno: far crescere nei partecipanti la capacità di confrontarsi con la complessità della realtà in cui vivono e operano, di essere attenti ai singoli episodi senza perdere di vista il quadro sociopolitico più ampio in cui si inseriscono, di assumere lo sguardo di realtà anche le più lontane da noi, di riconoscere quelli che sono le forze positive e generative all’interno di un territorio e di una comunità, per poter collaborare con esse nello svolgimento del proprio servizio”.</p>
        <p>In “filigrana” il paradigma pedagogico ignaziano: partire dall’ esperienza – personale o di testimoni – riletta e rielaborata per arrivare a forme di azione e intervento nei diversi contesti, attraverso il discernimento personale e del bene comune.</p>
      </div>
    </div>
  </section>

  <section class="container container--no-overflow">
    <h2 class="h3 m-bottom--medium text--center">Approfondisci</h2>
    <div class="row row--extra-gutter">
      <article class="article col-12 col-s-6 col-l-4">
        <div class="article__image">
          <a href="#">
            <img src="/img/pfts.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Roma</div>
        </div>
        <h3 class="article__title">
          <a href="#">Comunità di connessioni</a>
        </h3>
      </article>
      <article class="article col-12 col-s-6 col-l-4">
        <div class="article__image">
          <a href="#">
            <img src="/img/pftim-sezione-san-luigi.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Palermo</div>
        </div>
        <h3 class="article__title">
          <a href="#">GenerAzioni</a>
        </h3>
      </article>
      <article class="article col-12 col-s-6 col-l-4">
        <div class="article__image">
          <a href="#">
            <img src="/img/istituto-arrupe.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Milano</div>
        </div>
        <h3 class="article__title">
          <a href="#">I Care Lab</a>
        </h3>
      </article>
    </div>
  </section>

  <!--
  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <p class="text--lead">Formarsi per partecipare, non solo pensando alla classe dirigente, ma focalizzandosi sulla costituzione di una comunità consapevole e responsabile in grado di avere uno sguardo lungo, profondo e radicato sui valori costituzionali.  </p>
        <h3>Comunità di connessioni - Roma</h3>
        <p><strong>Comunità di connessioni</strong> nasce nel 2009 a <b>Roma</b> come associazione impegnata ad approfondire i temi della vita sociale e politica alla luce della Dottrina sociale della Chiesa e dei princìpi della Costituzione, che fondano e promuovono la dignità della persona.</p>
        <p>Apartitica, plurale, fa del dialogo e del confronto gli strumenti di lavoro. Propone percorsi di formazione politica, dialoghi spirituali tra professionisti, cura un magazine online e collabora con diverse testate, lavora per commissioni connettendo esperienze tra amministratori a livello locale, propone ritiri spirituali annuali e offre formazione ad imprese e amministrazioni, collabora con la Fondazione vaticana Fratelli Tutti. A coordinare la proposta è p. Francesco Occhetta.</p>
        <p>Il percorso formativo “formpol” offre ogni anno cinque incontri con ministri, docenti ed esponenti dell’associazionismo e un evento istituzionale. Volti e metodo ne hanno fatto una comunità, ricca di connessioni per collegare i punti virtuosi di esperienze. Oltre mille le persone coinvolte in questi anni.</p>
        <h3>GenerAzioni - Palermo</h3>
        <p>Si chiama <strong>“GenerAzioni”</strong> il cammino proposto a Palermo dall’Istituto di Formazione Politica “Pedro Arrupe”, nel solco della scuola ideata da p. Bartolomeo Sorge nel 1986. Un cantiere intergenerazionale per leader di comunità, impegnati nella rigenerazione dei territori, in grado di individuare problematiche ed opportunità. Circa 40 le persone coinvolte nel 2023. Hanno dai 18 ai 55 anni, tutte con esperienze di impegno civile. Innovazione sociale, terzo settore, cittadinanza attiva, impegno diretto in politica sono alcuni dei risvolti concreti emersi. “É una casa in cui abitano coloro che intendono operare nel sociale e impegnasi nella polis per dare nuova vita” spiega p. Gianni Notari. “Dinanzi alla crisi della politica riteniamo che occorra invertire la rotta. Siamo convinti che sia necessario uscire dalla dimensione privata e dalle personali autoreferenzialità per volgerci alla costruzione delle comunità”.</p>
        <h3>I Care Lab - Milano</h3>
        <p>Promosso da Aggiornamenti Sociali, rivista e think tank dei gesuiti italiani, nasce a Milano <strong>“I Care Lab”</strong>, Sei gli incontri proposti a cadenza mensile: dalle motivazioni personali alle difficoltà in campo, alle comunità generative, con testimoni, giochi, simulazioni, momenti di condivisione e scambio.
Trenta i giovani dai 21 ai 35 anni che vi hanno preso parte provenienti da Lombaria, Liguria e Toscana.
“Una risposta positiva che ci ha incoraggiato ad andare avanti” spiega p. Giuseppe Riggio, responsabile della proposta. “Coltiviamo un sogno: far crescere nei partecipanti la capacità di confrontarsi con la complessità della realtà in cui vivono e operano, di essere attenti ai singoli episodi senza perdere di vista il quadro sociopolitico più ampio in cui si inseriscono, di assumere lo sguardo di realtà anche le più lontane da noi, di riconoscere quelli che sono le forze positive e generative all’interno di un territorio e di una comunità, per poter collaborare con esse nello svolgimento del proprio servizio”.</p>
        <p>In “filigrana” il paradigma pedagogico ignaziano: partire dall’ esperienza – personale o di testimoni – riletta e rielaborata per arrivare a forme di azione e intervento nei diversi contesti, attraverso il discernimento personale e del bene comune.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">

      </div>
    </div>
  </section>
  -->
