---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'formazione' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Formazione
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Formazione</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">In dialogo tra fede e cultura</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            Formare persone competenti e radicate nella fede e perciò desiderose di promuovere la giustizia del Regno. Nei nostri centri non si desidera solo favorire l'eccellenza accademica ma anche l'eccellenza umana e spirituale avendo come orizzonte la persona nella sua interezza.
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/formazione.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="container container--no-overflow p-top--mini">
    <h2 class="h3 m-bottom--medium text--center">Centri di formazione</h2>
    <div class="row row--extra-gutter">
      <article class="article col-12 col-s-6 col-l-4">
        <div class="article__image article__image--1-1">
          <a href="https://pfts.it/">
            <img src="/img/pfts.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Cagliari</div>
        </div>
        <h3 class="article__title">
          <a href="https://pfts.it/">Pontificia Facoltà Teologica della Sardegna</a>
        </h3>
      </article>
      <article class="article col-12 col-s-6 col-l-4">
        <div class="article__image article__image--1-1">
          <a href="https://www.pftim.it">
            <img src="/img/pftim-sezione-san-luigi.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Napoli</div>
        </div>
        <h3 class="article__title">
          <a href="https://www.pftim.it">Pontificia Facoltà Teologica dell'Italia Meridionale. Sezione San Luigi</a>
        </h3>
      </article>
      <article class="article col-12 col-s-6 col-l-4">
        <div class="article__image article__image--1-1">
          <a href="https://istitutoarrupe.gesuiti.it/">
            <img src="/img/istituto-arrupe.jpg">
          </a>
        </div>
        <div class="article__meta">
          <div class="article__kicker">Palermo</div>
        </div>
        <h3 class="article__title">
          <a href="https://istitutoarrupe.gesuiti.it/">Istituto di formazione politica "Pedro Arrupe"</a>
        </h3>
      </article>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="carousel carousel--special">
        <div class="carousel__title h4">News</div>
        <div class="carousel__slider">
        {% for article in news %}
          {% if ( loop.index < 12 ) %}
            <article class="article{% if article.hasVideo %} has-video{% endif %} carousel__slide">
              <figure class="article__image">
                <a href="/dettaglio-news/">
                  <img src="{{article.image}}">
                </a>
              </figure>
              <div class="article__meta">
                <span class="article__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
                </span>
                <div class="article__kicker">
                  <a href="dettaglio-categoria/">Formazione</a>
                </div>
                <time class="article__date">11.10.2018</time>
              </div>
              <h2 class="article__title article__title--large">
                <a href="/dettaglio-news/">{{ article.title | safe }}</a>
              </h2>
              <div class="article__text">
                {{ article.excerpt | striptags | safe | truncate(95) }} <a href="/dettaglio-news/">Continua a leggere</a>
              </div>
            </article>
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </section>

  <section class="container container--no-overflow p-bottom--medium p-top--medium">
    <h2 class="h2 text--center m-bottom--medium">Le nostre riviste</h2>
    <div class="row row--extra-gutter">
      <div class="article col-12 col-s-6">
        <div class="article__image">
          <a href="https://www.rassegnaditeologia.it/">
            <img src="/img/magazines/rassegna-di-teologia.jpg">
          </a>
        </div>
        <div class="article__title">
          <a href="https://www.rassegnaditeologia.it/">Rassegna di teologia</a>
        </div>
        <div class="article__text">
          Rassegna di Teologia è espressione dell'attività scientifica della Sezione "San Luigi" della Pontificia Facoltà Teo­lo­gi­ca dell'Italia Meridionale.
        </div>
        <div class="article__btn">
          <a href="https://www.rassegnaditeologia.it/">Vai al sito</a>
        </div>
      </div>
      <div class="article col-12 col-s-6">
        <div class="article__image">
          <a href="www.pfts.it/ricerca/pubblicazioni/theologica-historica">
            <img src="/img/magazines/theologica-historica.jpg">
          </a>
        </div>
        <div class="article__title">
          <a href="www.pfts.it/ricerca/pubblicazioni/theologica-historica">Theologica & Historica</a>
        </div>
        <div class="article__text">
         La rivista annuale della Pontificia Facoltà Teologica della Sardegna ospita contributi scientifici di carattere teologico, filosofico e storico.
        </div>
        <div class="article__btn">
          <a href="www.pfts.it/ricerca/pubblicazioni/theologica-historica">Vai al sito</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
