---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'giovani' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Giovani
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Giovani</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">Accompagnare nelle scelte</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            <p>Perchè incarnino il Vangelo in una vita autentica, vissuta con gusto e coraggio, concretamente aperta alla speranza e attenta al bene comune.</p>
          </div>
          <div class="featured__btn">
            <a href="https://gesuiti-giovani.it/">Calendario delle attività</a>
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/giovani.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="container container--no-overflow p-bottom--medium p-top--medium">
    <h2 class="h3 m-bottom--medium text--center">Esperienze per i giovani</h2>
    {% include 'partials/sections/_youth-experiences.njk' %}
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      <div class="row">
        <div class="col-12 col-m-7">
          <h2 class="h2">MEG: Movimento Eucaristico Giovanile</h2>
          <p class="text text--lead">Dal 1944, il MEG offre un’esperienza straordinaria di comunione, amicizia e crescita nella fede per aiutare ragazzi e ragazze a maturare scelte libere e responsabili. Un cammino per bambini e adolescenti basato sui valori di solidarietà fraterna, condivisione, comunione, donazione e offerta.</p>
          <a href="https://www.meg-italia.it/" class="special-link">Visita il sito del MEG</a>
        </div>
        <div class="col-12 col-m-4" style="margin-left: auto;">
          <img class="m-top--medium" src="/img/logo-meg.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--large p-top--medium">
    <h2 class="h3 m-bottom--medium text--center">Cappelle universitarie</h2>
    {% include 'partials/sections/_chaplaincies.njk' %}
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      {% include 'partials/sections/_prayer-resources.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>