---
layout: base
---
{% set current_parent = 'la-provincia-euro-mediterranea' %}
{% set current_item = 'governo' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Il governo della Provincia
    </h1>
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <a href="chi-siamo/">Chi siamo</a>
      <span>Governo</span>
    </div>
  </header>

  <section class="container p-bottom--medium p--top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <p class="text text--lead">La Compagnia di Gesù è organizzata in province, ognuna delle quali ha a capo un Superiore Provinciale. Il Provinciale è supportato nella sua azione di governo dai membri delle consulte canonica e apostolica.</p>
        <h2>Provinciale</h2>
        <h3>Roberto Del Riccio SJ</h3>
        <img src="/img/roberto-del-riccio.jpg">
        <p>P. Del Riccio nasce il 17 giugno 1960 a Bologna. Incontra i gesuiti prima nel Liceo da lui frequentato, in cui p. Filiberto Talamonti insegna religione e poi negli scout dell’AGESCI, in cui i padri Giuseppe Cascino, Paolo Bizzeti, Stefano Salviucci e Fabrizio Valletti danno il loro contributo al cammino spirituale dei giovani.</p>
        <p>Dopo aver conseguito la laurea in Filosofia presso l’Università degli studi di Bologna e aver lavorato tre anni alla casa editrice Cappelli della stessa città, entra in Compagnia il 05/11/1989. Compie gli studi di Filosofia a Padova (1991-1992), il magistero nella allora nostra parrocchia di Grosseto (pastorale universitaria, scout, pastorale parrocchiale), il triennio di Teologia a Napoli (1993-1997). Viene ordinato presbitero il 20/06/98. Consegue la Licenza in Teologia (1997-1998) e il Dottorato in Teologia dogmatica (1998-2002) a Francoforte (Germania). Vive la tappa del Terz’Anno in Australia (2005). Professa gli Ultimi Voti il 05/11/06, col grado di professo di quattro voti.</p>
        <p>Dal 2002 al 2020 è a Napoli-Posillipo, dove insegna Teologia dogmatica: consegue il titolo di Professore associato nel 2018. Sempre in questo periodo a Napoli, è anche Rettore del Collegio professori (2007-2011) e Rettore del Seminario Interregionale (2009-2014). Sempre nello stesso periodo, è Presidente dell’associazione “Laici e gesuiti per Napoli – Onlus”. Dal 2015 riprende l’attività di insegnamento alla Sezione San Luigi di Posillipo, dove per un triennio è Direttore di “Rassegna di Teologia”. Nel 2019 la Conferenza Episcopale Italiana (CEI) lo nomina Assistente ecclesiastico generale dell’AGESCI per l’Italia. Nel 2020 è nominato Preside della Pontificia Facoltà Teologica dell’Italia Meridionale (PFTIM). All’interno del periodo napoletano, viene eletto dalla VIII Congregazione Provinciale Procuratore della allora Provincia d’Italia (2012) e vive un anno sabbatico di studio nella nostra residenza di Padova (2017-2018).</p>
        <p>P. Roberto Del Riccio è stato nominato Superiore Provinciale della Provincia Euro-Mediterranea il 10 dicembre 2020.</p>
        <h2>Consulta canonica</h2>
        <p>La consulta canonica sostiene il lavoro del Provinciale nelle decisioni riguardanti l’amministrazione interna, ed è nominata direttamente dal Padre Generale.</p>
        <ul>
          <li>Renato Colizzi SJ, Socio del Provinciale</li>
          <li>Giacomo Costa SJ</li>
          <li>Raffaele Lanzilli SJ</li>
          <li>Giuseppe Lavelli SJ</li>
          <li>Raymond Pace SJ</li>
        </ul>
        <h2>Consulta apostolica</h2>
        <p>La consulta apostolica è nominata dal Padre Provinciale; ciascun consultore offre alla Provincia la sua particolare competenza ed esperienza in un settore apostolico.</p>
        <ul>
          <li>Renato Colizzi SJ, Socio del Provinciale</li>
          <li>Ronny Alessio SJ</li>
          <li>Michael Bugeja SJ</li>
          <li>Angelo Schettini SJ</li>
          <li>Alessandro Viano SJ</li>
        </ul>
        <p>Inoltre la Provincia prevede commissioni e gruppi di lavoro specifici per la formazione, l’educazione, la gestione economica e immobiliare.</p>
        <h2>Organigramma</h2>
        <p><strong>Provinciale</strong><br>Roberto del Riccio SJ</p>
        <p><strong>Socio del Provinciale</strong><br>Renato Colizzi SJ</p>
        <p><strong>Economo di Provincia</strong><br>Alessandro Viano SJ</p>
        <p><strong>Direttore Generale</strong><br>Dott. Berardino Guarino<br></p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data m-bottom--small">
          <div class="big-data__kicker">
            La Provincia in numeri
          </div>
          <div class="big-data__item">
            <span class="big-data__number">433</span> gesuiti
          </div>
          <div class="big-data__item">
            <span class="big-data__number">38</span> comunità
          </div>
          <div class="big-data__item">
            <span class="big-data__number">41</span> opere, attive nel campo sociale, nella cultura, coi giovani, nelle scuole e negli esercizi spirituali
          </div>
        </div>
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="section p-bottom--medium p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--huge p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  {% include 'partials/sections/_vocation-adv.njk' %}

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
