---
layout: base
---
{% set current_parent = 'diventare-gesuita' %}
{% set current_item = 'i-passi-da-fare' %}
{% set story = stories | random %}
  <header class="template-header container">
    <h1 class="template-header__title">
      I passi da fare
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="/diventare-gesuita/">Diventare gesuita</a>
      <span>I passi da fare</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Bussare e conoscersi</h2>
        <p>Se hai riconosciuto un desiderio e ti poni qualche domanda riguardo alla possibilità di essere gesuita, il primo passo da fare è quello di comunicarlo ad uno dei gesuiti che conosci. Forse è già la tua guida spirituale o semplicemente sarà qualcuno dei gesuiti che in qualche modo hai avuto modo di incontrare.</p>
        <p>Se hai conosciuto la Compagnia di Gesù perché semplicemente qualcuno te ne ha parlato, oppure attraverso delle letture o in qualche altro modo, ma non hai mai avuto modo di incontrare un gesuita, puoi prendere contatto con noi scrivendo una mail al Promotore vocazionale della tua zona.</p>
        <a href="/contatti/" class="special-link special-link--small">Contattaci</a>
        <h2>Discernere</h2>
        <p>Il secondo passo è farsi accompagnare. Una domanda riguardo alla propria vocazione ha sempre bisogno di un cammino per poter essere riconosciuta e accolta.</p>
        <p>Il padre gesuita che ti accompagnerà ti aiuterà a dare i nomi giusti a ciò che senti e, con tutta la delicatezza e libertà di cui ci sarà bisogno, ti guiderà per andare maggiormente a fondo sulla tua domanda.</p>
        <p>Per approfondire il tuo desiderio, in dialogo con la tua guida potrai anche fare gli Esercizi Spirituali. Per noi rimangono la via migliore per incontrare intimamente il Signore e dare forma, con Lui, alla propria vita.</p>
        <a href="https://cis-esercizispirituali.net/cosa-sono-gli-esercizi-spirituali/" class="special-link special-link--small">Scopri gli Esercizi Spirituali</a>
        <h2>Decidere</h2>
        <p>Accompagnato da uno di noi, potrai confrontare il tuo desiderio di “stare con il Signore” con lo stile della Compagnia. All’interno di questo dialogo, che può durare anche un anno, verificheremo insieme se il tuo desiderio di unirti a noi è realistico oppure no.</p>
        <p>Attraverso il nostro modo di accompagnarti, conoscerai lo stile tipico della Compagnia, che non è direttivo o impositivo, ma tende a valorizzare la libertà personale come risorsa che puoi orientare verso il tuo maggior bene.</p>
        <p>Per questo, se sarà opportuno, ti aiuteremo attraverso qualche esperienza puntuale a conoscere meglio altri gesuiti, il nostro modo di vivere in comunità e le varie realtà apostoliche concrete della Compagnia, in modo che tu possa raccogliere elementi per fare la tua scelta.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_random-vocation-story-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="carousel carousel--stories">
        <h2 class="carousel__title">Storie di vocazione</h2>
        <div class="carousel__slider">
          {% for story in stories %}
            {% if loop.index < 11 %}
            <article class="article carousel__slide">
              <div class="article__image article__image--1-1">
                <a href="dettaglio-storia/">
                  {% if story.image %}
                    <img src="/img/stories/{{story.image}}">
                  {% else %}
                    <img src="https://via.placeholder.com/660x440/?text=Jesuit+pic">
                  {% endif %}
                </a>
              </div>
              <div class="article__meta">
                <div class="article__kicker">
                  {{ story.author }}
                </div>
              </div>
              <div class="article__title article__title--small">
                <a href="dettaglio-storia/">{{ story.title }}</a>
              </div>
              <div class="article__btn">
                <a href="dettaglio-storia/">Approfondisci</a>
              </div>
            </article>
            {% endif  %}
          {% endfor %}
        </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>

