---
layout: base
---
{% set current_parent = 'spiritualita-ignaziana' %}
{% set current_item = 'il-nostro-legame-con-la-chiesa' %}
{% set story = stories | random %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Il nostro legame con la Chiesa
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="spiritualita-ignaziana/">Spiritualità ignaziana</a>
      <span>Il nostro legame con la Chiesa</span>
    </div>
  </header>

  <section class="container p-bottom--small">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Per la maggior gloria di Dio</h2>
        <p>Siamo uomini della Chiesa e per la Chiesa. A Lei offriamo tutta la nostra disponibilità per realizzare la sua missione universale. Con Lei camminiamo cercando la collaborazione con tutte le forze attive che la animano. Per Lei continuamente ci interroghiamo su quale contributo specifico possiamo apportare con la nostra spiritualità. E' un rapporto d'amore che ci fa "sentire" i suoi problemi e i suoi limiti come nostri. In virtù di questo legame, contribuiamo a farla progredire verso la maggior gloria di Dio.</p>
        <h2>Obbedienza diretta al Papa</h2>
        <p>Alcuni di noi fanno un voto speciale di obbedienza al Papa. È il famoso quarto voto: l'obbedienza <i>circa missiones</i>. Avendo il Papa una visione universale della Chiesa, lui meglio di altri conosce quali sono le frontiere alle quali è opportuno essere inviati. Già Ignazio e i primi compagni si riuniscono in un'unica Compagnia proprio con l'intento di mettersi al suo servizio dando la completa disponibilità a svolgere qualsiasi missione.</p>
        <a href="vivere-i-voti/" class="special-link special-link--small">Scopri come viviamo gli altri tre voti</a>
        <h2>Alle frontiere</h2>
        <p>L'apporto prezioso che noi possiamo offrire alla Chiesa universale è quello di stare alle frontiere, ovvero in quei luoghi dove l'umano si apre a domande nuove o fatica a trovare risposte. Sentiamo ancora forte l'appello che Paolo VI ci rivolse in occasione della Congregazione Generale 32 (3 dicembre 1974):</p>
        <blockquote>"Ovunque nella Chiesa, anche nei campi più difficili e di punta, nei crocevia delle ideologie, nelle trincee sociali, vi è stato e vi è il confronto tra le esigenze brucianti dell'uomo e il perenne messaggio del Vangelo, là vi sono stati e vi sono i gesuiti".</blockquote>
        <a href="https://w2.vatican.va/content/paul-vi/it/speeches/1974/documents/hf_p-vi_spe_19741203_esortazione-compagnia-gesu/" class="special-link special-link--small">Leggi il discorso intero di Paolo VI alla CG32</a>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_readings-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
