---
layout: base
---

  <section class="container eum-styled-content">
    <div class="row">
      {% for item in templates %}
      <div class="col-12 col-s-6 col-m-4">
        <h4 class="h4">{{ item.name | replace('-', ' ') | capitalize }}</h4>
        <ul>
          {% if item.children %}
            {% for child in item.children %}
            <li>
              <a href="{{ child }}/">{{ child | replace('-', ' ') | capitalize }}</a>
            </li>
            {% endfor %}
          {% else %}
          <li>
            <a href="{{ item }}/">{{ item.name | replace('-', ' ') | capitalize }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </section>