---
title: "Gesuiti - Provincia Euro-Mediterranea"
layout: base
parmalink: "/"
---

  <section class="intro">
    <div class="intro__wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12 col-l-7">
            <h1 class="h1">Riconciliarsi con Dio, con gli altri, con il creato</h1>
            <div class="text">
              <p>Mostriamo il cammino verso Dio tramite gli Esercizi Spirituali e il discernimento, camminiamo insieme ai poveri e agli esclusi del mondo in una missione di riconciliazione e giustizia,  accompagniamo i giovani nella creazione di un futuro di speranza, collaboriamo nella cura della Casa Comune.</p>
            </div>
            <a href="la-provincia-euro-mediterranea/" class="special-link">Scopri chi siamo</a>
          </div>
          <div class="col-12 col-l-6" style="position: relative">
            <div class="intro__image">
              <img src="/img/assisi-giovani.jpg" sizes="(min-width: 1600px) 668px, (min-width: 1200px) 588px, (min-width: 1000px) 468px, (min-width: 760px) 748px, 100vw" alt="" >
            </div>
          </div>
        </div>
      </div>
    </div>
	</section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>

  <section class="container p-bottom--medium">
    <h2 class="h3 text--center">Gli ambiti in cui siamo impegnati</h2>
    {% include "partials/sections/_activities-grid.njk" %}
    <div class="text--center p-top--mini">
      <a class="btn btn--ghost" href="cosa-facciamo/">Tutti gli ambiti <svg class="icon" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><polyline points='268 112 412 256 268 400' style='fill:none;stroke:currentColor; stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg></a>
    </div>
  </section>

  <section class="section container p-bottom--large p-top--medium">
    <h2 class="h3">La Storia della Compagnia</h2>
    {% include 'partials/sections/_society-history-special.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include "partials/sections/_ignatius-founder-special.njk" %}
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      <h2 class="h3">Esercizi Spirituali</h2>
      <div class="special special--half">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Una proposta di preghiera</div>
              <h2 class="special__title">Gli Esercizi Spirituali di Sant'Ignazio di Loyola</h2>
              <p class="special__text">Così come il passeggiare, il camminare e il correre sono esercizi corporali, anche i modi di preparare e disporre l'anima a liberarsi da tutti gli affetti disordinati sono esercizi spirituali.</p>
              <div class="special__btn">
                <a href="https://cis.gesuiti.it/">Scopri il calendario degli Esercizi</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/esercizi-spirituali.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="home-stories container p-top--medium p-bottom--medium">
    <div class="row">
      <div class="col-xl-5 col-l-6 col-m-9 col-s-10 col-12" style="margin: 0 auto; text-align: center">
        <h2 class="h3">Storie di vocazione</h2>
        <p class="text text--lead">Ogni storia è singolare, originale, riletta con sfumature personali. Tutte hanno in comune un incontro straordinario che ha cambiato la vita.</p>
      </div>
    </div>
    {% include 'partials/sections/_vocation-stories-carousel-large.njk' %}
    <div class="text--center p-top--mini">
      <a class="btn btn--ghost" href="storie-di-vocazione/">Leggi tutte le storie <svg class="icon" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><polyline points='268 112 412 256 268 400' style='fill:none;stroke:currentColor; stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg></a>
    </div>
  </section>

  <section class="home-vocations p-bottom--medium p-top--huge">
    <div class="container">
      <div class="special special--offset special--white">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Diventare gesuita</div>
              <h2 class="special__title"><a href="/diventare-gesuita/">Riconoscere una chiamata</a></h2>
              <p class="special__text">Diventare gesuita è un'opzione possibile. Prova a immaginare la tua vita nella Compagnia di Gesù. Come metteresti a frutto le tue buone qualità per il bene comune?</p>
              <div class="special__btn">
                <a href="/diventare-gesuita/">Scopri come diventare gesuita</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/riconoscere-chiamata.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="row newsletter">
      <div class="col-12 col-s-8 col-m-7">
        <div class="newsletter__heading">
          <div class="newsletter__logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="ihs-svg">
              <use xlink:href="#ihs-svg"></use>
            </svg>
          </div>
          <h2 class="newsletter__title m-top--medium">Resta aggiornato sulla Compagnia</h2>
          <p class="text text--lead">Iscriviti alla newsletter e ricevi tutte le informazioni e le notizie dei gesuiti in Italia</p>
        </div>
      </div>
      <div class="col-12 col-s-8 col-m-5">
        <form action="" class="newsletter__form m-top--large">
          <label class="styled-label" for="newsletter-email">La tua email</label>
          <input class="styled-input" type="email" id="newsletter-email" placeholder="mario@rossi.it">
          <p class="text text--micro"><a href="privacy-e-cookies/">Informativa sul trattamento dei dati personali</a></p>
          <div class="checkbox">
            <input type="checkbox" id="newsletter-acceptance" name="newsletter-acceptance" value="1" required="">
            <label class="styled-label styled-label--micro" for="newsletter-acceptance">Dichiaro di aver preso visione della suddetta informativa</label>
          </div>
          <p class="text text--micro">Il sottoscritto acconsente al trattamento dei propri dati personali per attività di marketing, attività promozionali, invio di materiale pubblicitario relativo all’attività, ai prodotti ed ai servizi della Provincia d'Italia della Compagnia di Gesù secondo quanto specificato nella suindicata informativa. (da rivedere inserendo Mailchimp?)</p>
          <div class="newsletter__radios">
            <div class="radio radio--inline">
              <input type="radio" id="newsletter-acceptance-y" name="newsletter-acceptance-2" value="1" required="">
              <label class="styled-label styled-label--micro" for="newsletter-acceptance-y">Presta il consenso</label>
            </div>
            <div class="radio radio--inline">
              <input type="radio" id="newsletter-acceptance-n" name="newsletter-acceptance-2" value="0">
              <label class="styled-label styled-label--micro" for="newsletter-acceptance-n">Nega il consenso</label>
            </div>
          </div>
          <input type="submit" class="styled-input" value="Procedi">
        </form>
      </div>
    </div>
  </section>