---
layout: base
---
{% set current_parent = 'chi-siamo' %}
{% set current_item = 'la-compagnia-di-gesu' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      La Compagnia di Gesù
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="la-provincia-euro-mediterranea/">Chi siamo</a>
      <span>La Compagnia di Gesù</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Un ordine religioso sacerdotale</h2>
        <p class="text text--lead">Dal punto di vista canonico, la Compagnia di Gesù è un istituto religioso maschile di diritto pontificio. Ogni membro, sacerdote o fratello, è chiamato a onorare i tre voti di povertà, castità e obbedienza.</p>
        <h3 class="m-top--large">Compagni di Gesù, non “ignaziani”</h3>
        <p>Alle porte di Roma, presso la cappella della Storta, Ignazio ha vissuto un’esperienza straordinaria. Mentre era in preghiera, vide Dio Padre che gli diceva: “voglio che tu ci serva” e da quel momento ha sentito che veniva messo con il Figlio, in “compagnia” con lui.</p>
        <p>Ecco perché Ignazio non voleva che i suoi seguaci fossero chiamati “ignaziani”, bensì compagni di Gesù.</p>
        <h3>Un corpo internazionale</h3>
        <p>Attualmente siamo circa 16.000 sparsi in 122 paesi del mondo.</p>
        <p>La Compagnia di Gesù sin dalle sue origini nasce come gruppo internazionale, sia per la provenienza geografica dei primi dieci compagni, sia per la disponibilità a essere inviati in qualsiasi parte del mondo.</p>
        <p>Ancora oggi, parte della nostra formazione è fatta all’estero per acquisire flessibilità, apertura mentale e sviluppare quel senso di adattamento che ci permette di abitare ovunque, con libertà.</p>
        <h3>Un sole che splende dalle origini</h3>
        <p>Sin dagli inizi abbiamo utilizzato il sole con la scritta IHS, iniziali latine di <i>Iesus Hominum Salvator</i>.</p>
        <p>Il monogramma di Gesù era già largamente diffuso alla fine del Medioevo, soprattutto grazie a Bernardino da Siena. Lo si ritrova anche a metà del ‘500 nella Ginevra calvinsta.</p>
        <p>Ignazio e i primi compagni lo fanno proprio per sottolineare il legame particolare con la persona di Gesù e la loro missione di “salvare le anime”.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
    </div>
  </section>

  <section class="section container p-bottom--huge p-top--medium">
    {% include 'partials/sections/_society-history-special.njk' %}
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      {% include 'partials/sections/_prayer-resources.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  {% include 'partials/sections/_vocation-adv.njk' %}

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>