---
layout: base
---

  <header class="template-header container">
    <h1 class="template-header__title">
      La Provincia Euro-Mediterranea
    </h1>
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <span>Chi siamo</span>
    </div>
  </header>

  <section class="container p-bottom--medium p--top--medium">
    <div class="row">
      <div class="col-12 col-m-7">
        <p class="text text--lead">La Provincia Euro-Mediterranea comprende le nazioni Italia, Albania, Malta e Romania. Quattro realtà diverse accomunate dall’essere ciascuna crocevia storico, culturale e religioso di mondi diversi: l’Europa, l’Africa e il Medio Oriente.</p>
        <p class="text text--lead">A capo del governo della Provincia EUM è il Superiore Provinciale p. Roberto Del Riccio SJ.</p>
        <a class="special-link" href="governo/">Scopri di più sul governo della Provincia</a>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data">
          <div class="big-data__kicker">
            La Provincia in numeri
          </div>
          <div class="big-data__item">
            <span class="big-data__number">433</span> gesuiti
          </div>
          <div class="big-data__item">
            <span class="big-data__number">38</span> comunità
          </div>
          <div class="big-data__item">
            <span class="big-data__number">41</span> opere, attive nel campo sociale, nella cultura, coi giovani, nelle scuole e negli esercizi spirituali
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--small">
    <div class="row">
      <div class="col-12">
        <figure class="">
          <img src="/img/eum-province-map-numbers.jpg" />
        </figure>
      </div>
    </div>
  </section>

  <section class="section p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_ignatius-founder-special.njk' %}
  </section>

  {% include 'partials/sections/_vocation-adv.njk' %}

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
