---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'leadership' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Leadership
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Leadership</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">Ignazio e i leader di oggi</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            Per una Chiesa che sta alle frontiere sono necessari uomini e donne capaci e formati sulla leadership di Gesù, per accompagnare ciascuno a divenire consapevole delle proprie possibilità e responsabilità, animato da un autentico spirito di servizio.
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/leadership.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="leadership-program container container--no-overflow p-top--mini">
    <h2 class="h3 m-bottom--medium text--center">Percorso di formazione ignaziana<br> per leaders apostolici EUM</h2>
    <div class="row row--extra-gutter">
      <div class="col-12 col-l-4">
        <div class="highlight">
          <div class="highlight__wrapper">
            <h3 class="highlight__title">La persona del leader ignaziano</h3>
            <div class="highlight__text">
              <p class="text text--lead">Settembre 2020</p>
              <ul>
                <li>Sant'Ignazio:  le sue pratiche di governo e la IX parte delle Costituzioni.</li>
                <li>P. Arrupe: il suo stile di leadership e il documento il nostro modo di procedere.</li>
                <li>La gestione personale delle dinamiche di potere e l’attenzione alle persone vulnerabili.</li>
                <li>Le caratteristiche di una leadership ignaziana.</li>
                <li>Le complessità dei processi decisionali.</li>
                <li>Il discernimento spirituale nella vita del leader ignaziano.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-l-4">
        <div class="highlight">
          <div class="highlight__wrapper">
            <h3 class="highlight__title">Costruire il team</h3>
            <div class="highlight__text">
              <p class="text text--lead">Febbraio 2021</p>
              <ul>
                <li>Tenere vivi gli orizzonti ampi delle ultime Congregazioni Generali nell’attività quotidiana del leader ignaziano.</li>
                <li>L’inquietudine spirituale del leader ignaziano: un aggancio al secondo obiettivo della Provincia EUM.</li>
                <li>Principi e buone pratiche organizzative applicate alle opere ignaziane.</li>
                <li>Strumenti per costruire, accompagnare e motivare un team.</li>
                <li>La gestione dei conflitti.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-l-4">
        <div class="highlight">
          <div class="highlight__wrapper">
            <h3 class="highlight__title">Pianificare la missione apostolica</h3>
            <div class="highlight__text">
              <p class="text text--lead">Giugno - luglio 2021</p>
              <ul>
                <li>La necessità della collaborazione tra laici e gesuiti nel modo di procedere dei nostri apostolati.</li>
                <li>Procedimento di pianificazione apostolica.</li>
                <li>Discernimento in comune come strumento di pianificazione.</li>
                <li>Una pianificazione attenta all’ecologia integrale in ascolto dei poveri: un aggancio al quarto obiettivo della Provincia EUM.</li>
                <li>Pianificare le risorse: definire il contesto, verificare gli strumenti, predisporre un piano d’azione.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      <h2 class="h2">Discerning leadership</h2>
      <div class="row">
        <div class="col-12 col-m-8">
          <p class="text text--lead">Il programma è curato dell'Associazione Internazionale delle Università dei Gesuiti, l'ufficio di "discernimento e pianificazione apostolica" della Curia Generalizia, Unione Internazionale delle Superiore Generali (UISG) e Unione dei Superiori Generali (USG).</p>
          <a href="https://discerningleadership.org/" class="special-link">Visita il sito del programma</a>
        </div>
        <div class="col-12 col-m-3" style="margin-left: auto;">
          <img class="m-top--mini" src="/img/discerning-leadership-test.png" alt="">
        </div>
      </div>
    </div>
  </section>
  -->

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container container--no-overflow">
      <h2 class="h2 text--center m-bottom--medium">Altri corsi</h2>
      <div class="row row--extra-gutter">
        <div class="article col-12 col-s-6">
          <div class="article__image article__image--16-9 primary--lighten-4">
            <a href="https://discerningleadership.org/">
              <img src="/img/discerning-leadership-16-9.jpg">
            </a>
          </div>
          <div class="article__title">
            <a href="https://discerningleadership.org/">Discerning Leadership</a>
          </div>
          <div class="article__text">
            Il programma è curato dell'Associazione Internazionale delle Università dei Gesuiti, l'ufficio di "discernimento e pianificazione apostolica" della Curia Generalizia, Unione Internazionale delle Superiore Generali (UISG) e Unione dei Superiori Generali (USG).
          </div>
          <div class="article__btn">
            <a href="https://discerningleadership.org/">Vai al sito</a>
          </div>
        </div>
        <div class="article col-12 col-s-6">
          <div class="article__image article__image--16-9">
            <a href="https://www.unigre.it/it/scienze-sociali/programmi-e-corsi/diploma-in-leadership-e-management/">
              <img src="/img/pug-logo-16-9.jpg">
            </a>
          </div>
          <div class="article__title">
            <a href="https://www.unigre.it/it/scienze-sociali/programmi-e-corsi/diploma-in-leadership-e-management/">Diploma in Leadership e Management</a>
          </div>
          <div class="article__text">
            La Pontificia Università Gregoriana offre un corso di durata annuale nato da una sinergia tra la Facoltà di Scienze Sociali e il Centro Fede e Cultura Alberto Hurtado.
          </div>
          <div class="article__btn">
            <a href="https://www.unigre.it/it/scienze-sociali/programmi-e-corsi/diploma-in-leadership-e-management/">Consulta il programma</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
