---
layout: base
---
{% set current_item = 'mappa-del-sito' %}
  <header class="template-header container">
    <h1 class="template-header__title">
        Mappa del sito
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <span>Mappa del sito</span>
    </div>
  </header>

  <section class="container p-bottom--medium p--top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        {% for item in mainmenu %}
        <h6>{{ item.name }}</h6>
        {% if item.children %}
        <ul>
          {% for item in item.children %}
          <li><a href="{{ item.url }}">{{item.name}}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <ul>
          <li><a href="{{ item.url }}">{{item.name}}</a></li>
        </ul>
        {% endif %}
        {% endfor %}
        {% for item in secondarymenu %}
          <h6>{{item.name}}</h6>
          <ul>
            <li>
              <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
            {% if item.name == 'Risorse'%}
            <li><a href="/archivio-letture-consigliate/">Letture consigliate</a>
              <ul>
                 <li><a href="/archivio-decreti/">Decreti delle Congregazioni Generali</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        {% endfor %}
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data m-bottom--medium">
          <div class="big-data__kicker">
            La Provincia in numeri
          </div>
          <div class="big-data__item">
            <span class="big-data__number">75</span> Opere, attive nel campo sociale, nella cultura, coi giovani, nelle scuole e negli esercizi spirituali
          </div>
          <div class="big-data__item">
            <span class="big-data__number">45</span> Gesuiti in formazione
          </div>
        </div>
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
