---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'missioni' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Missioni
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Missioni</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">Per uno sviluppo integrale e sostenibile</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            <p>Sant'Ignazio inviò i primi compagni ad evangelizzare il mondo. Da allora i gesuiti hanno portato il Vangelo dal Paraguay all'India, alla Cina. Uno stile missionario creativo, capace di percepire le sfide e accompagnare i popoli nel loro cammino.</p>
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/missioni.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      <h2 class="h2">Fondazione MAGIS</h2>
      <div class="row">
        <div class="col-12 col-m-7">
          <p class="text text--lead">La Fondazione Movimento e Azione dei Gesuiti Italiani per lo Sviluppo (MAGIS) nata nel 1988 è l'Ong dei gesuiti della Provincia Euro-Mediterranea. Realizza progetti di sviluppo e cooperazione nei Paesi del Sud del mondo e inziative di sensibilizzazione in Italia. È in rete con gli <a href="https://xavier.network/" rel="external">uffici missionari e le Ong della Compagnia.</a></p>
          <a href="https://magis.gesuiti.it/" class="special-link">Visita il sito della Fondazione</a>
        </div>
        <div class="col-12 col-m-4" style="margin-left: auto;">
          {% youtube '5IExbqVs_6Q' %}
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
