---
layout: base
---
{% set current_item = 'news' %}

  <header class="template-header container">
    <div class="template-header__title">
      News
    </div>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
        Gesuiti</a>
      <span>News</span>
    </div>
  </header>

  <section class="container container--no-overflow">
    {% include 'partials/sections/_news-grid-featured.njk' %}
  </section>

  <section class="section p-bottom--large p-top--huge">
    <div class="container">
      <div class="special special--half">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Approfondimenti</div>
              <h2 class="special__title">
                <a href="focus/">Gesuiti e politica: le scuole di formazione </a>
              </h2>
              <p class="special__text">La crisi politica? Chiede un cambiamento di rotta. Curare le comunità non con un nuovo partito ma un nuovo metodo, che connetta le buone pratiche. Così dal 2009 ad oggi sono tre le esperienze avviate dai gesuiti a Roma, Palermo e Milano.
Il sogno: generare il cambiamento.</p>
              <div class="special__btn">
                <a href="focus/">Approfondisci</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="https://picsum.photos/876/584" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="container container--no-overflow p-top--small">
    <h4 class="h4" style="text-align:center;">Esplora altri argomenti</h4>
    {% include 'partials/sections/_news-grid-topic-filters.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_readings-carousel.njk' %}
    <div class="text--center m-top--medium m-bottom--large">
      <a class="special-link">Vai all'elenco completo</a>
    </div>
  </section>

  <section class="news-media p-top--small p-bottom--large">
    <div class="container">
      <h2 class="h1">Media</h2>
      {% include 'partials/sections/_media-dashboard.njk' %}
    </div>
  </section>

  <section class="section--white p-top--medium p-bottom--medium">
    <div class="container">
      <h2 class="h4">I nostri blogger</h2>
      {% include 'partials/sections/_bloggers.njk' %}
    </div>
  </section>

  <section class="section p-bottom--large p-top--huge">
    <div class="container">
      <div class="special special--half">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Ritrovare il primo amore</div>
              <h2 class="special__title">
                <a href="https://d1c233nw6edifh.cloudfront.net/wp-content/uploads/sites/11/2018/07/PIANO%20APOSTOLICO%20PROVINCIA%20EUM.pdf">Piano apostolico della Provincia</a>
              </h2>
              <p class="special__text">Il nuovo Piano apostolico definisce 4 obiettivi su cui la Provincia Euro-Mediterranea investirà le sue energie e organizzerà il proprio agire nei prossimi anni.</p>
              <div class="special__btn">
                <a href="https://d1c233nw6edifh.cloudfront.net/wp-content/uploads/sites/11/2018/07/PIANO%20APOSTOLICO%20PROVINCIA%20EUM.pdf">Scarica il documento</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/ignatius-loyola-shoes.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>