---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'preghiera' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Preghiera
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Preghiera</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">Il metodo ignaziano</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            La preghiera ignaziana è composta da due momenti: la preghiera vera e propria e la sua verifica. Un tempo in cui immergersi nella relazione con il Signore e gustarla; un altro per accorgersi dei semi gettati e dei frutti che maturano.
          </div>
          <div class="featured__btn">
            <a href="https://cis.gesuiti.it">Segui gli Esercizi Spirituali</a>
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/preghiera.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="container p-top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Il metodo ignaziano</h2>
        <p class="text text--lead">La preghiera è un incontro personale con il Signore.<br>Scegli un tempo e un luogo che aiuti a questo incontro e segui queste semplici tappe.</p>
        <h3>Presenza</h3>
        <p>Mi metto in presenza del Signore mendicando il dono della preghiera e della concentrazione. Chiedo al Signore che tutte le mie energie convergano verso questo incontro. Penso con quanto amore mi sta conoscendo e guardando in questo momento.<br>Poi:</p>
        <ul>
          <li><b>“Composizione guardando il luogo”</b>: utilizzo la mia immaginazione per farmi una “icona interiore” della scena che sto per meditare.</li>
	        <li><b>“Chiedo ciò che voglio e desidero”</b>: entro in relazione diretta col Signore chiedendo un dono ben preciso, in una formulazione che posso ripetere spesso.</li>
        </ul>
        <h3>Meditazione</h3>
        <p>Leggo e rileggo il brano. Mi fermo dove una parola mi colpisce, dove “trovo gusto”, senza fretta di andare avanti. “Non è il tanto sapere che riempie e soddisfa l’anima ma il sentire e gustare le cose interiormente”. Sulla parola che mi colpisce metto in moto la mia memoria (che cosa mi ricorda?), la mia intelligenza (che cosa mi fa capire?), la mia volontà (che desideri fa nascere in me?).</p>
        <h3>Colloquio</h3>
        <p>Parlo col Signore “come un amico parla con l’amico”. E non ho paura di “versare” in Lui tutta la mia “morte” del cuore affinché Lui versi in me la sua vita. È la “conversazione”.</p>
        <h3>Revisione</h3>
        <p>Dopo la preghiera, in un altro luogo, ripercorro per alcuni minuti il suo andamento. Mi chiedo come è andato il metodo, che parola mi ha colpito di più, e cerco di dare un nome ai sentimenti che mi hanno attraversato.</p>
        <a href="https://cis-esercizispirituali.net/cosa-sono-gli-esercizi-spirituali/" rel="noopener external" class="special-link special-link--small">Scopri gli Esercizi Spirituali</a>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_upcoming-exercises.njk' %}
    </div>
  </section>

  <!--
  <section class="section p-bottom--medium p-top--small">
    <div class="container">
      <h2 class="h4 m-bottom--large text--center">Esercizi Spirituali</h2>
      <div class="row">
        <div class="col-xl-3 col-xs-6 col-12 m-bottom--medium">
          <div class="adv adv--stretched">
            <div class="adv__title">
              <a href="">Un modo di pregare</a>
            </div>
            <div class="adv__text">Scopri quali sono i fondamenti della preghiera ignaziana</div>
            <div class="adv__btn">
              <a href="https://cis.gesuiti.it/un-modo-di-pregare/">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12 m-bottom--medium">
          <div class="adv adv--stretched">
            <div class="adv__title">
              <a href="">Un metodo per fare discernimento</a>
            </div>
            <div class="adv__text">
              <p>Scopri Esercizi ignaziani come strumento</p>
            </div>
            <div class="adv__btn">
              <a href="https://cis.gesuiti.it/un-modo-di-pregare/un-metodo-per-fare-discernimento/">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12 m-bottom--medium">
          <div class="adv adv--stretched">
            <div class="adv__title">
              <a href="https://cis.gesuiti.it/un-modo-di-pregare/un-cammino-tappe/">Un cammino a tappe</a>
            </div>
            <div class="adv__text">Esplora il percorso pedagogico che offrono gli Esercizi Spirituali</div>
            <div class="adv__btn">
              <a href="https://cis.gesuiti.it/un-modo-di-pregare/un-metodo-per-fare-discernimento/">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12 m-bottom--medium">
          <div class="adv adv--stretched">
            <div class="adv__title">
              <a href="">Diverse modalità</a>
            </div>
            <div class="adv__text">Guarda i diversi modi in cui puoi fare gli Esercizi ignaziani</div>
            <div class="adv__btn">
              <a href="https://cis.gesuiti.it/un-modo-di-pregare/diverse-modalita/">Approfondisci</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      {% include 'partials/sections/_prayer-resources.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="carousel">
        <h2 class="carousel__title">I nostri centri<br>di spiritualità</h2>
        <div class="carousel__slider">
            <article class="article carousel__slide">
              <div class="article__image article__image--1-1">
                <img src="/img/mount-st-joseph-temp.jpg">
              </div>
              <div class="article__meta">
                <div class="article__kicker">Malta</div>
              </div>
              <div class="article__title">
                <a href="https://cismalta.org/msj/">Casa di Esercizi Mount St. Joseph</a>
              </div>
              <div class="article__btn">
                <a href="https://cismalta.org/msj/">Approfondisci</a>
              </div>
            </article>
            <article class="article carousel__slide">
              <div class="article__image article__image--1-1">
                <img src="/img/pozzo-di-sichar-temp.jpg">
              </div>
              <div class="article__meta">
                <div class="article__kicker">Sardegna</div>
              </div>
              <div class="article__title">
                <a href="https://www.pozzodisichar.it/">Casa per Esercizi Sprituali "Pozzo di Sichar"</a>
              </div>
              <div class="article__btn">
                <a href="https://www.pozzodisichar.it/">Approfondisci</a>
              </div>
            </article>
            <article class="article carousel__slide">
              <div class="article__image article__image--1-1">
                <img src="/img/manresa-retreat-house.jpg">
              </div>
              <div class="article__meta">
                <div class="article__kicker">Malta</div>
              </div>
              <div class="article__title">
                <a href="https://cismalta.org/manresa/">Centro di spiritualità Manresa</a>
              </div>
              <div class="article__btn">
                <a href="https://cismalta.org/manresa/">Approfondisci</a>
              </div>
            </article>
            <article class="article carousel__slide">
              <div class="article__image article__image--1-1">
                <img src="/img/villa-san-giuseppe.jpg">
              </div>
              <div class="article__meta">
                <div class="article__kicker">Emilia Romagna</div>
              </div>
              <div class="article__title">
                <a href="http://www.villasangiuseppe.org/">Villa San Giuseppe</a>
              </div>
              <div class="article__btn">
                <a href="http://www.villasangiuseppe.org/">Approfondisci</a>
              </div>
            </article>
            <article class="article carousel__slide">
              <div class="article__image article__image--1-1">
                <img src="/img/villa-la-nuza-temp.jpg">
              </div>
              <div class="article__meta">
                <div class="article__kicker">Sicilia</div>
              </div>
              <div class="article__title">
                <a href="http://www.villasangiuseppe.org/">Villa "La Nuza"</a>
              </div>
              <div class="article__btn">
                <a href="http://www.villasangiuseppe.org/">Approfondisci</a>
              </div>
            </article>
        </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
