---
layout: base
---
{% set current_item = 'privacy-e-cookies' %}
  <header class="template-header container">
    <h1 class="template-header__title">
        Privacy e cookies
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <span>Privacy e cookies</span>
    </div>
  </header>

  <section class="container p-bottom--medium p--top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Privacy Policy</h2>
        <p>Questa Privacy Policy (d’ora in avanti “Policy”) descrive i dati personali raccolti o generati (elaborati) quando si utilizzano i siti web del Titolare del trattamento (d’ora in avanti “Siti”). La Policy descrive anche le tipologie di dati personali che vengono raccolti al momento dell’utilizzazione dei nostri Siti e il modo in cui i dati personali vengono raccolti, condivisi e protetti nel rispetto della vigente normativa in materia di privacy e sarà improntato ai principi di correttezza, liceità, trasparenza e protezione dei dati.</p>
        <p>A tal fine, in ottemperanza a quanto previsto dall’articolo 13 del Regolamento europeo 2016/679 (GDPR), indichiamo qui di seguito le informazioni di carattere generale riguardo i trattamenti di dati personali effettuati tramite questo Sito.</p>
        <p>Tale informativa si riferisce esclusivamente ai dati di coloro che interagiscono con i servizi accessibili a partire dalla home page <a href="https://gesuiti.it">gesuiti.it</a> senza estendersi agli altri siti eventualmente raggiunti dall’utente tramite i link presenti sul Sito.</p>
        <h3>Dati di contatto del titolare</h3>
        <p>Il titolare del trattamento è p. Francesco Pecori Giraldi SJ, Legale Rappresentante della <b>Provincia d’Italia della Compagnia di Gesù</b>, con sede in Via degli Astalli 16 – 00186 Roma – C.F. 97411700582 – che potrà essere contattato per richiedere spiegazioni riguardo questa informativa o esercitare i diritti previsti dalla normativa in materia di protezione dati personali descritti nel testo che segue. Per contattare il Titolare si potrà utilizzare uno dei seguenti mezzi:</p>
        <ul>
          <li>via email: privacy@gesuiti.it</li>
          <li>telefono: 06 697001</li>
          <li>via posta ordinaria: Via degli Astalli, 16 – 00186 Roma</li>
        </ul>
        <p>Per qualsiasi comunicazione, nei confronti del titolare, si deve riportare nella richiesta i dati di contatto, indispensabili per poter essere individuato e ricontattato.<p>
        <h3>Tipologia di dati trattati</h3>
        <h4>Dati di navigazione</h4>
        <p>I sistemi informatici e le procedure software preposte al funzionamento di questo Sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet.</p>
        <p>In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al Sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente. Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, in quanto i dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del Sito, per controllarne il corretto funzionamento e prevenire reati informatici e ma per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permetterne di identificare gli utenti. Si segnala che i dati potrebbero essere utilizzati dalle Autorità competenti per l’accertamento di responsabilità in caso di ipotetici reati informatici.</p>
        <h4>Cookies</h4>
        <p>Il Sito fa uso di cookie e altri marcatori digitali per migliorare l’esperienza di navigazione dell’utente. Per avere maggiori informazioni sulla tipologia di cookie utilizzati, le finalità e le modalità di disabilitazione è possibile consultare l'informativa specifica, indicata più avanti.</p>
        <h4>Dati forniti volontariamente dall’utente</h4>
        <p>Per accedere ad eventuali servizi riservati agli utenti, è necessario registrarsi e inserire alcuni dati personali. Il conferimento di alcuni dati identificativi è necessario al fine di autenticare e verificare la legittimazione all’accesso, nei diversi livelli delle aree riservate, ai soggetti che vi accedono. In nessun caso verranno invece trattati dati sensibili o giudiziari.</p>
        <p>L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo Sito comporta la successiva acquisizione dell’indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva. Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del Sito predisposte per particolari servizi a richiesta.</p>
        <h3>Finalità</h3>
        <p>I dati forniti dall’interessato potranno essere trattati per:</p>
        <ol>
          <li>lo svolgimento delle operazioni strettamente necessarie onde procedere all’erogazione dei servizi eventualmente richiesti, tra questi inclusa la navigazione tra le pagine del Sito;</li>
          <li>la prestazione di servizi tecnologici (mailing-list, invio newsletter, assistenza e manutenzione in remoto o in locale, ecc.), anche da parte di terzi specificamente autorizzati;</li>
          <li>attività imposte da leggi, regolamenti;</li>
          <li>elaborazioni statistiche su dati aggregati in relazione alle prestazioni del Sito;</li>
          <li>valutazioni riguardo l’utilizzo del Sito da parte degli utenti;</li>
          <li>inviare pubblicità.</li>
        </ol>
        <p>Nelle pagine del Sito ove sono esplicitamente raccolti i dati personali dell’interessato sono riportate, laddove necessario, le ulteriori specifiche informative sul trattamento dei dati personali, nonché i metodi per l’acquisizione del relativo consenso nei casi in cui il Titolare ricorre a tale base giuridica di trattamento.</p>
        <h3>Base giuridica</h3>
        <p>Il trattamento dei dati personali verrà effettuato sulla base di una o più delle seguenti condizioni. In particolare, i trattamenti effettuati per le finalità sopra descritte, che riguardano:</p>
        <ul>
          <li>punto 1 e punto 2, hanno come base giuridica la necessità di dare esecuzione alle espresse richieste di ricevere un servizio direttamente disponibile tramite il Sito: si tratta dunque di conferimento di dati strettamente necessari e connessi ad una fase pre-contrattuale e/o contrattuale ovvero funzionale a dare riscontro ad una specifica richiesta da parte dell’interessato. Come tali i dati di volta in volta raccolti sono obbligatori e, qualora non si intenda fornirli, non sarà possibile erogare il servizio o dare risposta a quanto richiesto;</li>
          <li>punto 3, avranno come base giuridica la necessità di rispettare un obbligo di legge e come tali questi dati e relativi trattamenti sono obbligatori;</li>
          <li>punti 4, 5 e 6 , avranno come base giuridica il consenso informato e libero dell’interessato, che sarà richiesto in apposite pagine del Sito e preceduto da specifica nostra informativa o tramite cookie (vedasi sezione dedicata alla Cookie Policy). In tal caso il conferimento dei dati è assolutamente libero ed in assenza del consenso i dati non saranno in alcun modo raccolti ed utilizzati per tali finalità. Qualora si sia fornito il consenso potrà essere revocato in qualunque momento ed a partire dalla revoca i dati non saranno ulteriormente trattati per tali finalità. Per massima chiarezza evidenziamo che la revoca del consenso non ha effetti retroattivi sui dati trattati prima della revoca stessa.</li>
        </ul>
        <p>Inoltre, qualora si abbia una età inferiore ai 16 anni, per il trattamento dei dati per queste finalità sarà necessario raccogliere l’autorizzazione da parte del titolare della responsabilità genitoriale.</p>
        <p>Laddove il titolare possa avvalersi di altra base giuridica (legittimo interesse, pubblico interesse, ecc.), sarà fornita apposita e specifica Informativa.</p>
        <h3>Modalità di trattamento, misure di sicurezza e tempi di conservazione</h3>
        <p>Tutti i dati verranno trattati in formato prevalentemente elettronico. I dati personali nonché ogni altra eventuale informazione associabile, direttamente od indirettamente, ad un utente determinato, sono raccolti e trattati applicando le misure di sicurezza tecniche e organizzative tali da garantire un livello di sicurezza adeguato al rischio, tenendo conto dello stato dell’arte e dei costi di attuazione, o, ove previste, misure di sicurezza prescritte da apposita normativa quale a titolo di esempio non esaustivo: misure previste da applicabili provvedimenti emessi dell’Autorità Garante per la protezione dati personali o da normative e regolamenti specifici per il settore bancario/finanziario e saranno accessibili solo al personale specificamente autorizzato.</p>
        <p>Proprio in riferimento agli aspetti di protezione dei dati personali, l’interessato è invitato, ai sensi dell’art. 33 del GDPR, a segnalare al Titolare eventuali circostanze o eventi dai quali possa discendere una potenziale “violazione dei dati personali (data breach)” al fine di consentire una immediata valutazione e l’adozione di eventuali azioni volte a contrastare tale evento, inviando una comunicazione a privacy@gesuiti.it .</p>
        <p>Si ricorda che per violazione dati personali si intende “la violazione di sicurezza che comporta accidentalmente o in modo illecito la distruzione, la perdita, la modifica, la divulgazione non autorizzata o l’accesso ai dati personali trasmessi, conservati o comunque trattati”. Le misure adottate dal Titolare non esimono l’utente/cliente dal prestare la necessaria attenzione all’utilizzo, ove richiesto, di password/PIN di complessità adeguata, che dovrà aggiornare periodicamente nonché custodire con attenzione e rendere inaccessibili ad altri, al fine di evitarne usi impropri e non autorizzati.</p>
        <p>I dati personali trattati verranno conservati in una forma che consenta l’identificazione degli interessati per un arco di tempo non superiore al conseguimento delle finalità per le quali sono trattati, fatta salva la necessità di conservarli per un periodo maggiore a seguito di richieste da parte delle Autorità competenti in materia di prevenzione e persecuzione di reati o comunque per far valere o difendere un diritto in sede giudiziaria.</p>
        <h3>Categorie di destinatari dei dati personali</h3>
        <p>I dati personali saranno trattati dal personale specificamente autorizzato da parte del Titolare nonché da soggetti terzi, anche eventualmente stabiliti in Paesi esteri rispetto all’Unione Europea, solo qualora ciò sia necessario per esigenze di operatività, sicurezza e manutenzione del Sito e dei servizi messi a disposizione tramite il Sito stesso, fatti salvi gli eventuali obblighi previsti da disposizioni di legge (es: ispezioni dell’Autorità fiscale). In nessun caso essi saranno invece diffusi al pubblico.</p>
        <p>Come previsto dal GDPR, il Titolare provvede a nominare quali responsabili di trattamento dati personali le società terze che svolgono in tutto o in parte le attività in oggetto per conto del Titolare. Nel caso di coinvolgimento di soggetti terzi stabiliti in Paesi esteri rispetto all’Unione Europea, per il relativo trasferimento di dati all’estero sono adottate le garanzie appropriate corrispondenti alle decisioni di adeguatezza emesse dalla Commissione Europea e/o dall’Autorità Garante nazionale per la protezione dei dati personali di volta in volta adeguate al caso.</p>
        <p>I dati personali forniti dagli utenti che inoltrano richieste di invio di materiale sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e sono comunicati a terzi nel solo caso in cui ciò sia a tal fine necessario (esempio: servizio di spedizione delle pubblicazioni).</p>
        <h3>Diritti degli interessati</h3>
        <p>In relazione ai trattamenti dei dati personali svolti tramite questo Sito, in ogni momento, in qualità di interessato si potranno esercitare i diritti previsti dal GDPR. In particolare, si potrà:</p>
        <ul>
          <li>accedere ai dati personali, ottenendo evidenza delle finalità perseguite da parte del Titolare, delle categorie di dati coinvolti, dei destinatari a cui gli stessi possono essere comunicati, del periodo di conservazione applicabile;</li>
          <li>ottenere senza ritardo la rettifica dei dati personali inesatti che riguardano l’interessato;</li>
          <li>ottenere, nei casi previsti dalla legge, la cancellazione dei dati;</li>
          <li>ottenere la limitazione del trattamento o di opporsi allo stesso, quando ammesso in base alle previsioni di legge applicabili al caso specifico;</li>
          <li>nei casi previsti dalla legge richiedere la portabilità dei dati forniti al titolare, vale a dire di riceverli in un formato strutturato, di uso comune e leggibile da dispositivo automatico, ed anche richiedere di trasmettere tali dati ad un altro titolare, se tecnicamente fattibile;</li>
          <li>ove lo si ritenga opportuno, proporre reclamo all’Autorità di controllo.</li>
        </ul>
        <p>Per i trattamenti di dati personali per i quali la base giuridica è il consenso potrà essere sempre revocato ed in particolare esercitare il diritto di opposizione al marketing diretto.</p>
        <p>Per esercitare tali diritti basterà contattare il Titolare facendo riferimento ai dati di contatto riportati all’inizio di questa Informativa.</p>
        <p>Per avere ulteriori informazioni in ordine ai propri diritti ed alla disciplina sulla privacy in generale invitiamo a visitare il Sito web dell’Autorità Garante per la protezione dei dati personali, all’indirizzo <a href="https://www.garanteprivacy.it/">https://www.garanteprivacy.it/</a>.</p>
        <h2>Cookies Policy</h2>
        <h3>Premessa</h3>
        <p>Questa pagina descrive nello specifico l’utilizzo dei cookies effettuato dal Sito ufficiale <a href="https://gesuiti/">https://gesuiti.it</a></p>
        <h3>Informazioni sui cookies</h3>
        <p>I cookies sono stringhe di testo di piccole dimensioni che i siti visitati dall’utente inviano al suo terminale (solitamente al browser), dove vengono memorizzati per essere poi ritrasmessi agli stessi siti alla successiva visita del medesimo utente. Nel corso della navigazione su un Sito, l’utente può ricevere sul suo terminale anche cookies che vengono inviati da siti o da web server diversi (c.d. “terze parti”), sui quali possono risiedere alcuni elementi (quali, ad esempio, immagini, mappe, suoni, specifici link a pagine di altri domini) presenti sul Sito che lo stesso utente sta visitando.</p>
        <p>Grazie ai cookies il server invia informazioni che verranno rilette e aggiornate ogni volta che l’utente tornerà sul Sito. In questo modo il Sito web potrà adattarsi automaticamente all’utente, migliorandone l’esperienza di navigazione. Inoltre, i cookies forniscono al gestore del Sito informazioni anonime sulla navigazione degli utenti, anche per ottenere dati statistici sull’uso del Sito e migliorarne la navigazione. Le informazioni raccolte tramite i cookies possono essere utilizzate anche per costruire un “profilo” delle preferenze manifestate dall’utente durante la navigazione, allo scopo di personalizzare i messaggi di promozione commerciale.</p>
        <p>In alcuni casi al posto dei cookies vengono utilizzati altri tipi di marcatori digitali come  il localStorage. Nella presente informativa “cookies” viene utilizzato come termine generico per indicare i marcatori digitali salvati sul terminale dell’utente; dove opportuno viene specificata la tipologia di marcatore.</p>
        <h3>Tipologie di cookies</h3>
        <p>Sulla base della normativa in materia di protezione dei dati personali i cookies possono essere quindi suddivisi in “tecnici”, per l’utilizzo dei quali nella maggior parte dei casi non è richiesto il consenso dell’utente, e “di profilazione” per finalità promozionali, per i quali è invece necessario raccogliere il consenso dell’utente.</p>
        <h4>Cookies tecnici</h4>
        <p>Questa tipologia di cookies si suddivide ulteriormente in:</p>
        <h5>Cookies di navigazione/sessione</h5>
        <p>Si tratta di cookies fondamentali per navigare all’interno del Sito utilizzando tutte le sue funzionalità, come ad esempio il mantenimento della sessione e l’accesso alle aree riservate. Sono strettamente necessari in quanto senza di essi non sarebbe possibile fornire i servizi richiesti. Questi cookies non raccolgono informazioni da utilizzare per fini commerciali.</p>
        <h5>Cookies per le prestazioni</h5>
        <p>Raccolgono e analizzano le informazioni sull’uso del Sito da parte dei visitatori (pagine visitate, numero di accessi, tempo di permanenza nel Sito, ecc.) per ottimizzare la gestione del Sito. Questi cookies non raccolgono informazioni che possano identificare in qualche modo l’utente. Vengono chiamati anche "analytics cookies".</p>
        <h5>Cookies di funzionalità</h5>
        <p>Permettono all’utente la navigazione in funzione di una serie di criteri selezionati (ad esempio la lingua) al fine di fornire all’utente una migliore esperienza di navigazione. Le informazioni raccolte da questo tipo di cookies sono in forma anonima.</p>
        <p>Il Sito web funziona in modo ottimale se i cookies tecnici sono abilitati; è possibile comunque decidere di disattivare l’utilizzo dei cookie non tecnici su questo Sito come specificato nella sezione “Disabilitazione ed eliminazione dei cookies”. Occorre tener presente però che, qualora vengano disabilitati i cookies, potrebbero venire disabilitate alcune funzionalità del Sito.</p>
        <p>Il Sito Web su cui sta navigando utilizza alcuni cookies tecnici come meglio dettagliato nella presente Cookie Policy.</p>
        <h4>Cookies di profilazione</h4>
        <p>Attraverso i cookies possono essere raccolte informazioni relative all’utente da utilizzare al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dallo stesso nell’ambito della navigazione in rete (profilo).</p>
        <p>In ragione dell’impatto sulla sfera privata dell’utente dell’utilizzo di tale tecniche con finalità di profilazione, è necessaria la raccolta del consenso dell’utente stesso.</p>
        <p>Nel caso in cui i cookies siano utilizzati per tali finalità, nel Sito sarà proposta una specifica sintetica informativa (banner) contenente anche l’indicazione della modalità attraverso la quale è possibile esprimere il consenso all’uso dei cookies di profilazione, secondo le prescrizioni contenute nel provvedimento del Garante privacy “Individuazione delle modalità semplificate per l’informativa e l’acquisizione del consenso per l’uso dei cookie – 8 maggio 2014”. I dati di profilazione sono conservati per dodici mesi. In questa tipologia rientrano anche i cosiddetti cookie di retargeting.</p>
        <h5>Cookies di retargeting</h5>
        <p>Questi cookies sono utilizzati per inviare pubblicità personalizzata ai soggetti che navigano il web e che hanno precedentemente visitato un Sito.</p>
        <p>Il Sito Web su cui si sta navigando non utilizza alcuna tipologia di cookie di profilazione.</p>
        <h4>Cookies di prime parti</h4>
        <p>Questi cookie vengono impostati dal Sito web stesso (con dominio uguale a quello indicato nella barra degli indirizzi del browser) e possono essere letti solo da tale Sito. Vengono comunemente utilizzati per archiviare informazioni quali le preferenze, da utilizzare alle successive visite al Sito.</p>
        <h4>Cookies di terze parti</h4>
        <p>Navigando nel Sito possono essere installati cookies da parte di altri siti, ai quali si può accedere dal Sito ma gestiti da altri soggetti (terze parti). In questo caso il Titolare del Sito funge solo da intermediario tecnico fra l’utente e questi siti.</p>
        <p>Per avere maggiori informazioni sui cookie di terze parti o poter poterli disabilitare su tutti i siti visitati occorre fare riferimento alle informazioni messe a disposizione da queste terze parti. Ad esempio i servizi di Google come YouTube possono installare cookie di profilazione sul terminale dell’utente, se lo stesso ha effettuato l’accesso al proprio account Google nel browser utilizzato per visitare i siti del Titolare. Tali cookie e attività non sono sotto il controllo del Titolare, e possono essere gestiti direttamente dall’utente modificando le impostazioni del proprio account Google disponibili a <a href="https://www.google.com/intl/it/account/about/privacy-tools/" rel="noopener nofollow">questo indirizzo</a>.</p>
        <h3>Disabilitazione ed eliminazione dei cookies</h3>
        <p>Per disabilitare, dove tecnicamente possibile, l’installazione di cookie non necessari da parte dei siti del Titolare l’utente può cliccare su <a class="js-klaro-modal-trigger">questo link</a> o sul link “Gestisci preferenze dei cookies” che si trova nel footer di tutte le pagine del Sito.</p>
        <p>Per un controllo più generalizzato delle funzionalità relative ai cookie, le impostazioni del browser usato dall’utente per navigare consentono sia la cancellazione sia la possibilità di evitare l’installazione dei cookies sul dispositivo elettronico utilizzato.</p>
        <p><b>MICROSOFT INTERNET EXPLORER</b></p>
        <ol>
          <li>Cliccare su “Strumenti” nella parte superiore della finestra del browser e selezionare “Opzioni Internet” e successivamente cliccare sulla scheda “Privacy”.</li>
          <li>Per attivare i cookies il livello di Privacy deve essere impostato su “Medio” o al di sotto.</li>
          <li>Impostando il livello di Privacy sopra il “Medio” l’utilizzo dei cookies verrà disattivato.</li>
        </ol>
        <p><b>MOZILLA FIREFOX</b></p>
        <ol>
          <li>Cliccare su “Strumenti” nella parte superiore della finestra del browser e selezionare “Opzioni”.</li>
          <li>Selezionare l’icona “Privacy”.</li>
          <li>Cliccare su “Cookies”, poi selezionare o meno “Accetta i cookies dai siti” e “Accetta i cookies di terze parti”.</li>
        </ol>
        <p><b>GOOGLE CHROME</b></p>
        <ol>
          <li>Fare clic sull’icona del menu Chrome.</li>
          <li>Selezionare Impostazioni.</li>
          <li>Nella parte inferiore della pagina, fare clic su Mostra impostazioni avanzate.</li>
          <li>Nella sezione “Privacy”, fare clic su Impostazioni contenuti.</li>
          <li>
            Attivare o disattivare i cookies:
            <ol>
              <li>Per attivare i cookies, selezionare Consenti il salvataggio dei dati in locale (consigliata).</li>
              <li>Per disattivare i cookies, selezionare “Impedisci ai siti di impostare dati”.</li>
            </ol>
          </li>
          <li>Fare clic su Fine per salvare.</li>
        </ol>
        <p><b>SAFARI</b></p>
        <ol>
          <li>Cliccare sull’icona “Cog” nella parte superiore della finestra del browser e selezionare l’opzione “Preferenze”.</li>
          <li>Cliccare su “Protezione” e selezionare o meno l’opzione “Blocco di terze parti e di cookies per la pubblicità”.</li>
          <li>Cliccare su “Salva”.</li>
        </ol>
        <p>In ogni caso, è possibile impostare e gestire le preferenze in merito all’utilizzo dei cookies impiegati per finalità di pubblicità comportamentale online anche attraverso siti web specifici quali, ad esempio, il Sito Your Online Choices raggiungibile al seguente link <a href="https://www.youronlinechoices.com" rel="noopener nofollow">https://www.youronlinechoices.com</a></p>
        <h3>Cookies utilizzati sul Sito</h3>
        <h4>Cookies tecnici di prime parti</h4>
        <h5>Cookies di sessione/navigazione</h5>
        <figure>
          <table>
            <thead>
              <tr>
                <td><strong>NOME DEL COOKIE</strong></td>
                <td><strong>DESCRIZIONE</strong></td>
                <td><strong>TIPOLOGIA</strong></td>
                <td><strong>DURATA</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>wordpress_test_cookie</td>
                <td>Cookie di test di Wordpress che verificare la possibilità di installare cookies</td>
                <td>HTTP Cookie</td>
                <td>sessione</td>
              </tr>
              <tr>
                <td>wordpress_google_apps_login</td>
                <td>Cookie di Wordpress legato al login tramite account Google</td>
                <td>HTTP Cookie</td>
                <td>sessione</td>
              </tr>
              <tr>
                <td>PHPSESSID</td>
                <td>Per identificare la sessione unica sul Sito web</td>
                <td>HTTP Cookie</td>
                <td>sessione</td>
              </tr>
            </tbody>
          </table>
        </figure>
        <h5>Cookies di funzionalità</h5>
        <h6>Accessibilità</h6>
        <p>Questo Sito consente all’utente di impostare le dimensioni del testo e il tema scuro per migliorare la visibilità e l’esperienza di navigazione. Le preferenze dell’utente vengono salvare in due marcatori HTML localStorage, che hanno una durata variabile a seconda del browser utilizzato.</p>
        <figure>
          <table>
            <thead>
              <tr>
                <td><strong>NOME DEL COOKIE</strong></td>
                <td><strong>DESCRIZIONE</strong></td>
                <td><strong>TIPOLOGIA</strong></td>
                <td><strong>DURATA</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>text-size</td>
                <td>Memorizza la dimensione del corpo del testo selezionata dall’utente per la visualizzazione del Sito</td>
                <td>HTML localStorage</td>
                <td>varia in base al browser</td>
              </tr>
              <tr>
                <td>color-theme</td>
                <td>Memorizza la selezione del tema scuro per la visualizzazione del Sito</td>
                <td>HTML localStorage</td>
                <td>varia in base al browser</td>
              </tr>
            </tbody>
          </table>
        </figure>
        <h6>Gestione dei consensi</h6>
        <p>I consensi prestati o negati dall’utente relativamente all’utilizzo dei cookie viene salvato in un marcatore HTTP localStorage di durata variabile a seconda del browser utilizzato.</p>
        <figure>
          <table>
            <thead>
              <tr>
                <td><strong>NOME DEL COOKIE</strong></td>
                <td><strong>DESCRIZIONE</strong></td>
                <td><strong>TIPOLOGIA</strong></td>
                <td><strong>DURATA</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>eumConsents</td>
                <td>Memorizza i consensi espressi dall’utente in materia di cookies</td>
                <td>HTML localStorage</td>
                <td>varia in base al browser</td>
              </tr>
            </tbody>
          </table>
        </figure>
        <h6>Cookies per le prestazioni</h6>
        <p>I cookies per le prestazioni raccolgono informazioni anonime relative al modo in cui gli utenti utilizzano il Sito Web e le sue varie funzionalità. Ad esempio, i nostri cookies per le prestazioni raccolgono informazioni in merito alle pagine del Sito che l’utente visita più spesso.</p>
        <p>Per raccogliere dati aggregati sull’utilizzo del Sito utilizziamo Google Analytics con funzione di anonimizzazione dell’indirizzo IP: l’ultima porzione dell’indirizzo IP dell’utente viene mascherata appena tecnicamente possibile e l’indirizzo completo non viene mai memorizzato.</p>
        <figure>
          <table>
            <thead>
              <tr>
                <td><strong>NOME DEL COOKIE</strong></td>
                <td><strong>DESCRIZIONE</strong></td>
                <td><strong>TIPOLOGIA</strong></td>
                <td><strong>DURATA</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>_ga</td>
                <td>Utilizzato da Google Analytics per generare dati statistici in forma anonima su come il visitatore utilizza il Sito.</td>
                <td>HTTP Cookie</td>
                <td>2 anni</td>
              </tr>
              <tr>
                <td>_gid</td>
                <td>Utilizzato da Google Analytics per distinguere in modo univoco gli utenti.</td>
                <td>HTTP Cookie</td>
                <td>1 giorno</td>
              </tr>
              <tr>
                <td>_gat_gtag_UA#</td>
                <td></td>
                <td>HTTP Cookie</td>
                <td>10 minuti</td>
              </tr>
            </tbody>
          </table>
        </figure>
        <p>Per maggiori informazioni sull’utilizzo dei cookie da parte di Google Analytics l’utente può <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" rel="noopener nofollow">consultare l’articolo dedicato</a> (in inglese); l’utilizzo dei cookie da parte dei servizi Google viene descritto in modo più generico nell’informativa disponibile a <a href="https://policies.google.com/technologies/cookies?hl=it#types-of-cookies" rel="noopener nofollow">questo indirizzo</a>. </p>
        <p>I cookies di Google Analytics possono essere specificamente rifiutati per tutti i siti visitati utilizzando <a href="https://tools.google.com/dlpage/gaoptout/" rel="noopener nofollow">l'appoSito strumento fornito da Google.</a></p>
        <h4>Cookies tecnici di terze parti</h4>
        <p><b>Video di YouTube</b></p>
        <p>Questo Sito incorpora video di YouTube in modalità di privacy avanzata: vengono installati unicamente cookies tecnici, e l’installazione avviene solo nel momento in cui l’utente avvia il video. Non è tecnicamente possibile per il Titolare consentire la visione di tali video senza l’installazione dei cookies tecnici da parte di YouTube; l’utente può disabilitare l’installazione dei cookies di YouTube agendo direttamente sulle impostazioni del browser.</p>
        <p>Per maggiori informazioni sul tipo di cookies tecnici installati da YouTube è possibile consultare l’apposita <a href="https://policies.google.com/technologies/cookies?hl=it#types-of-cookies" rel="noopener nofollow">informativa sul trattamento dei dati personali dei servizi Google.</a></p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data m-bottom--medium">
          <div class="big-data__kicker">
            La Provincia in numeri
          </div>
          <div class="big-data__item">
            <span class="big-data__number">75</span> Opere, attive nel campo sociale, nella cultura, coi giovani, nelle scuole e negli esercizi spirituali
          </div>
          <div class="big-data__item">
            <span class="big-data__number">45</span> Gesuiti in formazione
          </div>
        </div>
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
