---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'risorse' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Risorse
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <span>Risorse</span>
    </div>
  </header>

  {% include 'partials/sections/_video-dashboard.njk' %}

  <section class="audio-dashboard-section section section--white p-top--mini p-bottom--medium p-left--huge p-right--huge">
    <h2 class="h2">Audio</h2>
    {% include 'partials/sections/_audio-dashboard.njk' %}
  </section>

  <section class="resources-documents container p-bottom--medium p-top--small">
    {% include 'partials/sections/_documents-carousel.njk' %}
  </section>

  <section class="resources-decrees p-top--small p-bottom--medium container">
    <h2 class="h4 text--center">Decreti delle Congregazioni Generali</h2>
    <div class="row p-top--mini">
      <div class="col-xl-3 col-m-4 col-xs-6 col-12">
        <div class="topic topic--small">
          <div class="topic__wrapper">
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Congregazione Generale 34</div>
              </header>
              <p class="topic__text">1995</p>
              <div class="topic__btn">
                <a href="#">Scarica .pdf</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-m-4 col-xs-6 col-12">
        <div class="topic topic--small">
          <div class="topic__wrapper">
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Congregazione Generale 35</div>
              </header>
              <p class="topic__text">2008</p>
              <div class="topic__btn">
                <a href="#">Scarica .pdf</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-m-4 col-xs-6 col-12">
        <div class="topic topic--small">
          <div class="topic__wrapper">
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__title">Congregazione Generale 36</div>
              </header>
              <p class="topic__text">2016</p>
              <div class="topic__btn">
                <a href="#">Scarica .pdf</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text--center">
      <a href="archivio-decreti/" class="special-link special-link--small">Consulta i testi dei decreti sul sito</a>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      <div class="special special--half">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Ritrovare il primo amore</div>
              <h2 class="special__title">
                <a href="https://d1c233nw6edifh.cloudfront.net/wp-content/uploads/sites/11/2018/07/PIANO%20APOSTOLICO%20PROVINCIA%20EUM.pdf">Piano apostolico della Provincia</a>
              </h2>
              <p class="special__text">Il Piano apostolico definisce 4 obiettivi su cui la Provincia Euro-Mediterranea investirà le sue energie e organizzerà il proprio agire nei prossimi anni.</p>
              <div class="special__btn">
                <a href="https://d1c233nw6edifh.cloudfront.net/wp-content/uploads/sites/11/2018/07/PIANO%20APOSTOLICO%20PROVINCIA%20EUM.pdf">Scarica il documento</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/ignatius-loyola-shoes.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_readings-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
