---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'sociale' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Sociale
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="cosa-facciamo/">Cosa facciamo</a>
      <span>Sociale</span>
    </div>
  </header>

  <section class="container p-bottom--large">
    <div class="featured">
      <div class="featured__content">
        <h2 class="featured__title">Accanto agli ultimi</h2>
        <div class="featured__bottom">
          <div class="featured__text">
            <p>Con poveri ed emarginati, in chiave educativa, favorendo nella persona accolta la riappropriazione della sua dignità, autonomia e responsabilità, per una nuova progettazione del singolo e della comunità, anche a livello politico, economico e legislativo.</p>
          </div>
        </div>
      </div>
      <div class="featured__image">
        <img src="/img/activities/sociale.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--medium p-top--medium">
    <div class="container">
      <div class="row">
        <div class="col-12 col-m-7">
          <h2 class="h2">Jesuit Social Network</h2>
          <p class="text text--lead">Fondato nel 2004 riunisce 39 realtà che si occupano di sociale: associazioni, gruppi, cooperative, centri di formazione, centri di studio e ricerca. L'interazione di questi ambiti diversi - cultura, ricerca e lavoro sul campo - consente una vitalità e una ricchezza che alimenta percorsi e soluzioni nuove in contesti complessi e di frontiera.</p>
          <a href="https://jsn.it/" class="special-link">Visita il sito del JSN</a>
        </div>
        <div class="col-12 col-m-4" style="margin-left: auto;">
          <img class="m-top--mini" src="/img/jsn-astalli.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
