---
layout: base
---
{% set current_item = 'spiritualita-ignaziana' %}
{% set story = stories | random %}

  <header class="template-header container">
    <h1 class="template-header__title">
      La spiritualità ignaziana
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <span>Spiritualità ignaziana</span>
    </div>
  </header>

  <section class="container p-bottom--small">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Alla sua sequela</h2>
        <p>Compagni di Gesù, ovvero suoi amici. Alla base di tutto non un’idea o un concetto. Neppure un ideale. Bensì un’intima relazione con Lui, dove scopri giorno per giorno che di Lui ti puoi fidare e che Lui si fida di te, perché ti conosce per quello che sei. Da questo “sentire” interiore nasce la nostra vocazione a essere compagni di Gesù.</p>
        <p>Gli Esercizi Spirituali sono il nostro modo di incontrare il risorto:</p>
        <a href="https://cis.gesuiti.it/" class="special-link special-link--small">Guarda il calendario dei corsi</a>
        <h2>Dove Lui ci porta</h2>
        <p>Amici del Signore, amici dei poveri. Il Cristo che porta la Croce ci mette in contatto con ogni genere di sete che affligge l’umanità. E ci fa riconoscere che quel bisogno sta anche dentro di noi. La povertà, in ogni sua declinazione, genera violenza contro la dignità umana. Ignazio e i primi compagni sentirono l’urgenza di raggiungere gli ultimi e gli esclusi alle frontiere come pure al centro della società. Ancora oggi cerchiamo di guardare il mondo dalla prospettiva dei poveri e degli emarginati, imparando da loro e agendo per loro e con loro.</p>
        <p><a href="sociale/" class="special-link special-link--small">Scopri cosa facciamo insieme agli ultimi</a></p>
        <h2>Liberi come il vento</h2>
        <p>La relazione con il Signore ci rende liberi. Liberi di uscire da noi stessi e andare incontro agli altri. Liberi di giocarci fino in fondo, senza risparmiarci. Liberi anche di sbagliare. Perché l’amore rimane e persevera. Questa è l’esperienza che noi viviamo con Lui, continuamente avvolti dal suo perdono, anche quando gli voltiamo le spalle. Questo è il modo in cui cerchiamo di porci di fronte alle persone. Liberi, non di fare ciò che vogliamo, liberi di amare. Sì, come Lui ci ama.</p>
        <p>Il cammino di Ignazio per diventare un uomo libero contiene gli elementi della spiritualità dei gesuiti.</p>
        <a href="storia-di-ignazio/" class="special-link special-link--small">Leggi la storia di Ignazio</a>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_ignatius-founder-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_readings-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
