---
layout: base
---
{% set current_parent = 'chi-siamo' %}
{% set current_item = 'storia-della-compagnia' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Storia della Compagnia di Gesù
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <span>Storia della Compagnia di Gesù</span>
    </div>
  </header>

  <section class="container eum-styled-content">
    <div class="row">
      <div class="col-12 col-xl-8 eum-styled-content">
        <h2>Un fuoco che accende altri fuochi</h2>
        <p class="text--lead">Nel 1540 Sant'Ignazio di Loyola fondò la Compagnia di Gesù insieme a un energico gruppo di compagni; il loro obiettivo era aiutare le persone a trovare Dio nella propria vita e a riconciliarsi con Dio, con sé stessi, con il prossimo e con il creato.</p>
        <p class="text--lead">I gesuiti avrebbero dovuto viaggiare come missionari, predicando e amministrando i sacramenti ovunque ci fosse speranza di portare un bene più grande. Fin dalla sua fondazione l'Ordine è cresciuto, e oggi conta più di 16.000 gesuiti nel mondo.</p>
      </div>
    </div>
  </section>

  <section class="history-carousel-section">
    {% set events = historyEvents %}
    {% include 'partials/sections/_history-carousel.njk' %}
  </section>

  <section class="section p-bottom--large p-top--huge">
    <div class="container">
      <div class="special special--half">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Ignazio di Loyola</div>
              <h2 class="special__title">Storia di un pellegrino</h2>
              <p class="special__text">A 30 anni Ignazio era un cavaliere della Corte Reale di Spagna. Nella primavera del 1521 una ferita in battaglia cambiò tutto.</p>
              <div class="special__btn">
                <a href="storia-di-ignazio/">Scopri la storia di Ignazio</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/ignatius-loyola-story-flip.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--medium">
    <div class="container">
      {% include 'partials/sections/_province-archive.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_readings-carousel.njk' %}
  </section>

