---
layout: base
---
{% set current_parent = 'diventare-gesuita' %}
{% set current_item = 'storie-di-vocazione' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Storie di vocazione
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <a href="/diventare-gesuita/">Diventare gesuita</a>
      <span>Storie di vocazione</span>
    </div>
  </header>

  <section class="container container--no-overflow p-top--mini p-bottom--medium">
    <div class="row">
      <div class="col-12 col-xl-8 eum-styled-content">
        <h2>Esperienze spirituali indimenticabili</h2>
        <p class="text text--lead">Ogni storia è singolare, originale, riletta con sfumature personali. Tutte hanno in comune un incontro straordinario che ha cambiato la vita.</p>
      </div>
    </div>
    <div class="row row--extra-gutter p-top--small">
      {% for story in stories %}
        <article class="article col-12 col-s-6 col-xl-4">
          <div class="article__image article__image--1-1">
            <a href="dettaglio-storia/">
              {% if story.image %}
                <img src="/img/stories/{{story.image}}">
              {% else %}
                <img src="https://via.placeholder.com/660x440/?text=Jesuit+pic">
              {% endif %}
            </a>
          </div>
          <div class="article__meta">
            <div class="article__kicker">
              {{ story.author }}
            </div>
          </div>
          <h2 class="article__title article__title--small">
            <a href="dettaglio-storia/">{{ story.title }}</a>
          </h2>
          <div class="article__text">
            {% if story.summary %}
              {{ story.summary | striptags( true ) }}
            {% else %}
              {{ story.content | striptags( true ) | truncate( 180 ) }}
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include "partials/sections/_readings-carousel.njk" %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include "partials/sections/_news-dashboard.njk" %}
  </section>