---
layout: base
---
{% set current_parent = 'chi-siamo' %}
{% set current_item = 'storia-di-ignazio' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Storia di un pellegrino
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti</a>
      <a href="la-provincia-euro-mediterranea/">Chi siamo</a>
      <span>Storia di un pellegrino</span>
    </div>
  </header>

  <section class="container eum-styled-content">
    <div class="row">
      <div class="col-12 col-xl-8 eum-styled-content">
        <h2>Ignazio di Loyola</h2>
        <p class="text text--lead">A 30 anni Ignazio era un cavaliere della Corte Reale di Spagna. Successo, fama e onori i valori della sua vita. Poi durante l'assedio di Pamplona una palla di cannone lo ferisce gravemente ad una gamba. Subisce due operazioni a cui segue una lunga convalescenza che lo costringe a mettere ordine nella sua vita e, con un nuovo sguardo, percorrere strade nuove.</p>
      </div>
    </div>
  </section>

  <section class="history-carousel-section history-carousel-section--ignatius">
    {% set events = ignatius %}
    {% include 'partials/sections/_history-carousel.njk' %}
    <div class="history-carousel-section__link invert text--center">
      <a href="/dettaglio-lettura/" class="special-link special-link--small">Leggi l'autobiografia di Ignazio</a>
    </div>
  </section>

  <section class="ignatius-video p-bottom--large p-top--large">
    <div class="container">
        <div class="row row--center">
          <div class="col--center col-12 col-l-8 invert" style="margin-left: auto; margin-right: auto;">
            <h3 class="h2 text--center">Trovare Dio in tutte le cose</h3>
            <div class="  " style="border: 2px solid var(--text-color);">
            {% youtube "Oeq8p687RIY" %}
            </div>
          </div>
          <!-- <div class="col-12 text--center">
             <a href="/dettaglio-lettura/" class="special-link special-link--small">Leggi l'autobiografia di Ignazio</a>
          </div>-->
        </div>
      </div>
  </section>

  <section class="section p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-history-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_readings-carousel.njk' %}
  </section>

