---
layout: base
---
{% set current_parent = 'cosa-facciamo' %}
{% set current_item = 'risorse' %}
  <header class="template-header container">
    <h1 class="template-header__title">
      Le tappe della formazione
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="/diventare-gesuita/">Diventare gesuita</a>
      <span>La nostra formazione</span>
    </div>
  </header>

  <section class="p-bottom--medium">
    <div class="container">
      <div class="row">
        <div class="col-12 col-m-7 eum-styled-content">
          <p class="text text--lead">
          La formazione di un gesuita è costituita da diverse tappe e nell’insieme può durare fino a 20 anni</p>
          <p class="text text--lead">Dall’ingresso in Noviziato inizia un percorso in cui si alternano fasi di studio e di attività apostolica; in questo cammino si inseriscono i voti, primi e ultimi, e le ordinazioni, diaconale e sacerdotale.</p>
          </p>
        </div>
        <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data">
          <div class="big-data__kicker">
            Dal noviziato agli ultimi voti
          </div>
          <div class="big-data__item">
            <span class="big-data__number">2</span> anni di noviziato
          </div>
          <div class="big-data__item">
            <span class="big-data__number">7-10</span> anni di studio accademico
          </div>
          <div class="big-data__item">
            <span class="big-data__number">4-7</span> anni di attività pastorale
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="p-bottom--medium">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img class="hide-on-m" src="/img/tappe-formazione-gesuita-vert.jpg">
          <img class="block-on-m" src="/img/tappe-formazione-gesuita.jpg">
        </div>
      </div>
    </div>
  </section>

  <section class="p-bottom--small">
    <div class="container">
      <div class="row">
        <div class="col-12 col-m-7 eum-styled-content eum-styled-content--smaller-headings">
          <h2>Noviziato</h2>
          <p>Sono i primi due anni di vita del gesuita, ed hanno lo scopo di aiutare il novizio (questo è il nome di chi vive questa tappa) a conoscere sempre meglio la Compagnia, a confermare la sua vocazione e a scegliere se proseguire come <strong>scolastico</strong> o come <strong>fratello</strong>. In questi passi si è aiutati sia dallo studio dei testi fondamentali della Compagnia, sia da alcune esperienze forti tra cui il mese di Esercizi Spirituali, il servizio in ospedale, la vita comunitaria e il pellegrinaggio in povertà.</p>
          <p>Alla fine di questi due anni si fanno i <a href="/vivere-i-voti/">voti semplici</a> di povertà, castità e obbedienza, con i quali ci si impegna in modo perpetuo a vivere come gesuiti.</p>
          <h2>Filosofato</h2>
          <p>Nella tappa del filosofato gli scolastici si dedicano agli studi di filosofia. Coloro che entrano come fratelli possono fare studi speciali (compresi quelli filosofici, se si ritengono opportuni per la loro futura missione). Tutti continuano a sperimentarsi nella vita di comunità, mantenendo un ritmo di preghiera tipico del nostro stile, e dedicandosi ad un servizio apostolico settimanale.</p>
          <p>È il tempo in cui imparare a tenere insieme con equilibrio queste dimensioni fondamentali tipiche cella vita di ogni gesuita.</p>
          <h2>Magistero</h2>
          <p>Normalmente in questa tappa si interrompono gli studi per essere inviati in una realtà pastorale, dove il gesuita in formazione è dedicato interamente al servizio. Le possibilità sono molte: centri di pastorale giovanile, scuole, lavoro con i rifugiati, case di esercizi spirituali e altre possibilità ancora, anche fuori dal proprio paese di origine.</p>
          <p>Diventa l’occasione per mettersi alla prova e iniziare a proiettarsi nel futuro.
          </p>
          <h2>Teologia</h2>
          <p>Lo studio della teologia dura almeno cinque anni, ed è diviso in due tappe, un ciclo base e un ciclo di specializzazione. È frequente fare almeno una tappa di studi all’estero. Si continua a vivere in una comunità e si svolge un servizio apostolico.  
          Alla fine del quarto anno gli scolastici vengono ordinati sacerdoti.</p>
          <h2>Prima missione</h2>
          <p>Finiti gli studi si riceve la prima destinazione e si viene inseriti una comunità di gesuiti che si dedicano a tempo pieno all’apostolato. Così, sia i sacerdoti che i fratelli, iniziano a ricevere delle responsabilità adeguate nelle opere apostoliche della Compagnia, a servizio della missione affidata.</p>
          <h2>Terz'Anno di probazione</h2>
          <p>Finito il Terz’Anno e tornati alla quotidianità operosa, dopo un periodo di qualche anno, si emettono gli ultimi voti attraverso cui si viene incorporati definitivamente nella Compagnia di Gesù. Sono i voti solenni di povertà, castità e obbedienza e, per alcuni, il quarto voto di particolare obbedienza al Papa.</p>
          <h2>Ultimi Voti</h2>
          <p>Qualche tempo dopo il Terz'Anno, la Compagnia invita il gesuita a unirsi "definitivamente" ad essa. Questo è il momento di pronunciare gli Ultimi Voti, che segnano l’incorporazione definitiva del gesuita nella Compagnia di Gesù. Oltre ai tre voti di povertà castità e obbedienza, alcuni emettono il quarto voto di particolare obbedienza al Papa circa le missioni.</p>
        </div>
        <div class="col-12 col-m-4" style="margin-left: auto;">
          <h2 class="h4">Testimonianze</h2>
          {% for story in formationNews %}
          <div class="m-bottom--medium">
            <article class="article">
              <figure class="article__image">
                <a href="{{ story.link }}">
                  {{ story._embedded["wp:featuredmedia"][0].media_details.file | dump }}
                    {% if story._embedded["wp:featuredmedia"][0].media_details.sizes["landscape-4"].source_url %}
                      <img src="{{ story._embedded["wp:featuredmedia"][0].media_details.sizes["landscape-4"].source_url }}">
                    {% else %}
                      <img src="https://via.placeholder.com/660x440/?text=Immagine">
                    {% endif %}
                </a>
              </figure>
              <h2 class="article__title">
                <a href="{{ story.link }}">{{ story.title.rendered }}</a>
              </h2>
            </article>
          </div>
          {% endfor %}
      </div>
      </div>
    </div>
  </section>

  {% include 'partials/sections/_formation-video-dashboard.njk' %}

  <!--
    <section class="home-stories container p-top--medium p-bottom--medium">
    <div class="row">
      <div class="col-xl-5 col-l-6 col-m-9 col-s-10 col-12" style="margin: 0 auto; text-align: center">
        <h2 class="h3">Storie di vocazione</h2>
        <p class="text text--lead">Ogni storia è singolare, originale, riletta con sfumature personali. Tutte hanno in comune un incontro straordinario che ha cambiato la vita.</p>
      </div>
    </div>
    {% include 'partials/sections/_vocation-stories-carousel-large.njk' %}
    <div class="text--center p-top--mini">
      <a class="btn btn--ghost" href="storie-di-vocazione/">Leggi tutte le storie <svg class="icon" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><polyline points='268 112 412 256 268 400' style='fill:none;stroke:currentColor; stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg></a>
    </div>
  </section>
  -->

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_vocation-stories-carousel.njk' %}
  </section>


  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>