---
layout: base
---
{% set current_parent = 'tutela' %}
{% set current_item = 'tutela' %}
  <header class="template-header container">
    <h1 class="template-header__title">
    Tutela dei minori e delle persone vulnerabili
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <span>Tutela</span>
    </div>
  </header>

  <section class="container p-bottom--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <p class="text--lead">I gesuiti e i collaboratori della Provincia Euro-Mediterranea sono impegnati nella protezione e cura dei minori e delle persone vulnerabili e nella prevenzione degli abusi.</p>
        <p class="text--lead">Se sei stato vittima di abusi, o qualcuno che conosci lo è stato, ti invitiamo ad entrare in contatto con il Delegato per la tutela, chiamando il numero +39 06 69700213 o inviando una mail a tutela@gesuiti.it. Ti garantiamo ascolto nella massima riservatezza.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="tertiary--lighten-5 p-bottom--small p-top--mini p-left--small p-right--small eum-styled-content">
          <h4>Contatti</h4>
          <p>Delegato per la tutela dei minori e delle persone vulnerabili:</p>
          <!--
          <p><b>Paul Pace SJ</b><br>
          tutela@gesuiti.it<br>
          +39 06 69700213
          </p>
          -->
          <div class="wp-block-media-text contact-card m-top--small" style="grid-template-columns:28% auto">
            <figure class="wp-block-media-text__media">
              <img src="/img/bloggers/paul-pace-1.jpg">
            </figure>
            <div class="wp-block-media-text__content">
              <p class="text"><strong>Paul Pace SJ</strong><br>tutela@gesuiti.it<br>+39 06 69700213<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium">
    <div class="carousel carousel--special">
        <div class="carousel__title h4">News</div>
        <div class="carousel__slider">
        {% for article in news %}
          {% if ( loop.index < 12 ) %}
            <article class="article{% if article.hasVideo %} has-video{% endif %} carousel__slide">
              <figure class="article__image">
                <a href="/dettaglio-news/">
                  <img src="{{article.image}}">
                </a>
              </figure>
              <div class="article__meta">
                <span class="article__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
                </span>
                <div class="article__kicker">
                  <a href="dettaglio-categoria/">Tutela</a>
                </div>
                <time class="article__date">11.10.2018</time>
              </div>
              <h2 class="article__title">
                <a href="/dettaglio-news/">{{ article.title | safe }}</a>
              </h2>
              <div class="article__text">
                {{ article.excerpt | striptags | safe | truncate(95) }} <a href="/dettaglio-news/">Continua a leggere</a>
              </div>
            </article>
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </section>

  <!--
  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      <div class="special special--half">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Come viviamo i voti</div>
              <h2 class="special__title">Obbedienza, castità e povertà</h2>
              <p class="special__text">Ogni membro, sacerdote o fratello che sia, è chiamato a onorare i tre voti di povertà, castità e obbedienza. Tre chiavi fondamentali per comprendere il nostro rapporto con il mondo.</p>
              <div class="special__btn">
                <a href="vivere-i-voti/">Il nostro modo di vivere i voti</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/vivere-i-voti-2.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  -->

  <!--
  <section class="container p-top--medium">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content">
        <h2>Comunicato</h2>
        <p class="text text--lead">Ogni essere umano fa esperienza di essere chiamato dal Signore. Scopri come riconoscere la tua vocazione.</p>
        <h3>Chiamato alla vita</h3>
        <p>Il Signore parla continuamente al tuo cuore e lo infiamma di entusiasmo per il mondo. Il primo segno che indica un cuore toccato dalla grazia di Dio è l’apertura alla vita. Ti accorgi che la tua vita non è solo un fatto biologico, bensì un atto d’amore, un gesto fatto unicamente per te.</p>
        <p>Scopri che tu esisti perché sei creato per essere amato e per amare. L’unico destino già scritto è questo. Quando questa consapevolezza ti raggiunge, cambia il tuo sguardo su te e sul mondo. Ti accorgi che vai bene così come sei e che ogni persona intorno a te diventa degna di essere amata. E non puoi più rimanere indifferente al grido di aiuto dell’umanità.</p>
        <h3>Chiamato lì dove sei più fragile</h3>
        <p>Il peccato consiste nel vivere come se non fossi figlio, ma semplicemente un essere gettato nel mondo, a caso. Ci sono molti motivi che ti inducono a sentirti lontano da Dio: le circostanze della vita, le cose che capitano, le relazioni che non funzionano. Ti senti solo, indifeso, inadeguato, indegno. Il peccato è una ferita aperta che ti spinge a chiuderti in te stesso, a recuperare un briciolo di dignità giudicando gli altri, a perdere la fiducia e la speranza che le cose possano cambiare. E se vivi nella diffidenza, dovendoti continuamente difendere, come puoi pensare di essere libero?</p>
        <h3>Chiamato con un nome di grazia</h3>
        <p>È proprio lì che il Signore viene a cercarti. Il tuo peccato diventa il luogo privilegiato per conoscere il suo amore nella sua forma più alta: il perdono. Quando hai il coraggio e l’umiltà di riconoscere il tuo peccato, tocchi con mano la tua umanità: essere “uomo” vuol dire innanzitutto essere amato sempre, anche quando sbagli. E, contemporaneamente, conosci il vero volto di Dio.</p>
        <p>In quel momento, la parola che Dio pronuncia sulla tua vita non è un giudizio, ma il tuo nome di grazia. Il tuo nome di grazia esprime la volontà di Dio su di te, il suo modo di guardarti, il tuo modo di essere amore nel mondo a nome suo.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <p>Barra laterale con dati contatto Grazia?</p>
    </div>
  </section>
  -->

  <!--
  <section class="p-bottom--medium p-top--huge">
    <div class="container">
      <div class="special special--offset special--white">
        <div class="special__wrapper">
          <div class="special__content">
            <div class="special__content-inner">
              <div class="special__kicker">Diventare gesuita</div>
              <h2 class="special__title"><a href="/diventare-gesuita/">I passi da fare</a></h2>
              <p class="special__text">Se pensi che la Compagnia sia una strada possibile, ecco alcune indicazioni utili per il discernimento.</p>
              <div class="special__btn">
                <a href="i-passi-da-fare/">Scopri le tappe per diventare gesuita</a>
              </div>
            </div>
          </div>
          <figure class="special__image">
            <img src="/img/cammino.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  -->

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>
