---
layout: base
---
{% set current_parent = 'diventare-gesuita' %}
{% set current_item = 'vivere-i-voti' %}

  <header class="template-header container">
    <h1 class="template-header__title">
      Come viviamo i voti
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Gesuiti
      </a>
      <a href="/diventare-gesuita/">Diventare gesuita</a>
      <span>Come viviamo i voti</span>
    </div>
  </header>

  <section class="container p-top--small">
    <div class="row">
      <div class="col-12 col-m-7 eum-styled-content eum-styled-content--smaller-headings">
        <p class="text text--lead">Ogni gesuita, sacerdote o fratello che sia, è chiamato a onorare i tre voti di povertà, castità e obbedienza. Tre chiavi fondamentali per comprendere il nostro rapporto con il mondo.</p>
        <h2>Obbedienza</h2>
        <p>Con il voto di obbedienza ci si affida al corpo della Compagnia. Contro ogni illusione di autodeterminazione, non sono più io quindi a scegliere cosa e dove svolgere il mio servizio, ma mi metto nelle mani di altri.</p>
        <p>Per farlo è necessario crescere nella libertà e nella fiducia, riconoscendo che lo Spirito è colui che veramente guida le nostre azioni e attraverso l’obbedienza ci aiuta a scoprire chi siamo.</p>
        <h2>Castità</h2>
        <p>Con il voto di castità camminiamo per essere più liberi nelle relazioni con chi abbiamo accanto. Non si tratta solo di astinenza sessuale fisica, ma di una reale libertà interiore che ci permette di aiutare le persone a trovare ciò che è meglio per loro, senza cadere nella tentazione del controllo.</p>
        <p>È il fondamento della gratuità del servizio che ci fa capaci di provare affetto per l’altro senza possederlo, e aiutare le persone a cui siamo inviati a sentirsi amati come il Padre ama.</p>
        <h2>Ordinare le esigenze: povertà</h2>
        <p>Con il voto di povertà ci rendiamo liberi dal possesso dei mezzi a nostra disposizione e più capaci di vedere, in modo trasparente, le persone a cui siamo inviati come figli del Padre con i quali condividere ciò che siamo.</p>
        <p>Non disporre di cose proprie ci permette di non essere legati e frenati nel ministero. La sobrietà di vita che ne emerge ci concede di rimanere fratelli di tutti.</p>
      </div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        {% include 'partials/sidebars/_random-vocation-story-sidebar.njk' %}
      </div>
    </div>
  </section>

  <section class="section section--white p-bottom--large p-top--huge">
    <div class="container">
      {% include 'partials/sections/_society-special.njk' %}
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_vocation-stories-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_activities-carousel.njk' %}
  </section>

  <section class="container p-bottom--medium p-top--medium">
    {% include 'partials/sections/_news-dashboard.njk' %}
  </section>