/*
@mixin responsive-media-wrapper( $ratio_w: 3, $ratio_h: 2 ) {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: percentage($ratio_h / $ratio_w);
  }

  a {
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
  }

  img,
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: none;
    transform: translateX(-50%);
  }

  @supports (object-fit:cover) {
    img,
    iframe {
      width: 100%;
      height: 100%;
      left: 0;
      transform: none;
      object-fit: cover;
    }
  }
} */

@mixin heading($level: 1) {
  $heading: map-get($headings, h#{$level});
  $mobile-props: nth($heading, 1);
  $props: nth($heading, 2);

  font-family: $serif;
  hanging-punctuation: first last;
  font-size: #{nth($mobile-props, 1) + 'rem'};
  line-height: #{nth($mobile-props, 2) + 'rem'};

  @include media(">=m") {
    font-size: #{nth($props, 1) + 'rem'};
    line-height: #{nth($props, 2) + 'rem'};
  }

  @if ($level>=5) {
    @include media("<m") {
      font-weight: 600;

      b,
      strong {
        font-weight: 700;
      }
    }
  }
}

@mixin border-left($color: $secondary) {

  @include distance('padding-top', 'mini');
  @include distance('padding-bottom', 'mini');

  padding-left: 20px;
  border-left: 6px solid $color;
}

//Rimuovere article-kicker nel framework
@mixin item-kicker( $color: $secondary ) {
  display: inline-block;
  font-family: $mono;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $color;
}

//Size h1 like h2, h2 like h3, etc.: includes margins
@mixin smaller-headings() {
  @for $i from 1 through 5 {
    $level: $i + 1;
    $heading: map-get($headings, h#{$level});
    $mobile-props: nth($heading, 1);
    $props: nth($heading, 2);

    h#{$i},
    .h#{$i} {
      @include typoscale(nth($heading, 1)...);

      @include media(">=m") {
        @include typoscale(nth($heading, 2)...);
      }
    }
  }
}
