//$font-path: '../fonts/';

// Libraries
//@import "system/fonts";
@import "flickity/css/flickity";

// TO BE @jesuits-eum\config
@import "jesuits-eum-framework/src/assets/scss/libs/include-media";
@import "jesuits-eum-framework/src/assets/scss/config/config";
@import "jesuits-eum-framework/src/assets/scss/config/mixins";
@import "jesuits-eum-framework/src/assets/scss/config/colors";
@import "jesuits-eum-framework/src/assets/scss/config/typography";
//Da aggiornare direttamente nel framework
@import "mixins";

$text-white: sass-whiten($eum-primary, 5);
$text-white-hover: sass-whiten($eum-primary, 3);

//System
@import "system/eum-header";
@import "system/main-header";
@import "system/text-size";
@import "system/dark-theme";
@import "system/page-settings";

//Components
@import "components/donation-box";
@import "components/klaro";
@import "components/linear-progress";
@import "components/media-dashboard";
@import "components/share";
@import "components/youtube-player";

// Items
@import "items/article";
@import "items/contact-card";
@import "items/decree";
@import "items/history-slide";
@import "items/history-event";
@import "items/partner";
//@import "items/special";
@import "items/topic";

// Sections
@import "sections/intro";
@import "sections/audio-dashboard";
@import "sections/carousel";
@import "sections/donations";
@import "sections/special";
@import "sections/section";
//@import "sections/stories-carousel";
@import "sections/history-carousel";
@import "sections/home-stories";
@import "sections/home-vocations";
@import "sections/news-dashboard";
@import "sections/news-dynamic-grid";
@import "sections/news-media";
@import "sections/topic-grid";
@import "sections/video-dashboard";
@import "sections/works";

// Templates
@import "templates/decree-archive";
@import "templates/leadership";
@import "templates/resources";

body {
  background-color: #f5f7fa;
}

.eum-styled-content {
  .special-link {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $text-color;
    }
  }

  &--smaller-headings {
    @include smaller-headings();
  }
}

.special--ignatian-year {
  --tertiary-light-5: #004040;
}
