{% set current_parent = current_parent | default('none') %}
{% set current_item = current_item | default('none') %}
{% macro youtube(id) %}
<div class="youtube-player js-youtube-player">
  <img src="https://img.youtube.com/vi/{{id}}/mqdefault.jpg" loading="lazy">
  <iframe type="text-html" width="640" height="390" data-src="https://www.youtube-nocookie.com/embed/{{id}}?autoplay=1&enablejsapi=1&origin=http://example.com" frameborder="0"></iframe>
</div>
{% endmacro %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex,nofollow">
    <title>{{current_item}} | EUM Website Templates</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Cinzel:400|EB+Garamond:400,400i,500,500i,600,600i,700,700i|Roboto+Mono:400,500|Rubik:300,300i,400,400i,500,500i" rel="stylesheet">-->
    <link rel="stylesheet" href="assets/lib/jesuits-eum-framework.css">
    <link rel="stylesheet" href="assets/lib/jesuits-templates.css">
    <link rel="stylesheet" href="assets/css/eum-province-templates.css">
    <script type="text/javascript">
      if ( typeof localStorage !== 'undefined') {
        var textSize = localStorage.getItem('text-size');
        var colorTheme = localStorage.getItem('color-theme');
        if (textSize !== 'null') { document.getElementsByTagName('html')[0].classList.add('is-text-' + textSize); }
        if (colorTheme == 'dark') { document.getElementsByTagName('html')[0].classList.add('is-theme-dark'); }
      }
    </script>
    <!--<script defer src="assets/js/klaroConfig.js"></script>-->
    <script src="assets/lib/flickity.pkgd.min.js"></script>
    <script defer="defer" src="assets/lib/jesuits-eum-framework.dist.js"></script>
    <script defer="defer" src="assets/js/eumProvince.dist.js"></script>
    <script defer type="text/plain"
      data-type="text/javascript"
      data-name="google-analytics">
      console.log('Google analytics code is firing from the inline script');
    </script>
  </head>
  <body>
    {% include 'partials/_logo.njk' %}
    {% block menu %}
    {% endblock %}
    {% include 'partials/_eum-header.njk' %}
    {% include 'partials/_main-header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    {% include 'partials/_main-footer.njk' %}
    {% include 'partials/_eum-footer.njk' %}
    <button class="scroll-top" id="scroll-to-top" role="button" aria-label="Scroll to the top of the page" style="display: block; opacity: 1; visibility: inherit;">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M412.6 227.1L278.6 89c-5.8-6-13.7-9-22.4-9h-.4c-8.7 0-16.6 3-22.4 9l-134 138.1c-12.5 12-12.5 31.3 0 43.2 12.5 11.9 32.7 11.9 45.2 0l79.4-83v214c0 16.9 14.3 30.6 32 30.6 18 0 32-13.7 32-30.6v-214l79.4 83c12.5 11.9 32.7 11.9 45.2 0s12.5-31.2 0-43.2z"></path>
      </svg>
    </button>
  </body>
</html>
