<nav class="eum-header">
    <div class="eum-header__wrapper container">
      <div class="eum-header__left">
        <ul class="secondary-menu flex-on-m">
          {% for item in menu.secondarymenu %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="eum-header__right">
        <div class="eum-header-countries js-dropdown">
          <button class="eum-header-countries__dropdown-trigger js-dropdown-trigger" aria-label="More" aria-haspopup="true" aria-expanded="false">
            Italia
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" stroke-width="2" class="icon"><polyline points="6 9 12 15 18 9"></polyline></svg>
          </button>
          <ul class="eum-header-countries__dropdown js-dropdown-content">
            <li class="eum-header-countries__item">
              <a class="eum-header-countries__link" href="https://albania.gesuiti.it">Albania</a>
            </li>
            <li class="eum-header-countries__item">
              <a class="eum-header-countries__link" href="https://gesuiti.it">Italia</a>
            </li>
            <li class="eum-header-countries__item">
              <a class="eum-header-countries__link" href="https://jesuits.org.mt">Malta</a>
            </li>
            <li class="eum-header-countries__item">
              <a class="eum-header-countries__link" href="http://www.iezuiti.ro">Romania</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
