<div class="eum-footer">
  <div class="eum-footer__container container">
    <div class="eum-footer__columns">
      <div class="eum-footer__column eum-footer__column--brand">
        <a class="eum-footer__brand" href="https://gesuiti.it">
          <svg class="ihs-svg eum-footer__brand-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><use xlink:href="#ihs-svg"></use></svg>
          <span class="eum-footer__brand-title">Gesuiti</span>
        </a>
      </div>
      <div class="eum-footer__column eum-footer__column--activities">
          <div class="eum-footer__title">Attività</div>
          <ul class="eum-footer__menu eum-footer__menu--activities">
            <li><a href="giovani/">Giovani</a></li>
            <li><a href="educazione/">Educazione</a></li>
            <li><a href="preghiera/">Preghiera</a></li>
          </ul>
          <ul class="eum-footer__menu eum-footer__menu--activities">
            <li><a href="sociale">Sociale</a></li>
            <li><a href="missioni/">Missioni</a></li>
            <li><a href="cura-del-creato/">Cura del creato</a></li>
          </ul>
          <ul class="eum-footer__menu eum-footer__menu--activities">
            <li><a href="chiese/">Chiese</a></li>
            <li><a href="cultura/">Cultura</a></li>
            <li><a href="formazione/">Formazione</a></li>
            <li><a href="leadership/">Leadership</a></li>
          </ul>
      </div>
      <div class="eum-footer__column eum-footer__column--jesuits">
          <div class="eum-footer__title">
            Gesuiti            <button class="eum-footer__dropdown-trigger js-main-footer-trigger" aria-label="More" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon--small open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 277.333H277.333V416h-42.666V277.333H96v-42.666h138.667V96h42.666v138.667H416v42.666z"></path></svg>
                <svg class="icon icon--small close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M96 235h320v42H96z"></path></svg>
                <span class="screen-reader-text">Menù di navigazione del footer</span>
            </button>
          </div>
          <div class="eum-footer__mobile-dropdown">
            <div class="eum-footer__subcolumn">
                <ul class="eum-footer__menu">
                  <li><a href="storia-della-compagnia/">Storia dei gesuiti</a></li>
                  <li><a href="spiritualita-ignaziana">Spiritualità ignaziana</a></li>
                  <li><a href="chiese/">Chiese</a></li>
                  <li><a href="contatti/">Contatti</a></li>
                </ul>
                <div class="eum-footer__title eum-footer__title--sub">Risorse</div>
                <ul class="eum-footer__menu">
                  <li><a href="news/">News</a></li>
                  <li><a href="archivio-letture-consigliate/">Letture consigliate</a></li>
                  <li><a href="https://gesuiti.it/download/">Media e documenti</a></li>
                </ul>
            </div>
            <div class="eum-footer__subcolumn">
              <div class="eum-footer__title eum-footer__title--sub">Servizi</div>
              <ul class="eum-footer__menu">
                <li><a href="https://archiviostorico.gesuiti.it/">Archivio Storico</a></li>
                <li><a href="http://www.fondolibrarioantico.it/">Fondo Librario Antico</a></li>
              </ul>
              <div class="eum-footer__title eum-footer__title--sub">Riviste</div>
              <ul class="eum-footer__menu">
                <li><a href="https://www.aggiornamentisociali.it/">Aggiornamenti Sociali</a></li>
                <li><a href="https://www.laciviltacattolica.it/">La Civilità Cattolica</a></li>
                <li><a href="https://www.rassegnaditeologia.it/">Rassegna di Teologia</a></li>
                <li><a href="http://www.pfts.it/ricerca/pubblicazioni/theologica-historica/">Theologica &amp; Historica</a></li>
              </ul>
            </div>
            <div class="eum-footer__subcolumn">
              <div class="eum-footer__title eum-footer__title--sub">Reti</div>
              <ul class="eum-footer__menu">
                <li><a href="https://jsn.gesuiti.it/">Jesuit Social Network</a></li>
                <li><a href="https://educazione.gesuiti.it/">Gesuiti Educazione</a></li>
                <li><a href="https://magis.gesuiti.it/">MAGIS</a></li>
                <li><a href="https://cis.gesuiti.it/">Centro Ignaziano di Spiritualità</a></li>
              </ul>
            </div>
            <div class="eum-footer__subcolumn">
              <div class="eum-footer__title eum-footer__title--sub">Progetti</div>
              <ul class="eum-footer__menu">
                <li><a href="https://getupandwalk.gesuiti.it/">Get Up and Walk</a></li>
                <li><a href="https://www.meg-italia.it/">Movimento Eucaristico Giovanile</a></li>
                <li><a href="http://www.pietre-vive.org/">Pietre Vive</a></li>
                <li><a href="http://gesuiti-selva.it/">Selva di Val Gardena</a></li>
                <li><a href="http://www.settimanebibliche.it/">San Giacomo d'Entracque</a></li>
              </ul>
            </div>
          </div>
          </div>
    </div>
  </div>
  <div class="eum-footer-bar eum-footer-bar--sj-breadcrumbs">
    <div class="eum-footer-bar__container container">
        <div class="eum-footer-bar__wrapper">
          <div class="eum-footer-bar__content">
            <ul class="eum-footer-breadcrumbs">
                <li class="eum-footer-breadcrumbs__org"><a href="https://jesuits.global/">Compagnia di Gesù</a></li>
                <li class="eum-footer-breadcrumbs__org"><a href="https://jesuits.eu/">CEP - Conferenza delle Province Europee</a></li>
                <li class="eum-footer-breadcrumbs__org"><a href="https://gesuiti.it/">Provincia Euro-Mediterranea</a>
                  <ul class="eum-footer-breadcrumbs__countries">
                    <li class="eum-footer-breadcrumbs__country"><a href="https://albania.gesuiti.it">Albania</a></li><li class="eum-footer-breadcrumbs__country eum-footer-breadcrumbs__country--current"><a href="https://gesuiti.it">Italia</a></li><li class="eum-footer-breadcrumbs__country"><a href="https://jesuit.org.mt">Malta</a></li><li class="eum-footer-breadcrumbs__country"><a href="http://iezuiti.ro">Romania</a></li>                  </ul>
                </li>
              </ul>
            </div>
        </div>
    </div>
  </div>
</div>
