<header id="main-header" class="main-header">
      <div class="main-header__wrapper container">
        <div class="main-header__mobile-wrapper">
          <div class="main-header__brand">
            <a href="index/" class="main-header__brand-logo">
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 42 42" class="ihs-svg">
                <use xlink:href="#ihs-svg"></use>
              </svg>
            </a>
            <span class="main-header__brand-title">
              <a href="index/" tabindex="-1">Jesuits</a>
              <br>
              <span class="main-header__brand-subtitle">Society of Jesus - Euro-Mediterranean Province</span>
            </span>
          </div>
          <button class="main-header__mobile-trigger js-main-header-trigger" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="icon icon--medium open">
              <path d="M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="icon icon--medium close">
              <path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path>
            </svg>
            <span class="screen-reader-text">Toggle website menu</span>
          </button>
        </div>
        <div class="main-header__mobile-dropdown">
          <nav class="main-header__menu">
            <ul class="nav">
              {% for item in menu %}
                {% if item.children %}
                  <li class="nav__item nav__item--has-dropdown js-dropdown">
                    <button class="nav__link nav__link--top-level {% if current_item == item.name %} nav__link--current {% endif %} js-dropdown-trigger" aria-haspopup="true" aria-expanded="false">
                      {{ item.name | replace('-', ' ') | capitalize }}
                      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="20" height="20" stroke-width="2" class="icon">
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </button>
                    <ul class="nav__dropdown js-dropdown-content">
                      {% for item in item.children %}
                      <li class="nav__item">
                        <a class="nav__link {% if current_item == item.name %} nav__link--current {% endif %} nav__link--nested" href="{{ item }}/">{{ item | replace('-', ' ') | capitalize }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="nav__item">
                    <a class="nav__link nav__link--top-level{% if current_item == item.name %} nav__link--current {% endif %}" href="{{ item.name }}/">{{ item.name | replace('-', ' ') | capitalize }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </header>
