<header id="main-header" class="main-header js-header-sticky">
  <div class="main-header__wrapper container">
    <div class="main-header__brand">
      <a href="/" class="main-header__brand-logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="ihs-svg"><use xlink:href="#ihs-svg"></use></svg>
      </a>
      <span class="main-header__brand-title">
        <a href="/" tabindex="-1">Gesuiti</a>
        <br>
        <span class="main-header__brand-subtitle">Compagnia di Gesù - Provincia Euro-Mediterranea</span>
      </span>
    </div>
    <div class="main-header__buttons">
      <div class="main-header__page-settings flex-on-xl">
        <div class="text-size-controls" aria-label="Select page text size">
          <input type="radio" id="text-size-small" name="text-size-controls" value="small"/>
          <label class="small" for="text-size-small"><span class="screen-reader-text">Small</span>A</label>
          <input type="radio" id="text-size-default" name="text-size-controls" value="default"/>
          <label class="default" for="text-size-default"><span class="screen-reader-text">Default</span>A</label>
          <input type="radio" id="text-size-large" name="text-size-controls" value="large"/>
          <label class="large" for="text-size-large"><span class="screen-reader-text">Large</span>A</label>
        </div>
        <div class="color-theme-controls">
          <button class="color-theme-toggle js-color-theme-toggle">
            <span class="screen-reader-text">Toggle color theme</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><circle cx="256" cy="256" r="208" style="fill:none;stroke:currentColor;stroke-linejoin:round;stroke-width:32px"/><path style="fill:currentColor;" d="M256,464C141.12,464,48,370.88,48,256S141.12,48,256,48Z"/></svg>
          </button>
        </div>
      </div>
      <div class="main-header__language nav__item nav__item--has-dropdown js-dropdown" href="">
        <button
          class="nav__link nav__link--top-level js-dropdown-trigger"
          aria-haspopup="true"
          aria-expanded="false"
        >
          IT
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" stroke-width="2" class="icon"><polyline points="6 9 12 15 18 9"></polyline></svg>
        </button>
        <ul class="nav__dropdown js-dropdown-content">
          <li class="nav__item">
            <a class="nav__link nav__link--nested" href="#">EN</a>
          </li>
        </ul>
      </div>
      <button class="main-header__search js-search-trigger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke-miterlimit="10" stroke-width="56"/><path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="56" d="M338.29 338.29L448 448"/></svg>
      </button>
      <button class="main-header__mobile-trigger js-main-header-trigger" aria-haspopup="true" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon icon--medium open"><path d="M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon icon--medium close"><path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path></svg>
        <span class="screen-reader-text">Toggle website menu</span>
      </button>
    </div>
  </div>
  <div class="main-header__mobile-wrapper">
    <div class="main-header__mobile-dropdown container">
      <nav class="main-header__menu">
        <ul class="nav">
          {% for item in menu.mainmenu %}
            {% if item.children %}
              <li class="nav__item nav__item--has-dropdown js-dropdown">
                <button class="nav__link nav__link--top-level {% if page.url == item.url %} nav__link--current {% endif %} js-dropdown-trigger" aria-haspopup="true" aria-expanded="false">
                  {{ item.name }}
                  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="20" height="20" stroke-width="2" class="icon">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <ul class="nav__dropdown js-dropdown-content">
                  {% for item in item.children %}
                  <li class="nav__item">
                    <a class="nav__link {% if page.url == item.url %} nav__link--current {% endif %} nav__link--nested" href="{{ item.url }}">{{ item.name }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="nav__item">
                <a class="nav__link nav__link--top-level{% if current_item == item.slug %} nav__link--current {% endif %}" href="{{ item.url }}">{{ item.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="secondary-menu hide-on-m">
          {% for item in secondarymenu %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <div class="main-header__extra-btns">
        <ul class="main-header__social">
            <li class="main-header__social-item">
              <a href="https://www.facebook.com/TheJesuits/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" fill="currentColor"><path d="M480,257.35c0-123.7-100.3-224-224-224s-224,100.3-224,224 c0,111.8,81.9,204.47,189,221.29V322.12h-56.89v-64.77H221v-49.36c0-56.13,33.45-87.16,84.61-87.16c24.51,0,50.15,4.38,50.15,4.38 v55.13h-28.26c-27.81,0-36.51,17.26-36.51,35v42.02h62.12l-9.92,64.77h-52.2v156.53C398.1,461.85,480,369.18,480,257.35L480,257.35z"></path></svg>
              </a>
            </li>
            <li class="main-header__social-item">
              <a href="https://twitter.com/gesuiti">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" fill="currentColor"><path d="M496,109.5a201.8,201.8,0,0,1-56.55,15.3,97.51,97.51,0,0,0,43.33-53.6,197.74,197.74,0,0,1-62.56,23.5A99.14,99.14,0,0,0,348.31,64c-54.42,0-98.46,43.4-98.46,96.9a93.21,93.21,0,0,0,2.54,22.1,280.7,280.7,0,0,1-203-101.3A95.69,95.69,0,0,0,36,130.4C36,164,53.53,193.7,80,211.1A97.5,97.5,0,0,1,35.22,199v1.2c0,47,34,86.1,79,95a100.76,100.76,0,0,1-25.94,3.4,94.38,94.38,0,0,1-18.51-1.8c12.51,38.5,48.92,66.5,92.05,67.3A199.59,199.59,0,0,1,39.5,405.6,203,203,0,0,1,16,404.2,278.68,278.68,0,0,0,166.74,448c181.36,0,280.44-147.7,280.44-275.8,0-4.2-.11-8.4-.31-12.5A198.48,198.48,0,0,0,496,109.5Z"></path></svg>
              </a>
            </li>
            <li class="main-header__social-item">
              <a href="https://www.instagram.com/gesuitiegiovani/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" fill="currentColor"><path d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z"></path><path d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z"></path></svg>
              </a>
            </li>
            <li class="main-header__social-item">
              <a href="https://www.youtube.com/user/GesuitiItalia">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" fill="currentColor"><path d="M508.64 148.79c0-45-33.1-81.2-74-81.2C379.24 65 322.74 64 265 64h-18c-57.6 0-114.2 1-169.6 3.6C36.6 67.6 3.5 104 3.5 149 1 184.59-.06 220.19 0 255.79q-.15 53.4 3.4 106.9c0 45 33.1 81.5 73.9 81.5 58.2 2.7 117.9 3.9 178.6 3.8q91.2.3 178.6-3.8c40.9 0 74-36.5 74-81.5 2.4-35.7 3.5-71.3 3.4-107q.34-53.4-3.26-106.9zM207 353.89v-196.5l145 98.2z"></path></svg>
              </a>
            </li>
          </ul>
          <div class="main-header__page-settings-mobile hide-on-xl m-right--mini">
            <div class="text-size-controls" aria-label="Select page text size">
              <input type="radio" id="text-size-small-mobile" name="text-size-controls" value="small"/>
              <label class="small" for="text-size-small-mobile"><span class="screen-reader-text">Small</span>A</label>
              <input type="radio" id="text-size-default-mobile" name="text-size-controls" value="default"/>
              <label class="default" for="text-size-default-mobile"><span class="screen-reader-text">Default</span>A</label>
              <input type="radio" id="text-size-large-mobile" name="text-size-controls" value="large"/>
              <label class="large" for="text-size-large-mobile"><span class="screen-reader-text">Large</span>A</label>
            </div>
            <div class="color-theme-controls">
              <button class="color-theme-toggle js-color-theme-toggle">
                <span class="screen-reader-text">Toggle color theme</span>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><circle cx="256" cy="256" r="208" style="fill:none;stroke:currentColor;stroke-linejoin:round;stroke-width:32px"/><path style="fill:currentColor;" d="M256,464C141.12,464,48,370.88,48,256S141.12,48,256,48Z"/></svg>
              </button>
            </div>
          </div>
          <div class="main-header__language-mobile nav__item nav__item--has-dropdown js-dropdown">
            <button class="nav__link nav__link--top-level js-dropdown-trigger" aria-haspopup="true" aria-expanded="false">
              IT
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" stroke-width="2" class="icon"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </button>
            <ul class="nav__dropdown js-dropdown-content">
              <li class="nav__item">
                <a class="nav__link nav__link--nested" href="#">EN</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</header>
