.decree-archive-title {
  &::after {
    content: '';
    display: block;
    max-width: 140px;
    height: 1px;
    background: whiten($primary, 2);
    margin-top: 36px;
    margin-bottom: 36px;
  }
}
