.leadership-program {
  .highlight {
    &__wrapper {
      @include distance('padding-top', 'small');

      margin-left: 0;
    }

    &__text {
      ul li {
        margin: 1rem 0;
      }
    }
  }
}
