.resources-documents {
  .adv__btn a {
    margin-right: 1.5rem;
  }
}

.resources-decrees {
  .row {
    justify-content: center;
  }

  .topic__header {
    margin-bottom: 0;
  }

  .topic__text {
    color: var(--primary-light-3);
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: auto;
  }
}
